<page-header title="دور جديد" pretitle="الأدوار"></page-header>
<form class="row" name="myForm" request="createRole">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="name">الاسم</label>
            <input type="text" class="form-control" ng-class="(createRole.errors.name != null) ? 'is-invalid' : ''" id="name" ng-model="role.name" ng-change="createRole.errors.name = null" placeholder="الاسم الانكليزي .." required />
            <div ng-show="createRole.errors.name != null" class="invalid-feedback">{{ createRole.errors.name[0] }}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="title_ar">الوصف العربي</label>
            <input type="text" class="form-control" ng-class="(createRole.errors['title.ar'] != null) ? 'is-invalid' : ''" id="title_ar" ng-model="role.title.ar" ng-change="createRole.errors['title.ar'] = null" placeholder="الوصف العربي .." required />
            <div ng-show="createRole.errors['title.ar'] != null" class="invalid-feedback">{{ createRole.errors['title.ar'][0] }}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="title_en">الوصف الانكليزي</label>
            <input type="text" class="form-control" ng-class="(createRole.errors['title.en'] != null) ? 'is-invalid' : ''" id="title_en" ng-model="role.title.en" ng-change="createRole.errors['title.en'] = null" placeholder="الوصف الانكليزي .." required />
            <div ng-show="createRole.errors['title.en'] != null" class="invalid-feedback">{{ createRole.errors['title.en'][0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="section_id">القسم</label>
            <select2 model="role.section_id" ajax-url="sections/search" error-model="createRole.errors.section_id" required> </select2>
            <div ng-show="createRole.errors['section_id'] != null" class="invalid-feedback">{{ createRole.errors['section_id'][0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="has_multiple_assignees">يمكن إسنادها لأكثر من مستخدم</label>
            <select id="has_multiple_assignees" class="custom-select" name="has_multiple_assignees" ng-model="role.has_multiple_assignees" ng-change="createRole.errors.has_multiple_assignees = null" ng-init="role.has_multiple_assignees = '1'">
                <option value="1">نعم</option>
                <option value="0">لا</option>
            </select>
            <div ng-show="createRole.errors['has_multiple_assignees'] != null" class="invalid-feedback">{{ createRole.errors['has_multiple_assignees'][0] }}</div>
        </div>
    </div>


    <div class="col-12">
        <submit-button form="myForm" icon="fe fe-plus">اضافة</submit-button>
    </div>
</form>
