<page-header title="قائمة الأدوار" pretitle="الأدوار">
    <a href="{{ $r('roles.add') }}" class="btn btn-primary" ng-if="$auth.can('create role')">
        <i class="fe fe-plus"></i>&nbsp; دور جديدة
    </a>
</page-header>

<datatable datalist="roles">
    <table>
        <thead>
            <tr>
                 <th class="text-center">#</th>
                <th class="text-center">الاسم العربي</th>
                <th class="text-center">الاسم الانكليزي</th>
                <th class="text-center">خيارات</th>
            </tr>
        </thead>
        
        <tbody>
            <tr ng-repeat="d in roles.data">
                <td class="align-middle text-center">{{ d.id }}</td>
                <td class="align-middle text-center">{{ d.ar_name }}</td>
                <td class="align-middle text-center">{{ d.name }}</td>
                <td class="align-middle text-center h2">
                    <dropdown>
                        <dropdown-item href="{{ $r('roles.overview', {id: d.id}) }}"><i class="fe fe-eye"></i> نظرة عامة</dropdown-item>
                        <dropdown-item href="{{ $r('roles.edit', {id: d.id}) }}"><i class="fe fe-edit-2"></i> تعديل</dropdown-item>
                        <dropdown-item href="{{ $r('roles.permissions', {id: d.id}) }}"><i class="fe fe-grid"></i> الصلاحيات</dropdown-item>
                    </dropdown>
                </td>
            </tr>
        </tbody>
    </table>
</datatable>
