<page-header title="قائمة الحالات" pretitle="الحالات">
    <a href="{{ $r('programs.medical.cases.add') }}" class="btn btn-primary"> <i class="fe fe-plus"></i>&nbsp; حالة جديدة </a>
</page-header>

<datatable datalist="cases">
    <table>
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">الاسم</th>
                <th class="text-center">الرقم التسلسلي</th>
                <th class="text-center">اسم المستفيد</th>
                <th class="text-center">المكان</th>
                <th class="text-center">المبلغ المطلوب</th>
                <th class="text-center">الوارد</th>
                <th class="text-center">المتبقي</th>
                <th class="text-center">المصروف</th>
                <th class="text-center">الباقي</th>
                <th class="text-center">الحالة</th>
                <th class="text-center">خيارات</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="case in cases.data">
                <td class="align-middle text-center">{{ case.id }}</td>
                <td class="align-middle text-center">{{ case.beneficiary_name }}</td>
                <td class="align-middle text-center">{{ case.serial_number }}</td>
                <td class="align-middle text-center">{{ case.beneficiary_name }}</td>
                <td class="align-middle text-center">{{ case.place.fullname }}</td>
                <td class="align-middle text-center">{{ case.required }}</td>
                <td class="align-middle text-center">{{ case.received }}</td>
                <td class="align-middle text-center">{{ case.left_to_complete }}</td>
                <td class="align-middle text-center">{{ case.spent }}</td>
                <td class="align-middle text-center">{{ case.left }}</td>
                <td class="align-middle text-center">
                    <span class="badge" style="background-color:orange"  ng-if="case.status =='unfunded'"><i class="fe fe-x"></i>لم يتم تأميينها</span>
                    <span class="badge badge-soft-success" ng-if="case.status =='funded'"><i class="fe fe-check"></i>تم تأمينها</span>
                    <span class="badge badge-soft-danger" ng-if="case.status =='canceled'"><i class="fe fe-x"></i>ملغاة</span>
                    <span class="badge badge-soft-secondary" ng-if="case.status =='spent'"><i class="fe fe-check"></i>تم صرفها</span>
                </td>
                <td class="align-middle text-center h2">
                    <dropdown>
                        <dropdown-item href="{{ $r('programs.medical.cases.overview', {id: case.id}) }}"><i class="fe fe-eye"></i> نظرة عامة</dropdown-item>
                        <dropdown-item href="{{ $r('programs.medical.cases.edit', {id: case.id}) }}"><i class="fe fe-edit-2"></i> تعديل</dropdown-item>
                        <dropdown-item href="{{ $r('programs.medical.cases.contents', {id: case.id}) }}"><i class="fe fe-align-justify"></i> المحتوى</dropdown-item>
                        <dropdown-item href="#" ng-show="!case.is_hidden" ng-click="hideCaseRequest(case.id)"><i class="fe fe-eye-off"></i> إخفاء</dropdown-item>
                        <dropdown-item href="#" ng-show="case.is_hidden" ng-click="unhideCaseRequest(case.id)"><i class="fe fe-rotate-cw"></i> إظهار</dropdown-item>
                        <dropdown-item href="#" ng-show="!case.archived" ng-click="archiveCaseRequest(case.id)"><i class="fe fe-archive"></i> أرشفة</dropdown-item>
                        <dropdown-item href="#" ng-show="case.archived" ng-click="unarchiveCaseRequest(case.id)"><i class="fe fe-arrow-left"></i> إلغاء الأرشفة</dropdown-item>
                        <dropdown-item href="#" ng-show="!case.documented" ng-click="documentCaseRequest(case.id)"><i class="fe fe-check"></i> توثيق</dropdown-item>
                        <dropdown-item href="#" ng-show="case.documented" ng-click="undocumentCaseRequest(case.id)"><i class="fe fe-shield-off"></i> إلغاء التوثيق</dropdown-item>
                        <dropdown-item href="#" ng-show="!case.ready_to_publish" ng-click="readyToPublishCaseRequest(case.id)"><i class="fe fe-share"></i> امكانية النشر</dropdown-item>
                    </dropdown>
                </td>
            </tr>
        </tbody>
    </table>
</datatable>
