<page-header title="قائمة الإختصارات" pretitle="الإختصارات">
  <a href="{{ $r('shortcuts.add') }}" class="btn btn-primary">
    <i class="fe fe-plus"></i>&nbsp; اختصار جديد
  </a>
</page-header>

<datatable datalist="shortcuts">
  <table>
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">الاسم</th>
        <th class="text-center">المسار</th>
        <th class="text-center">خيارات</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="shortcut in shortcuts.data">
        <td class="align-middle text-center">{{ shortcut.id }}</td>
        <td class="align-middle text-center">{{ shortcut.content_name }}</td>
        <td class="align-middle text-center">{{ shortcut.path }}</td>
        <td class="align-middle text-center h2">
          <dropdown>
            <dropdown-item href="{{ $r('shortcuts.overview', {id: shortcut.id}) }}"
              ><i class="fe fe-eye"></i> نظرة عامة</dropdown-item
            >
            <dropdown-item href="{{ $r('shortcuts.edit', {id: shortcut.id}) }}"
              ><i class="fe fe-edit-2"></i> تعديل</dropdown-item
            >
          </dropdown>
        </td>
      </tr>
    </tbody>
  </table>
</datatable>
