<page-header title="" pretitle=""></page-header>

<style>
    .action-btn {
        width: 31px;
        padding: 1px;
        margin: 0px;
        z-index: 100;
    }

    .add-new-record {
        position: absolute;
        left: -12px;
        bottom: -7px;
    }

    .delete-record {
        position: absolute;
        left: -19px;
        bottom: 17px;
        color: red;
    }
</style>

<form class="row" name="PaymentForm" request="createPayment" model="payment">
    <div class="col-12 col-md-6 col-xl-4">
        <div class="form-group">
            <label>الصندوق</label>
            <select2
                model="payment.account_id"
                placeholder="الصندوق"
                ajax-url="payments/accounts"
                select-callback="onAccountSelection(selections)">
            </select2>
        </div>
    </div>

    <div class="col-12 col-md-6 col-xl-4">
        <div class="row">
            <label>سعر صرف الدولار</label>
            <div class="input-group mb-3" dir="ltr">
                <input ng-model="payment.fx_rate" type="text" class="form-control" ng-change="onFxCurrencyChange()" placeholder="سعر صرف الدولار">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" ng-click="updateFxCurrency()" type="button"><span
                        class="fe fe-refresh-ccw me-4"></span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="form-group">
            <label>تاريخ وصول الدفعة</label>
            <input type="date" class="form-control" ng-model="payment.received_at"
                   ng-error="createPayment.errors.received_at" placeholder="تاريخ وصول الدفعة  .." required>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>بلد التبرع</label>
            <select2
                model="payment.country_code"
                placeholder="بلد التبرع"
                ajax-url="countries/search">
            </select2>
        </div>
    </div>


    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>المتبرع</label>
            <select2 model="payment.donor_id" placeholder="فاعل خير او قم باختيار متبرع" ajax-url="donors/search"
                     error-model="payment.errors.donor_id"></select2>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>مرجعية الدفعة</label>
            <input class="form-control" ng-model="payment.reference" placeholder="مرجعية الدفعة" required>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label>قيمة الدفعة بالدولار</label>
            <input class="form-control" ng-change="onExpectedTotalAmountChange()" ng-model="payment.expectedTotalAmountInFx"
                   placeholder="قيمة الدفعة بالدولار" required>
        </div>
    </div>

    <div class="col-12">
        <div class="card mb-0" style="border-bottom-right-radius:0">
            <div class="card-body text-center p-1">
                <table class="table table-sm table-nowrap table-striped mb-0">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">المبلغ بالعملة الأصلية</th>
                        <th scope="col">الغاية</th>
                        <th scope="col">الوصف</th>
                        <th scope="col">اسم الحساب</th>
                        <th scope="col">نسبة الإقتطاع</th>
                        <th scope="col">المبلغ المقتطع بالعملة الأصلية</th>
                        <th scope="col">البرنامج</th>
                        <th scope="col">القسم</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in payment.purposes track by $index" class="position-relative">
                        <th scope="row">{{$index + 1}}</th>
                        <td style="width:100px">
                            <input ng-change="onItemAmountChange(item)" ng-model="item.amount" class="form-control"
                                   placeholder="قيمة الدفعة بالعملة المتغير"
                                   required>
                        </td>
                        <td style="width:200px">
                            <select2
                                model="item.purpose_id"
                                placeholder="الغاية"
                                ajax-url="purposes/search"
                                select-callback="onPurposeSelection(item,$index,selections)">
                            </select2>
                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.account_name}}</td>
                        <td style="width:100px">
                            <select2 id="deduction_ratios_{{$index}}"
                                     model="item.deduction_ratio_id"
                                     placeholder="نسبة الاقتطاع الافتراضية"
                                     ajax-url="deduction_ratios/search"
                                     select-callback="onDeductionRatioSelection(item,selections)">
                            </select2>
                        </td>
                        <td>{{item.deduction_ratio_amount}}</td>
                        <td>{{item.program_name}}</td>
                        <td>{{item.section_name}}
                            <button type="button" class="btn btn-white action-btn delete-record"
                                    ng-click="deletePurpose(item)" ng-show="!$last">
                                <span class="fe fe-minus-square"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-white action-btn add-new-record" ng-click="addNewPurpose()">
                    <span class="fe fe-plus-square"></span>
                </button>
            </div>
            <div class="progress progress-sm" ng-show="payment.expectedTotalAmount >= 0" dir="ltr">
                <div class="progress-bar"
                     role="progressbar"
                     ng-style="{ 'width': completionPercent + '%', 'background-color': selectedColor }"
                     aria-valuenow="{{completionPercent}}"
                     aria-valuemin="1"
                     aria-valuemax="100">
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card p-2" style="border-top-right-radius:0">
            <div class="card-body text-center p-2">
                <div class="d-flex">
                    <div class="col-6 ml-auto text-right">
                        <div class="row">
                            <strong> مجموع التبرعات بدون الاقتطاعات : </strong>
                            {{payment.totalAmountWithoutDeductionRatio}}
                        </div>
                        <div class="row my-3">
                            <strong>مجموع الاقتطاعات : </strong> {{payment.calculatedDeductionRatio}}
                        </div>
                        <div class="row my-3">
                            <strong>المجموع الكامل : </strong> {{payment.calculatedTotalAmount}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row">
            <submit-button class="mx-2"  form="PaymentForm" icon="fe fe-plus">حفظ
            </submit-button>
            <submit-button class="mx-2" disabled="payment.purposes.length==0" form="PaymentForm" icon="fe fe-plus">حفظ
                وادخال
                دفعة جديدة
            </submit-button>
        </div>
    </div>
</form>

<pre dir="ltr" style="text-align: left;">  {{ payment | json}}</pre>

