<include-header/>

<form class="row" name="DeductionRatiosForm" request="addDeductionRatiosAccount">
    <div class="col-md-6">
        <div class="form-group">
            <label>نوع الحساب</label>
            <select2
                model="selectedAccount"
                placeholder="نوع الحساب"
                ajax-url="accounts/search"
                ajax-data="{type: 'sub'}"
                select-callback="onSelected(selections)">
            </select2>
            <div class="text-muted mt-1" ng-show="nextExpectedSubCode != null">
                The next expected account code : <span
                style="text-decoration:underline">{{nextExpectedSubCode}}</span>
            </div>
        </div>
    </div>

    <div class="col-12">
        <submit-button form="DeductionRatiosForm" icon="fe fe-plus" ng-click="addDeductionRatiosAccount();">اضافة</submit-button>
    </div>
</form>

<br>
<simple-datatable data="accounts">
    <table>
        <thead>
        <tr>
            <th class="text-center">رقم الحساب</th>
            <th class="text-center">رمز الحساب</th>
            <th class="text-center">إسم الحساب</th>
            <th class="text-center">عملة الحساب</th>
            <th class="text-center">خيارات</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="d in accounts">
            <td class="align-middle text-center">{{ d.id }}</td>
            <td class="align-middle text-center">{{ d.code }}</td>
            <td class="align-middle text-center">{{ d.account_name }}</td>
            <td class="align-middle text-center">{{ d.currency }}</td>
            <td class="align-middle text-center h2">
                <dropdown>
                    <dropdown-item href="javascript:;" ng-click="deleteDeductionRatiosAccount(d.id)"><i class="fe fe-trash-2"></i>
                        حذف
                    </dropdown-item>
                </dropdown>
            </td>
        </tr>
        </tbody>
    </table>
</simple-datatable>
