<include-header />

<form class="row" name="updateCaseContentForm" request="updateCaseContentsRequest">

    <div class="col-12">
        <div class="form-group">
            <label for="title">العنوان </label>
            <input id="title" class="form-control" type="text" ng-model="case.title" ng-error="updateCaseContentsRequest.errors.title" required placeholder="ادخل العنوان باللغة العربية..."/>
        </div>
    </div>

    <div class="col-12">
        <div class="form-group">
            <label for="description" class="locale-label">الوصف</label>
            <textarea id="description" class="form-control" type="text" ng-model="case.description" ng-error="updateCaseContentsRequest.errors.description" required placeholder="ادخل الوصف باللغة العربية..."></textarea>
        </div>
    </div>

    <div class="col-12">
        <div class="form-group">
            <label for="details">التفاصيل</label>
            <textarea id="details" dir="rtl" class="form-control" ng-model="case.details" placeholder="ادخل التفاصيل باللغة العربية..."> {{ case.details }} </textarea>
        </div>
    </div>
   

    <div class="col-12">
        <submit-button form="updateCaseContentForm" icon="fe fe-edit">تعديل</submit-button>
    </div>
</form>
