<include-header />

<form class="row" name="updateCaseForm" request="updateCaseRequest">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="beneficiary_name">اسم المستفيد</label>
            <input id="beneficiary_name" class="form-control" type="text" ng-model="case.beneficiary_name" ng-error="updateCaseRequest.errors.beneficiary_name" required />
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="beneficiaries_count">عدد المستفيدين</label>
            <input id="beneficiaries_count" class="form-control" type="number" ng-model="case['beneficiaries_count']" ng-error="updateCaseRequest.errors.beneficiaries_count" required />
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="place_id">المكان</label>
            <select2 model="case.place_id" ajax-url="places/search" error-model="updateCaseRequest.errors.place_id" required>
                <option value="{{case.place.id}}">{{case.place.name}}</option>
            </select2>
        </div>
    </div>

    <div class="col-12">
        <submit-button form="updateCaseForm" icon="fe fe-edit">تعديل</submit-button>
    </div>
</form>
