<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="ar_name">اسم المتطوع</label>
            <input type="text" class="form-control" ng-class="(errors.ar_name != null) ? 'is-invalid' : ''" id="ar_name" name="ar_name" ng-model="volunteer.ar_name" ng-change="errors.ar_name = null" placeholder="اسم المتطوع ..." autocomplete="off" autofocus="off">
            <div ng-show="errors.ar_name != null" class="invalid-feedback">{{ errors.ar_name[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="en_name">اسم المتطوع بالانجليزي</label>
            <input type="text" class="form-control" ng-class="(errors.en_name != null) ? 'is-invalid' : ''" id="en_name" name="en_name" ng-model="volunteer.en_name" ng-change="errors.en_name = null" placeholder="اسم المتطوع بالانجليزي ..." autocomplete="off" autofocus="off">
            <div ng-show="errors.en_name != null" class="invalid-feedback">{{ errors.en_name[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="is_male">الجنس</label>
            <select class="form-control" ng-class="(errors.is_male != null) ? 'is-invalid' : ''" id="is_male" name="is_male" ng-model="volunteer.is_male" ng-init="volunteer.is_male = '1'" ng-change="errors.is_male = null">
                <option value="1">ذكر</option>
                <option value="0">أنثى</option>
            </select>
            <div ng-show="errors.is_male != null" class="invalid-feedback">{{ errors.is_male[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="birthday">تاريخ الميلاد</label>
            <input type="date" class="form-control flatpickr-input" ng-class="(errors.birthday != null) ? 'is-invalid' : ''" id="birthday" name="birthday" ng-model="volunteer.birthday" ng-change="errors.birthday = null" placeholder="تاريخ الميلاد ..." autocomplete="off" autofocus="off">
            <div ng-show="errors.birthday != null" class="invalid-feedback">{{ errors.birthday[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="is_married">الحالة الاجتماعية</label>
            <select class="form-control" ng-class="(errors.is_married != null) ? 'is-invalid' : ''" id="is_married" name="is_married" ng-model="volunteer.is_married" ng-init="volunteer.is_married = '0'" ng-change="errors.is_married = null">
                <option value="0">أعزب</option>
                <option value="1">متزوج</option>
            </select>
            <div ng-show="errors.is_married != null" class="invalid-feedback">{{ errors.is_married[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="children_number">عدد الأولاد</label>
            <select ng-disabled="volunteer.is_married == 0" class="form-control" ng-class="(errors.children_number != null) ? 'is-invalid' : ''" id="children_number" name="children_number" ng-model="volunteer.children_number" ng-init="volunteer.children_number = 0" ng-change="errors.children_number = null">
                <option ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10]" ng-value="i">{{ i }}</option>
            </select>
            <div ng-show="errors.children_number != null" class="invalid-feedback">{{ errors.children_number[0] }}</div>
        </div>
    </div>
</div>

<hr class="mt-5 mb-5">

<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="nationality_code">الجنسية</label>
            <select class="form-control select2-single" ng-class="(errors.nationality_code != null) ? 'is-invalid' : ''" id="nationality_code" name="nationality_code" ng-model="volunteer.nationality_code" ng-init="volunteer.nationality_code = ''" ng-change="errors.nationality_code = null">
                <option value="">غير محددة</option>
                <option ng-repeat="c in countries" value="{{ c.code }}">{{ c.ar_nationality }}</option>
            </select>
            <div ng-show="errors.nationality_code != null" class="invalid-feedback">{{ errors.nationality_code[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="original_country_code">البلد الأصل</label>
            <select class="form-control select2-single" ng-class="(errors.original_country_code != null) ? 'is-invalid' : ''" id="original_country_code" name="original_country_code" ng-model="volunteer.original_country_code" ng-init="volunteer.original_country_code = ''" ng-change="errors.original_country_code = null">
                <option value="">غير محدد</option>
                <option ng-repeat="c in countries" value="{{ c.code }}">{{ c.ar_name }}</option>
            </select>
            <div ng-show="errors.original_country_code != null" class="invalid-feedback">{{ errors.original_country_code[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="original_city">المدينة الأصل</label>
            <input type="text" class="form-control" ng-class="(errors.original_city != null) ? 'is-invalid' : ''" id="original_city" name="original_city" ng-model="volunteer.original_city" ng-change="errors.original_city = null" placeholder="المدينة الأصل ..." autocomplete="off" autofocus="off">
            <div ng-show="errors.original_city != null" class="invalid-feedback">{{ errors.original_city[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="current_country_code">البلد الحالي</label>
            <select class="form-control select2-single" ng-class="(errors.current_country_code != null) ? 'is-invalid' : ''" id="current_country_code" name="current_country_code" ng-model="volunteer.current_country_code" ng-init="volunteer.current_country_code = ''" ng-change="errors.current_country_code = null">
                <option value="">غير محدد</option>
                <option ng-repeat="c in countries" value="{{ c.code }}">{{ c.ar_name }}</option>
            </select>
            <div ng-show="errors.current_country_code != null" class="invalid-feedback">{{ errors.current_country_code[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="current_city">المدينة الحالية</label>
            <input type="text" class="form-control" ng-class="(errors.current_city != null) ? 'is-invalid' : ''" id="current_city" name="current_city" ng-model="volunteer.current_city" ng-change="errors.current_city = null" placeholder="المدينة الحالية ..." autocomplete="off" autofocus="off">
            <div ng-show="errors.current_city != null" class="invalid-feedback">{{ errors.current_city[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="address">العنوان الحالي</label>
            <input type="text" class="form-control" ng-class="(errors.address != null) ? 'is-invalid' : ''" id="address" name="address" ng-model="volunteer.address" ng-change="errors.address = null" placeholder="العنوان الحالي ..." autocomplete="off" autofocus="off">
            <div ng-show="errors.address != null" class="invalid-feedback">{{ errors.address[0] }}</div>
        </div>
    </div>
</div>

<hr class="mt-5 mb-5">

<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="joining_date">تاريخ الانضمام</label>
            <input type="text" class="form-control flatpickr-input" data-options="{minDate: '2012-10-26'}" ng-class="(errors.joining_date != null) ? 'is-invalid' : ''" id="joining_date" name="joining_date" ng-model="volunteer.joining_date" ng-change="errors.joining_date = null" placeholder="تاريخ الانضمام ..." autocomplete="off" autofocus="off">
            <div ng-show="errors.joining_date != null" class="invalid-feedback">{{ errors.joining_date[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="joined_by">المتطوع المساهم بالانضمام</label>
            <select class="form-control select2-single" ng-class="(errors.joined_by != null) ? 'is-invalid' : ''" id="joined_by" name="joined_by" ng-model="volunteer.joined_by" ng-init="volunteer.joined_by = '0'" ng-change="errors.joined_by = null">
                <option value="0">غير محدد</option>
                <option ng-repeat="v in volunteersList" ng-value="v.id">{{ v.ar_name }}</option>
            </select>
            <div ng-show="errors.joined_by != null" class="invalid-feedback">{{ errors.joined_by[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="is_employee">صفة العمل</label>
            <select class="form-control" ng-class="(errors.is_employee != null) ? 'is-invalid' : ''" id="is_employee" name="is_employee" ng-model="volunteer.is_employee" ng-init="volunteer.is_employee = '0'" ng-change="errors.is_employee = null">
                <option value="0">متطوع</option>
                <option value="1">موظف</option>
            </select>
            <div ng-show="errors.is_employee != null" class="invalid-feedback">{{ errors.is_employee[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="salary">بدل التطوع الشهري</label>
            <input type="number" class="form-control" ng-class="(errors.salary != null) ? 'is-invalid' : ''" id="salary" name="salary" ng-model="volunteer.salary" ng-change="errors.salary = null" placeholder="بدل التطوع الشهري ..." autocomplete="off" autofocus="off">
            <div ng-show="errors.salary != null" class="invalid-feedback">{{ errors.salary[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="is_resigned">الوضع الحالي للعمل</label>
            <select class="form-control" ng-class="(errors.is_resigned != null) ? 'is-invalid' : ''" id="is_resigned" name="is_resigned" ng-model="volunteer.is_resigned" ng-init="volunteer.is_resigned = '0'" ng-change="errors.is_resigned = null">
                <option value="0">جاري</option>
                <option value="1">متوقف / مستقيل</option>
            </select>
            <div ng-show="errors.is_resigned != null" class="invalid-feedback">{{ errors.is_resigned[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="job_title">المسمى الوظيفي</label>
            <input type="text" class="form-control" ng-class="(errors.job_title != null) ? 'is-invalid' : ''" id="job_title" name="job_title" ng-model="volunteer.job_title" ng-change="errors.job_title = null" placeholder="المسمى الوظيفي الحالي ..." autocomplete="off" autofocus="off">
            <div ng-show="errors.job_title != null" class="invalid-feedback">{{ errors.joined_by[0] }}</div>
        </div>
    </div>
</div>

<hr class="mt-5 mb-5">

<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="education_level">المستوى التعليمي</label>
            <select class="form-control" ng-class="(errors.education_level != null) ? 'is-invalid' : ''" id="education_level" name="education_level" ng-model="volunteer.education_level" ng-init="volunteer.education_level = '1'" ng-change="errors.education_level = null">
                <option value="1">اعدادي</option>
                <option value="2">ثانوي</option>
                <option value="3">جامعي</option>
                <option value="4">دراسات عليا</option>
            </select>
            <div ng-show="errors.education_level != null" class="invalid-feedback">{{ errors.education_level[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="faculty_name">الكلية أو الفرع الجامعي</label>
            <input type="text" class="form-control" ng-class="(errors.faculty_name != null) ? 'is-invalid' : ''" id="faculty_name" name="faculty_name" ng-model="volunteer.faculty_name" ng-change="errors.faculty_name = null" placeholder="اسم الكلية أو الفرع الجامعي ..." autocomplete="off" autofocus="off">
            <div ng-show="errors.faculty_name != null" class="invalid-feedback">{{ errors.faculty_name[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-12">
        <div class="form-group">
            <label for="education_details">تفاصيل المستوى التعليمي</label>
            <textarea class="form-control" ng-class="(errors.education_details != null) ? 'is-invalid' : ''" id="education_details" name="education_details" ng-model="volunteer.education_details" ng-change="errors.education_details = null" placeholder="تفاصيل أخرى عن الخبرة التعليمية ..." autocomplete="off" autofocus="off" rows="4"></textarea>
            <div ng-show="errors.education_details != null" class="invalid-feedback">{{ errors.joined_by[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-12">
        <div class="form-group">
            <label for="work_experience">خبرات العمل</label>
            <textarea class="form-control" ng-class="(errors.work_experience != null) ? 'is-invalid' : ''" id="work_experience" name="work_experience" ng-model="volunteer.work_experience" ng-change="errors.work_experience = null" placeholder="خبرات  العمل السابقة والحالية والأماكن مع الفترات الزمنية التي عمل بها ..." autocomplete="off" autofocus="off" rows="4"></textarea>
            <div ng-show="errors.work_experience != null" class="invalid-feedback">{{ errors.joined_by[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-12">
        <div class="form-group">
            <label for="work_interests">الاهتمامات المهنية</label>
            <textarea class="form-control" ng-class="(errors.work_interests != null) ? 'is-invalid' : ''" id="work_interests" name="work_interests" ng-model="volunteer.work_interests" ng-change="errors.work_interests = null" placeholder="اهتمامات العمل او المجالات التي يطمح المتطوع الخوض فيها ..." autocomplete="off" autofocus="off" rows="4"></textarea>
            <div ng-show="errors.work_interests != null" class="invalid-feedback">{{ errors.work_interests[0] }}</div>
        </div>
    </div>
</div>


<hr class="mt-4 mb-4">

<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="email">البريد الالكتروني</label>
            <input type="email" class="form-control" ng-class="(errors.email != null) ? 'is-invalid' : ''" id="email" name="email" ng-model="volunteer.email" ng-change="errors.email = null" placeholder="البريد الالكتروني ...">
            <div ng-show="errors.email != null" class="invalid-feedback">{{ errors.email[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="phone">رقم الهاتف</label>
            <input type="tel" class="form-control" ng-class="(errors.phone != null) ? 'is-invalid' : ''" id="phone" name="phone" ng-model="volunteer.phone" ng-change="errors.phone = null" placeholder="رقم الهاتف ..." autocomplete="off" autofocus="off">
            <div ng-show="errors.phone != null" class="invalid-feedback">{{ errors.phone[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="whatsapp">رقم الواتس آب</label>
            <input type="phone" class="form-control" ng-class="(errors.whatsapp != null) ? 'is-invalid' : ''" id="whatsapp" name="whatsapp" ng-model="volunteer.whatsapp" ng-change="errors.whatsapp = null" placeholder="رقم الواتس آب ..." autocomplete="off" autofocus="off">
            <div ng-show="errors.whatsapp != null" class="invalid-feedback">{{ errors.whatsapp[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="linkedin">حساب اللينكد ان</label>
            <input type="url" class="form-control" ng-class="(errors.linkedin != null) ? 'is-invalid' : ''" id="linkedin" name="linkedin" ng-model="volunteer.linkedin" ng-change="errors.linkedin = null" placeholder="رابط حساب اللينكد ان ..." autocomplete="off" autofocus="off">
            <div ng-show="errors.linkedin != null" class="invalid-feedback">{{ errors.linkedin[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="facebook">حساب الفيسبوك</label>
            <input type="url" class="form-control" ng-class="(errors.facebook != null) ? 'is-invalid' : ''" id="facebook" name="facebook" ng-model="volunteer.facebook" ng-change="errors.facebook = null" placeholder="رابط حساب الفيسبوك ..." autocomplete="off" autofocus="off">
            <div ng-show="errors.facebook != null" class="invalid-feedback">{{ errors.facebook[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="instagram">حساب الانستغرام</label>
            <input type="url" class="form-control" ng-class="(errors.instagram != null) ? 'is-invalid' : ''" id="instagram" name="instagram" ng-model="volunteer.instagram" ng-change="errors.instagram = null" placeholder="رابط حساب الانستاغرام ..." autocomplete="off" autofocus="off">
            <div ng-show="errors.instagram != null" class="invalid-feedback">{{ errors.instagram[0] }}</div>
        </div>
    </div>
</div>
<hr class="mt-4 mb-4">

<div class="text-center pt-2 pb-2">
    <button type="button" class="btn btn-block btn-primary" ng-click="createVolunteer();">
        <i ng-hide="isSubmitting" class="fe fe-plus"></i>
        <div ng-show="isSubmitting" class="spinner-border spinner-border-sm" role="status"><span class="sr-only">Loading...</span></div>
        &nbsp;اضافة
    </button>
</div>


<script>
    $('#volunteers-navs').collapse('show');
    $('.nav-link').removeClass('active');
    $('#volunteers-navs .add-volunteer').addClass('active');
    
    $(".flatpickr-input").flatpickr();
    $('.select2-single').select2();
</script>