<include-header/>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-header-title">
                    معلومات المستلم
                </h4>
            </div>

            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">الاسم</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ receiver.name }}</h4>
                    </div>
                </div>

                <hr>

                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">الدولة</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ receiver.country_name }}</h4>
                    </div>
                </div>

                <hr>

                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">الحالة</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ receiver.status }}</h4>
                    </div>
                </div>
              <hr>
            </div>
        </div>
    </div>
</div>
