<include-header/>

<datatable  datalist="transactions">
    <table class="table table-sm card-table">
        <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">المبلغ</th>
            <th class="text-center">التاريخ</th>
            <th class="text-center">الوصف</th>
            <th class="text-center">المتبرع</th>
            <th class="text-center">بواسطة</th>
            <th class="text-center">ملاحظات</th>
            <th class="text-center">خيارات</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-show="transactions.length == 0">
            <td colspan="10" class="text-center">
                <div class="pt-3 pb-2 h4" ng-show="transactions.length == 0">لا يوجد أية عناصر في هذه القائمة</div>
            </td>
        </tr>
        <tr ng-repeat="u in transactions.data" >
            <td class="align-middle text-center" ng-class="{'bg-danger text-light': u.amount <0 }">{{ u.id }}</td>
            <td class="align-middle text-center ltr">${{ u.amount }}</td>
            <td class="align-middle text-center datatable-date">{{ u.created_at }}</td>
            <td class="align-middle text-center">{{ u.extra_description }}</td>
            <td class="align-middle text-center">{{ u.donor_name.name || "لا يوجد" }}<br>{{ u.donor_name.email }}</td>
            <td class="align-middle text-center">{{ u.created_by_name.name }}<br>{{ u.created_by_name.email }}</td>
            <td class="align-middle text-center">
                <a ng-show="u.notes!=null" href="javascript:;" data-toggle="popover" data-content="{{ u.notes }}">ملاحظة</a>
            </td>
            <td class="align-middle text-center h2">
                <dropdown>
                    <dropdown-item href="javascript:;" ng-click="deleteTransaction(u);"><i class="fe fe-trash"></i> حذف</dropdown-item>
                </dropdown>
            </td>
        </tr>
        </tbody>
    </table>
</datatable>
