<page-header title="" pretitle=""></page-header>

<form class="row" name="officeForm" request="updateOffice">

          <div class="col-12 col-md-6">
                    <div class="form-group">
                              <label for="name">الاسم</label>
                              <input type="text" class="form-control" ng-class="(updateOffice.errors.name != null) ? 'is-invalid' : ''" id="name" ng-model="office.name" ng-change="updateOffice.errors.name = null" placeholder="الاسم .." required>
                              <div ng-show="updateOffice.errors.name != null" class="invalid-feedback">{{ updateOffice.errors.name[0] }}</div>
                    </div>
          </div>

          <div class="col-12 col-md-6">
                    <div class="form-group">
                              <label for="lng">خط الطول</label>
                              <input type="text" class="form-control" ng-class="(updateOffice.errors.lng != null) ? 'is-invalid' : ''" id="lng" ng-model="office.lng" ng-change="updateOffice.errors.lng = null" placeholder="خط الطول" required>
                              <div ng-show="updateOffice.errors.lng != null" class="invalid-feedback">{{ updateOffice.errors.lng[0] }}</div>
                    </div>
          </div>

          <div class="col-12 col-md-6">
                    <div class="form-group">
                              <label for="lat">خط العرض</label>
                              <input type="text" class="form-control" ng-class="(updateOffice.errors.lat != null) ? 'is-invalid' : ''" id="lat" ng-model="office.lat" ng-change="updateOffice.errors.lat = null" placeholder="خط العرض" required>
                              <div ng-show="updateOffice.errors.lat != null" class="invalid-feedback">{{ updateOffice.errors.lat[0] }}</div>
                    </div>
          </div>

    <div class="col-12">
        <submit-button form="officeForm" icon="fe fe-plus">تعديل</submit-button>
    </div>
</form>
