<include-header/>


<datatable datalist="userContracts">

    <table>
        <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">اسم الموظف</th>
            <th class="text-center">مدة العقد</th>
            <th class="text-center">خيارات</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="x in userContracts.data">
            <td class="align-middle text-center">{{ x.id }}</td>
            <td class="align-middle text-center">{{ x.user.first_name.ar }} {{ x.user.last_name.ar }}</td>
            <td class="align-middle text-center">{{ x.contract_period }} شهر</td>
            <td class="align-middle text-center h2">
                <dropdown>
                    <dropdown-item href="{{ $r('user-contracts.overview', {id: x.id}) }}"><i class="fe fe-eye"></i> نظرة عامة</dropdown-item>
                </dropdown>
            </td>
        </tr>
        </tbody>
    </table>
</datatable>