<include-header/>

<form class="row" name="myForm" request="updateEducationRecord">

    <div class="col-12 alert alert-danger fade show" role="alert" ng-show="updateEducationRecord.error != ''">
        {{ updateEducationRecord.error }}
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="education_level">المستوى التعليمي</label>
            <input type="text" class="form-control" id="education_level" ng-model="profile.education_level" ng-init="profile.education_level = auth.education_level" ng-change="updateEducationRecord.error = ''" placeholder="المستوى التعليمي">
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="graduation_year">سنة التخرج</label>
            <input id="graduation_year" date-picker class="form-control" ng-model="profile.graduation_year" placeholder="سنة التخرج" ng-init="profile.graduation_year = auth.graduation_year" ng-error="updateEducationRecord.errors.graduation_year" required>
        </div>
    </div>

    <div class="col-12">
        <submit-button form="myForm" icon="fe fe-edit">تعديل</submit-button>
    </div>

</form>