<include-header/>

<form class="row" name="myForm" request="updateEducation">

    <!--education level-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="education_level">المستوى التعليمي</label>
            <input type="text" class="form-control" id="education_level" ng-model="profile.education_level" ng-init="profile.education_level = auth.education_level" ng-change="updateEducation.error = ''" ng-error="updateEducation.errors.education_level" placeholder="المستوى التعليمي">
        </div>
    </div>

    <!--education section-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="education_section">الفرع</label>
            <input type="text" class="form-control" id="education_section" ng-model="profile.education_section" ng-init="profile.education_section = auth.education_section" ng-change="updateEducation.error = ''" ng-error="updateEducation.errors.education_section" placeholder="الفرع">
        </div>
    </div>

    <!--study_language-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="study_language">لغة الدراسة</label>
            <input type="text" class="form-control" id="study_language" ng-model="profile.study_language" ng-init="profile.study_language = auth.study_language" ng-change="updateEducation.error = ''" ng-error="updateEducation.errors.study_language" placeholder="لغة الدراسة">
        </div>
    </div>

    <!--educational status-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="education_status">الحالة الدراسية</label>
            <input type="text" class="form-control" id="education_status" ng-model="profile.education_status" ng-init="profile.education_status = auth.education_status" ng-change="updateEducation.error = ''" ng-error="updateEducation.errors.education_status" placeholder="الحالة الدراسية">
        </div>
    </div>

    <!--graduation year-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="graduated_year">سنة التخرج</label>
            <input id="graduated_year" date-picker class="form-control" ng-model="profile.graduated_year" ng-init="profile.graduated_year = auth.graduated_year" ng-error="updateEducation.errors.graduated_year" placeholder="سنة التخرج">
        </div>
    </div>

    <!--gpa-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="gpa">المعدل التراكمي</label>
            <input type="text" id="gpa" class="form-control" ng-model="profile.gpa" ng-init="profile.gpa = auth.gpa" ng-error="updateEducation.errors.gpa" placeholder="المعدل التراكمي">
        </div>
    </div>

    <!--educational country-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="education_country">البلد</label>
            <input type="text" class="form-control" id="education_country" ng-model="profile.education_country" ng-init="profile.education_country = auth.education_country" ng-change="updateEducation.error = ''" ng-error="updateEducation.errors.education_country" placeholder="البلد">
        </div>
    </div>

    <!--institution_name-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="institution_name">المنشأة التعليمية</label>
            <input type="text" class="form-control" id="institution_name" ng-model="profile.institution_name" ng-init="profile.institution_name = auth.institution_name" ng-change="updateEducation.error = ''" ng-error="updateEducation.errors.institution_name" placeholder="المنشأة التعليمية">
        </div>
    </div>

    <div class="col-12">
        <submit-button form="myForm" icon="fe fe-edit">تعديل</submit-button>
    </div>

</form>