<page-header title="الملف الشخصي" pretitle="تعديل الحساب"></page-header>

<page-nav>
    <page-nav-item route="profile.info">المعلومات الشخصية</page-nav-item>
    <page-nav-item route="profile.password">كلمة المرور</page-nav-item>
    <page-nav-item route="profile.job-data">البيانات الوظيفية</page-nav-item>
    <page-nav-item route="profile.national-data">البيانات الوطنية</page-nav-item>
    <page-nav-item route="profile.housing-data">بيانات السكن</page-nav-item>
    <page-nav-item route="profile.education-record">السجل التعليمي</page-nav-item>
</page-nav>