<page-header title="الملف الشخصي" pretitle="تعديل الحساب"></page-header>

<page-nav>
    <page-nav-item route="profile.info">البيانات الشخصية</page-nav-item>
    <page-nav-item route="profile.residence-data">بيانات السكن</page-nav-item>
    <page-nav-item route="profile.contact-data">بيانات التواصل</page-nav-item>
    <!--<page-nav-item route="profile.password">كلمة المرور</page-nav-item>-->
    <page-nav-item route="profile.employment-data">بيانات الوظيفة</page-nav-item>
    <page-nav-item route="profile.education">التعليم</page-nav-item>
    <page-nav-item route="profile.experiences-and-skills">الخبرات و المهارات</page-nav-item>
    <page-nav-item route="profile.additional-data">بيانات إضافية</page-nav-item>
</page-nav>