<page-header title="الملف الشخصي" pretitle="تعديل الحساب"></page-header>

<page-nav>
    <page-nav-item route="profile.info">البيانات الشخصية</page-nav-item>
    <page-nav-item route="profile.residence_data">بيانات السكن الحالي</page-nav-item>
    <page-nav-item route="profile.contact_data">بيانات التواصل</page-nav-item>
    <page-nav-item route="profile.education">التعليم</page-nav-item>
    <page-nav-item route="profile.additional_data">بيانات إضافية</page-nav-item>
    <page-nav-item route="profile.contracts">عقود العمل</page-nav-item>
</page-nav>