<include-header/>

<div class="row">
    
    <div class="col-12 alert alert-danger fade show" role="alert" ng-show="updateProfile.error != ''">
        {{ updateProfile.error }}
    </div>
    
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="name">الاسم</label>
            <input type="text" class="form-control" id="name" ng-model="profile.name" ng-init="profile.name = auth.name" ng-change="updateProfile.error = ''" placeholder="الاسم الخاص بالحساب ..">
        </div>
    </div>
    
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="email">البريد الالكتروني</label>
            <input type="email" class="form-control" id="email" ng-model="profile.email" ng-init="profile.email = auth.email" ng-change="updateProfile.error = ''" placeholder="البريد الالكتروني الخاص بالحساب .." autofocus="off" autocomplete="off">
        </div>
    </div>
    
    <div class="col-12">
        <button type="button" class="btn btn-primary" ng-click="updateProfile.send();">
            <i ng-hide="updateProfile.sending" class="fe fe-edit"></i>
            <div ng-show="updateProfile.sending" class="spinner-border spinner-border-sm" role="status"><span class="sr-only">Loading...</span></div>
            &nbsp; تغيير المعلومات
        </button>
    </div>

</div>