<page-header title="الملف الشخصي" pretitle="تعديل الحساب"></page-header>

<page-nav>
    <page-nav-item route="profile.info">تعديل المعلومات</page-nav-item>
    <page-nav-item route="profile.password">كلمة المرور</page-nav-item>
    <page-nav-item route="profile.notifications">التنبيهات</page-nav-item>
</page-nav>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- List group -->
                <div class="list-group list-group-flush list-group-activity my-n3">
                    <a class="list-group-item text-reset" href="#!">
                        <div class="row">
                            <div class="col-auto">

                                <!-- Avatar -->
                                <div class="avatar avatar-sm">
                                    <div class="avatar-title fs-lg bg-primary-soft rounded-circle text-primary">
                                        <i class="fe fe-shield"></i>
                                    </div>
                                </div>

                            </div>
                            <div class="col ms-n2">

                                <!-- Heading -->
                                <h5 class="mb-1">
                                    تم تعديل كلمة المرور
                                </h5>

                                <!-- Text -->
                                <p class="small text-gray-700 mb-0">
                                    لقد تم تعديل كلمة المرور الخاصة بك
                                </p>

                                <!-- Time -->
                                <small class="text-muted">
                                    منذ دقيقتين
                                </small>

                            </div>
                        </div> <!-- / .row -->
                    </a>
                    <a class="list-group-item text-reset" href="#!">
                        <div class="row">
                            <div class="col-auto">

                                <!-- Avatar -->
                                <div class="avatar avatar-sm">
                                    <div class="avatar-title fs-lg bg-primary-soft rounded-circle text-primary">
                                        <i class="fe fe-archive"></i>
                                    </div>
                                </div>

                            </div>
                            <div class="col ms-n2">

                                <!-- Heading -->
                                <h5 class="mb-1">
                                    تم اضافة المشروع للأرشيف
                                </h5>

                                <!-- Text -->
                                <p class="small text-gray-700 mb-0">
                                    لقد قمت بإضافة مشروع قرية ملهم الى قسم الأرشيف
                                </p>

                                <!-- Time -->
                                <small class="text-muted">
                                    منذ ساعة
                                </small>

                            </div>
                        </div> <!-- / .row -->
                    </a>
                    <a class="list-group-item text-reset" href="#!">
                        <div class="row">
                            <div class="col-auto">

                                <!-- Avatar -->
                                <div class="avatar avatar-sm">
                                    <div class="avatar-title fs-lg bg-primary-soft rounded-circle text-primary">
                                        <i class="fe fe-code"></i>
                                    </div>
                                </div>

                            </div>
                            <div class="col ms-n2">

                                <!-- Heading -->
                                <h5 class="mb-1">
                                    ميزات جديدة تم اضافتها
                                </h5>

                                <!-- Text -->
                                <p class="small text-gray-700 mb-0">
                                    لقد تم اضافة ميزات حديدة الى لوحة التحكم الخاصة بك
                                </p>

                                <!-- Time -->
                                <small class="text-muted">
                                    منذ يومين
                                </small>

                            </div>
                        </div> <!-- / .row -->
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>