<page-header title="الملف الشخصي" pretitle="تعديل الحساب"></page-header>

<page-nav>
    <page-nav-item route="profile.info">تعديل المعلومات</page-nav-item>
    <page-nav-item route="profile.password">كلمة المرور</page-nav-item>
    <page-nav-item route="profile.notifications">التنبيهات</page-nav-item>
</page-nav>

<form class="row" name="myForm" request="changePassword">
    
    <div class="col-12 alert alert-danger fade show" role="alert" ng-show="changePassword.error != ''">
        {{ changePassword.error }}
    </div>
    
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="new">كلمة المرور الجديدة</label>
            <input type="password" class="form-control" id="new" ng-model="password.new" ng-change="changePassword.error = ''" placeholder="كلمة المرور الجديدة .." autofocus="off" autocomplete="off" required>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="confirm">تأكيد كلمة المرور</label>
            <input type="password" class="form-control" id="confirm" ng-model="password.new_confirmation" ng-change="changePassword.error = ''" placeholder="تأكيد كلمة المرور الجديدة .." autofocus="off" autocomplete="off" required>
        </div>
    </div>
    
    <div class="col-12">        
        <submit-button form="myForm" icon="fe fe-edit">تغيير</submit-button>
    </div>  

</form>
