<include-header/>

<form class="row" name="myForm" request="updateResidenceData">

    <div class="col-12 alert alert-danger fade show" role="alert" ng-show="updateResidenceData.error != ''">
        {{ updateResidenceData.error }}
    </div>

    <!--current_country-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="current_country_code">الدولة</label>
            <select2 id="current_country_code" model="profile.current_country_code" ajax-url="countries/search" error-model="profile.errors.current_country_code">
                <option selected value="{{auth.current_country_code}}">{{auth.current_country_code}}</option>
            </select2>
        </div>
    </div>

    <!--current_city-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="current_city_id">المدينة</label>
            <select2 id="current_city_id" model="profile.current_city_id" ajax-url="places/search"
                     error-model="profile.errors.current_city_id">
                <option selected value="{{auth.current_city_id}}">{{auth.current_city_id}}</option>
            </select2>
        </div>
    </div>

    <!--current_full_address-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="current_full_address">العنوان التفصيلي</label>
            <input type="text" class="form-control" id="current_full_address" ng-model="profile.current_full_address" ng-init="profile.current_full_address = auth.current_full_address" ng-change="updateResidenceData.error = ''" placeholder="العنوان التفصيلي ...">
        </div>
    </div>

    <!--current_full_address-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="current_residence_file">وثيقة العنوان</label>
            <input type="text" class="form-control" id="current_residence_file" ng-model="profile.current_residence_file" ng-init="profile.current_residence_file = auth.current_residence_file" ng-change="updateResidenceData.error = ''" placeholder="وثيقة العنوان ...">
        </div>
    </div>

    <div class="col-12">
        <submit-button form="myForm" icon="fe fe-edit">تعديل</submit-button>
    </div>

</form>