<include-header/>

<form class="row" name="myForm" request="updateResidenceData">

    <div class="col-12 alert alert-danger fade show" role="alert" ng-show="updateResidenceData.error != ''">
        {{ updateResidenceData.error }}
    </div>


    <!--current residence-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="current_residence">بلد الإقامة الحالي</label>
            <input type="text" class="form-control" id="current_residence" ng-model="profile.current_residence" ng-init="profile.current_residence = auth.current_residence" ng-change="updateResidenceData.error = ''" placeholder="بلد الإقامة الحالي ...">
        </div>
    </div>

    <!--residence type-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="residence_type">نوع الإقامة</label>
            <select class="custom-select" ng-class="(updateResidenceData.errors.residence_type != null) ? 'is-invalid' : ''" id="residence_type" ng-model="profile.residence_type" ng-init="profile.residence_type = auth.residence_type">
                <option value="identification">إقامة</option>
                <option value="residence">كملك</option>
            </select>
            <div ng-show="updateResidenceData.errors.residence_type != null" class="invalid-feedback">{{ updateResidenceData.errors.residence_type[0] }}</div>
        </div>
    </div>

    <div class="col-12">
        <submit-button form="myForm" icon="fe fe-edit">تعديل</submit-button>
    </div>

</form>