<include-header />
<div class="row m-2">
  <div class="col-6"></div>
  <div class="col-6 text-left">
    <button href="#" ng-click="showModal('add')" class="btn btn-primary">
      <i class="fe fe-plus"></i>&nbsp;إضافة حزمة بيانات
    </button>
  </div>
</div>

<datatable datalist="cards">
  <table>
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">الاسم</th>
        <th class="text-center">بواسطة</th>
        <th class="text-center">خيارات</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="card in cards.data">
        <td class="align-middle text-center">{{ card.id }}</td>
        <td class="align-middle text-center">{{ card.name }}</td>
        <td class="align-middle text-center">{{ card.creator.name }}</td>
        <td class="align-middle text-center h2">
          <dropdown>
            <dropdown-item
              href="javascript:;"
              ng-click="showModal( 'edit' , card)"
              ><i class="fe fe-edit-2"></i> تعديل</dropdown-item
            >
          </dropdown>
        </td>
      </tr>
    </tbody>
  </table>
</datatable>



<div class="card">
  <!-- Create Modal -->
  <modal id="card-modal">
    <modal-title>
      <span>
        <div ng-show="currentModalAction == 'add'">
          <i class="fe fe-plus-circle"></i>&nbsp; اضافة حزمة بيانات جديدة
        </div>
        <div ng-show="currentModalAction == 'edit'">
          <i class="fe fe-edit"></i>&nbsp; تعديل حزمة البيانات {{ selectedCard.id }}
        </div>
      </span>
    </modal-title>
      <modal-body>
        <form
          name="createUpdateCaseCardForm"
          request="createUpdateCard"
          id="myForm"
        >
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="name">الاسم </label>
                <input
                  id="name"
                  type="text"
                  class="form-control"
                  ng-class="(createUpdateCard.errors.name != null) ? 'is-invalid' : ''"
                  ng-model="selectedCard.name"
                  ng-error="createUpdateCard.errors.name"
                />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="description">الوصف </label>
                <textarea
                  id="description"
                  type="text"
                  class="form-control"
                  ng-class="(createUpdateCard.errors.description != null) ? 'is-invalid' : ''"
                  ng-model="selectedCard.description"
                  ng-error="createUpdateCard.errors.description"
                ></textarea>
              </div>
            </div>
          </div>

          <submit-button form="createUpdateCaseCardForm" icon="fe fe-plus"
            >{{currentModalAction == 'add' ? "إضافة" : "تعديل" }}</submit-button
          >
        </form>
      </modal-body>



            <!-- comments -->

      <div class="card p-5 mt-3" ng-show="currentModalAction=='edit'">
        <div ng-show="loadingComments">جاري التحميل ..</div>
        <div class="comment mb-3" ng-repeat="cmt in comments" ng-show="!loadingComments">
          <div class="row">
            <div class="col-auto">
              <!-- Avatar -->
              <a class="avatar" href="profile-posts.html">
                <img src="https://dashkit.goodthemes.co/assets/img/avatars/profiles/avatar-3.jpg" alt="..." class="avatar-img rounded-circle" />
              </a>
            </div>
            <div class="col ms-n2">
              <!-- Body -->
              <div class="comment-body">
                <div class="row">
                  <div class="col">
                    <!-- Title -->
                    <h5 class="comment-title">{{cmt.user.name}}</h5>
                  </div>
                  <div class="col-auto">
                    <!-- Time -->
                    <time class="comment-time"> {{cmt.created_at}}</time>
                  </div>
                  <div class="col-auto">
                    <dropdown>
                      <dropdown-item href="#" ng-click="switchCommentMode( 'edit' ,cmt)"><i class="fe fe-edit-2"></i> تعديل</dropdown-item>
                      <dropdown-item href="#" ng-click="switchCommentMode( 'delete' ,cmt)"><i class="fe fe-trash"></i>حذف</dropdown-item>
                    </dropdown>
                  </div>
                </div>
                <!-- / .row -->

                <!-- Text -->
                  <p ng-if="selectedComment.id!=cmt.id">{{cmt.body}}</p>
                <form name="updateCommentForm" request="createUpdateComment" class="mt-1" ng-if="selectedComment.id==cmt.id">
                  <textarea
                    class="form-control form-control-flush"
                    data-autosize=""
                    rows="1"
                    style="overflow: hidden; overflow-wrap: break-word; height: 41px"
                    ng-model="selectedComment.body"
                    required
                  ></textarea>
                  <submit-button ng-if="selectedComment.id == cmt.id" form="updateCommentForm" icon="fe fe-edit">تعديل</submit-button>
                </form>
                <!-- <p class="comment-text">{{comment.body}}</p> -->
              </div>
            </div>
          </div>
          <!-- / .row -->
        </div>

        <!-- Divider -->
        <hr />

        <!-- Form -->
        <div class="row">
          <div class="col-auto">
            <!-- Avatar -->
            <div class="avatar avatar-sm">
              <img src="https://dashkit.goodthemes.co/assets/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img rounded-circle" />
            </div>
          </div>
          <div class="col ms-n2">
            <!-- Input -->
            <form name="createCommentForm" request="createUpdateComment" id="commentForm" class="mt-1">
              <label class="visually-hidden">اترك تعليقا ..</label>
              <textarea
                class="form-control form-control-flush"
                data-autosize=""
                rows="1"
                placeholder="إنقر لإضافة تعليق"
                style="overflow: hidden; overflow-wrap: break-word; height: 41px"
                ng-model="newComment.body"
                required
              ></textarea>

              <submit-button form="createCommentForm" icon="fe fe-plus">إضافة تعليق</submit-button>
            </form>
          </div>
          <div class="col-auto align-self-end">
            <!-- Icons -->
            <div class="text-muted mb-2">
              <a class="text-reset me-3" href="#" data-bs-toggle="tooltip" title="" data-bs-original-title="Add photo">
                <i class="fe fe-camera"></i>
              </a>
              <a class="text-reset me-3" href="#" data-bs-toggle="tooltip" title="" data-bs-original-title="Attach file">
                <i class="fe fe-paperclip"></i>
              </a>
              <a class="text-reset" href="#" data-bs-toggle="tooltip" title="" data-bs-original-title="Record audio">
                <i class="fe fe-mic"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- / .row -->
      </div>




  </modal>
</div>
