<include-header />

<form class="row" name="campaignContentsForm" request="createUpdateCampaignContents">
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="title-ar">العنوان باللغة العربية</label>
      <input
        id="title-ar"
        class="form-control"
        type="text"
        ng-model="contents.title.ar"
        ng-class="(createUpdateCampaignContents.errors['title.ar'] != null) ? 'is-invalid' : ''"
        ng-change="createUpdateCampaignContents.errors['title.ar'] = null"
        ng-error="createUpdateCampaignContents.errors.title.ar"
      />
    </div>
  </div>
  <!-- <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="title-en">العنوان باللغة الإنكليزية</label>
      <input
        id="title-en"
        class="form-control"
        type="text"
        ng-model="contents.title.en"
        ng-class="(createUpdateCampaignContents.errors['title.en'] != null) ? 'is-invalid' : ''"
        ng-change="createUpdateCampaignContents.errors['title.en'] = null"
        ng-error="createUpdateCampaignContents.errors.title.en"
      />
    </div>
  </div> -->
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="details-ar">التفاصيل باللغة العربية</label>
      <textarea
        id="details-ar"
        class="form-control"
        type="text"
        ng-model="contents.details.ar"
        ng-class="(createUpdateCampaignContents.errors['details.ar'] != null) ? 'is-invalid' : ''"
        ng-change="createUpdateCampaignContents.errors['details.ar'] = null"
        ng-error="createUpdateCampaignContents.errors.details.ar"
      ></textarea>
    </div>
  </div>
   <!--
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="details-en">التفاصيل باللغة الإنكليزية</label>
      <textarea
        id="details-en"
        class="form-control"
        type="text"
        ng-model="contents.details.en"
        ng-class="(createUpdateCampaignContents.errors['details.en'] != null) ? 'is-invalid' : ''"
        ng-change="createUpdateCampaignContents.errors['details.en'] = null"
        ng-error="createUpdateCampaignContents.errors.details.en"
      ></textarea>
    </div>
  </div>
 -->

  <div class="col-12">
    <submit-button form="campaignContentsForm" icon="fe fe-edit">تعديل</submit-button>
  </div>
</form>
