<include-header />

<div class="row">
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-header-title">معلومات الحملة</h4>
      </div>

      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="mb-0 text-muted">الاسم</h4>
          </div>
          <div class="col-auto">
            <h4>{{ object.name }}</h4>
          </div>
        </div>

        <hr />
        <div class="row align-items-center">
          <div class="col">
            <h4 class="mb-0 text-muted">تم تأمينها</h4>
          </div>
          <div class="col-auto">
            <h4 ng-if="object.funded">نعم</h4>
            <h4 ng-if="!object.funded">لا</h4>
          </div>
        </div>
        <hr />
        <div class="row align-items-center">
          <div class="col">
            <h4 class="mb-0 text-muted">المبلغ المطلوب</h4>
          </div>
          <div class="col-auto">
            <h4>{{ object.target.required }}</h4>
          </div>
        </div>
        <hr />
        <div class="row align-items-center">
          <div class="col">
            <h4 class="mb-0 text-muted">عدد المستفيدين</h4>
          </div>
          <div class="col-auto">
            <h4>{{ object.target.beneficiaries_count }}</h4>
          </div>
        </div>
        <hr />
        <div class="row align-items-center">
          <div class="col">
            <h4 class="mb-0 text-muted">تمت أرشفتها</h4>
          </div>
          <div class="col-auto">
            <h4 ng-if="object.target.archived">نعم</h4>
            <h4 ng-if="!object.target.archived">لا</h4>
          </div>
        </div>
        <hr />
        <div class="row align-items-center">
          <div class="col">
            <h4 class="mb-0 text-muted">تم توثيقها</h4>
          </div>
          <div class="col-auto">
            <h4 ng-if="object.target.documented">نعم</h4>
            <h4 ng-if="!object.target.documented">لا</h4>
          </div>
        </div>
        <hr />
        <div class="row align-items-center">
          <div class="col">
            <h4 class="mb-0 text-muted">ظاهرة</h4>
          </div>
          <div class="col-auto">
            <h4 ng-if="object.target.visible">نعم</h4>
            <h4 ng-if="!object.target.visible">لا</h4>
          </div>
        </div>
        <hr />
        <div class="row align-items-center" ng-show="object.places[0]">
          <div class="col">
            <h4 class="mb-0 text-muted">الأماكن</h4>
          </div>
          <div class="col-auto">
            <h4 ng-repeat="place in object.places">{{ place.name }} &nbsp;</h4>
          </div>
        </div>

        <div ng-show="object.places[0]">
          <hr />
        </div>

        <div class="row align-items-center" ng-show="object.admins[0]">
          <div class="col">
            <h4 class="mb-0 text-muted">المشرفون</h4>
          </div>
          <div class="col-auto">
            <h4 ng-repeat="admin in object.admins">{{ admin.name }}</h4>
          </div>
        </div>

        <div ng-show="object.admins[0]">
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
