body {
    cursor: default;
    font-family: tahoma !important;
    font-weight: normal!important;
}

.ql-editor {
    min-height: 300px !important;
}

.border-none {
    border: 0px !important;
}

.color-black {
    color: black !important;
}

.bg-light-v2 {
    background: #f9fbfd;
}

.display-none {
    display: none !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.cursor-wait {
    cursor: wait !important;
}

.custom-control-label {
    right:-12px !important;
}

.modal-footer {
    display: unset !important;
}

.modal-footer button {
    margin: 0px !important;
}

.modal-header {
    padding: 1.2rem !important;
}
.modal-header .close {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 1.2rem !important;
}

.line-height-25 {
    line-height: 25px;
}

.avatar-256 {
    width: 256px !important;
    height: 256px !important;
}

.modal-dismiss-icon , .modal-dismiss-icon:hover {
    color: #fff;
    position: fixed;
    right: 30px;
    top: 20px;
}

.flex-none {
    flex: none;
}