<page-header title=" منشور جديد" pretitle="منشورات وسائل التواصل"></page-header>
<form class="row" name="createSocialMediaPostForm" request="createSocialMediaPostRequest">
    <div class="col-12">
        <div class="form-group">
            <label for="description">عنوان المنشور</label>
            <input id="description" class="form-control" type="text" dir="rtl" ng-model="socialMediaPost.description" placeholder="ادخل عنوان المنشور باللغة العربية..." ng-error="createSocialMediaPostRequest.errors.description" required>
        </div>
    </div>
   
    <div class="col-12">
        <div class="form-group">
            <label for="body">محتوى المنشور</label>
            <tiny-editor id="body" dir="rtl" model="socialMediaPost.body" placeholder="ادخل محتوى المنشور باللغة العربية..."> {{ socialMediaPost.body }} </tiny-editor>
        </div>
    </div>
   

    <div class="col-12">
        <submit-button form="createSocialMediaPostForm" icon="fe fe-plus">اضافة</submit-button>
    </div>
</form>
