<include-header/>

<div class="header">
    <div class="header-body">
        <h1 class="header-title h3 font-weight-bold">
            معلومات العضو
        </h1>
    </div>
</div>

<div class="row">

    <div class="col-12 col-lg-4">

        <table>
            <!--first name ar-->
            <tr>
                <td class="text-muted py-3">الاسم باللغة العربية</td>
                <td class="py-3 pr-3">{{ member.first_name.ar }}</td>
            </tr>
            <!--first name ar-->
            <tr>
                <td class="text-muted py-3">الإسم باللغة الإنكليزية</td>
                <td class="py-3 pr-3">{{ member.first_name.en }}</td>
            </tr>
            <!--email-->
            <tr>
                <td class="text-muted py-3">البريد الالكتروني</td>
                <td class="py-3 pr-3">{{ member.email }}</td>
            </tr>
            <!--last name ar-->
            <tr>
                <td class="text-muted py-3">اللقب باللغة العربية</td>
                <td class="py-3 pr-3">{{ member.last_name.ar }}</td>
            </tr>
            <!--last name en-->
            <tr>
                <td class="text-muted py-3">اللقب باللغة الإنكليزية</td>
                <td class="py-3 pr-3">{{ member.last_name.en }}</td>
            </tr>
            <!--father name ar-->
            <tr>
                <td class="text-muted py-3">اسم الأب باللغة العربية</td>
                <td class="py-3 pr-3">{{ member.father_name.ar }}</td>
            </tr>
            <!--father name en-->
            <tr>
                <td class="text-muted py-3">اسم الأب باللغة الإنكليزية</td>
                <td class="py-3 pr-3">{{ member.father_name.en }}</td>
            </tr>
        </table>

    </div>

    <div class="col-12 col-lg-4">

        <table>
            <!--mother name ar-->
            <tr>
                <td class="text-muted py-3">اسم الأم باللغة العربية</td>
                <td class="py-3 pr-3">{{ member.mother_name.ar }}</td>
            </tr>
            <!--mother name en-->
            <tr>
                <td class="text-muted py-3">اسم الأم باللغة الإنكليزية</td>
                <td class="py-3 pr-3">{{ member.mother_name.en }}</td>
            </tr>
            <!--birth date-->
            <tr>
                <td class="text-muted py-3">تاريخ الميلاد</td>
                <td class="py-3 pr-3">{{ member.birth_date }}</td>
            </tr>
        </table>

    </div>

    <div class="col-12 col-lg-4">

        <table>
            <tr>
                <td class="text-muted py-3">تاريخ الاضافة</td>
                <td class="py-3 pr-3"><td class="py-3 pr-3"><span ng-bind="member.created_at | date:'yyyy-MM-dd hh:mm:ss'" dir="ltr"></span></td></td>
            </tr>
            <tr>
                <td class="text-muted py-3">تاريخ اخر تعديل</td>
                <td class="py-3 pr-3"><td class="py-3 pr-3"><span ng-bind="member.updated_at | date:'yyyy-MM-dd hh:mm:ss'" dir="ltr"></span></td></td>
            </tr>
        </table>

    </div>

</div>

<hr>