<include-header/>

<div class="row">

    <div class="col-12 col-lg-4">

        <table>
            <!--blood_type-->
            <tr>
                <td class="text-muted py-3">زمرة الدم</td>
                <td class="py-3 pr-3">{{ userInfo.data[0].blood_type }}</td>
            </tr>
            <!--physical_disability-->
            <tr>
                <td class="text-muted py-3">الإعاقة الجسدية إن وجدت</td>
                <td class="py-3 pr-3">{{ userInfo.data[0].physical_disability }}</td>
            </tr>
            <!--communicable_diseases-->
            <tr>
                <td class="text-muted py-3">الأمراض السارية إن وجدت</td>
                <td class="py-3 pr-3">{{ userInfo.data[0].communicable_diseases }}</td>
            </tr>
            <!--chronic_diseases-->
            <tr>
                <td class="text-muted py-3">الأمراض المزمنة إن وجدت</td>
                <td class="py-3 pr-3">{{ userInfo.data[0].chronic_diseases }}</td>
            </tr>
        </table>

    </div>

</div>

<hr>