<include-header/>

<div class="row">

    <div class="col-12 col-lg-4">

        <table>
            <!--education_level-->
            <tr>
                <td class="text-muted py-3">المستوى التعليمي</td>
                <td class="py-3 pr-3">{{ userInfo.data[0].education_level }}</td>
            </tr>
            <!--education_section-->
            <tr>
                <td class="text-muted py-3">الفرع</td>
                <td class="py-3 pr-3">{{ userInfo.data[0].education_section }}</td>
            </tr>
            <!--study_language-->
            <tr>
                <td class="text-muted py-3">لغة الدراسة</td>
                <td class="py-3 pr-3">{{ userInfo.data[0].study_language }}</td>
            </tr>
            <!--education_status-->
            <tr>
                <td class="text-muted py-3">الحالة الدراسية</td>
                <td class="py-3 pr-3">{{ userInfo.data[0].education_status }}</td>
            </tr>
            <!--graduated_year-->
            <tr>
                <td class="text-muted py-3">سنة التخرج</td>
                <td class="py-3 pr-3">{{ userInfo.data[0].graduated_year }}</td>
            </tr>
            <!--gpa-->
            <tr>
                <td class="text-muted py-3">المعدل التراكمي</td>
                <td class="py-3 pr-3">{{ userInfo.data[0].gpa }}</td>
            </tr>
            <!--education_country-->
            <tr>
                <td class="text-muted py-3">البلد</td>
                <td class="py-3 pr-3">{{ userInfo.data[0].education_country }}</td>
            </tr>
            <!--institution_name-->
            <tr>
                <td class="text-muted py-3">المنشأة التعليمية</td>
                <td class="py-3 pr-3">{{ userInfo.data[0].institution_name }}</td>
            </tr>
        </table>

    </div>

</div>

<hr>