<page-header title="العضو {{ $routeParams.id }}" pretitle="الأعضاء"></page-header>
<page-nav>
    <page-nav-item route="members.info" params="{id: $routeParams.id}">البيانات الشخصية</page-nav-item>
    <page-nav-item route="members.residence_data" params="{id: $routeParams.id}">بيانات السكن الحالي</page-nav-item>
    <page-nav-item route="members.contact_data" params="{id: $routeParams.id}">بيانات التواصل</page-nav-item>
    <page-nav-item route="members.education" params="{id: $routeParams.id}">التعليم</page-nav-item>
    <page-nav-item route="members.user_family_member" params="{id: $routeParams.id}">أفراد العائلة</page-nav-item>
    <page-nav-item route="members.user_work_experiences" params="{id: $routeParams.id}">خبرات العمل</page-nav-item>
    <page-nav-item route="members.user_skills" params="{id: $routeParams.id}">المهارات</page-nav-item>
    <page-nav-item route="members.user_languages" params="{id: $routeParams.id}">اللغات</page-nav-item>
    <page-nav-item route="members.user_trainings" params="{id: $routeParams.id}">التدريبات</page-nav-item>
    <page-nav-item route="members.additional_data" params="{id: $routeParams.id}">بيانات إضافية</page-nav-item>
    <page-nav-item route="members.contracts" params="{id: $routeParams.id}">عقود العمل</page-nav-item>
</page-nav>