<page-header title="صفحة جديدة" pretitle="الصفحات"></page-header>

<form class="row" name="createPageForm" request="createPage">
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="url">رابط الصفحة </label>
      <input id="url" type="text" class="form-control" ng-class="(createPage.errors.url != null) ? 'is-invalid' : ''" ng-model="page.url" ng-change="createPage.errors.url = null" placeholder="رابط الصفحة" ng-error="createPage.errors.url"/>
    </div>
  </div>
  <div class="col-12">
    <submit-button form="createPageForm" icon="fe fe-plus">اضافة</submit-button>
  </div>
</form>
