<include-header />

<div class="row">
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-header-title">معلومات الثابت</h4>
      </div>

      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="mb-0 text-muted">اسم الثابت</h4>
          </div>
          <div class="col-auto">
            <h4>{{ constant.content_name }}</h4>
          </div>
        </div>
        <hr />
        <div class="row align-items-center">
          <div class="col">
            <h4 class="mb-0 text-muted">القيمة</h4>
          </div>
          <div class="col-auto">
            <h4>{{  constant.contents[constant.content_name].ar}}</h4>
          </div>
        </div>
        <div>
          <hr />
        </div>
        <div class="row align-items-center">
          <div class="col">
            <h4 class="mb-0 text-muted">نص عادي</h4>
          </div>
          <div class="col-auto">
            <h4>{{ constant.plaintext == true ? 'نعم' : 'لا'}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
