<include-header></include-header>
<div class="header">
    <div class="header-body">
        <h1 class="header-title h3 font-weight-bold">
           معلومات المكتب
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        <table>
            <tr>
                <td class="text-muted py-3">اسم المكتب</td>
                <td class="py-3 pr-3">{{ teamOffice.name }}</td>
            </tr>
            <tr>
                <td class="text-muted py-3">نوع المكتب</td>
                <td class="py-3 pr-3">{{ teamOffice.type }}</td>
            </tr>
            <tr>
                <td class="text-muted py-3">مكان المكتب</td>
                <td class="py-3 pr-3">{{ teamOffice.place.fullname.ar }}</td>
            </tr>
            <tr>
                <td class="text-muted py-3">مدير المكتب</td>
                <td class="py-3 pr-3">{{ teamOffice.user.first_name.ar }} {{ teamOffice.user.last_name.ar }}</td>
            </tr>
            <tr>
                <td class="text-muted py-3">العنوان بالتفصيل</td>
                <td class="py-3 pr-3">{{ teamOffice.address }}</td>
            </tr>
        </table>
    </div>
    <div class="col-12 col-lg-6">
        <table>
            <tr>
                <td class="text-muted py-3">تاريخ الاضافة</td>
                <td class="py-3 pr-3"><td class="py-3 pr-3"><span ng-bind="teamOffice.created_at | date:'yyyy-MM-dd hh:mm:ss'" dir="ltr"></span></td></td>
            </tr>
            <tr>
                <td class="text-muted py-3">تاريخ اخر تعديل</td>
                <td class="py-3 pr-3"><td class="py-3 pr-3"><span ng-bind="teamOffice.updated_at | date:'yyyy-MM-dd hh:mm:ss'" dir="ltr"></span></td></td>
            </tr>
        </table>
    </div>
</div>

<hr>

