<page-header title="صلاحية جديدة" pretitle="الصلاحيات"></page-header>
<form class="row" name="myForm" request="createPermission">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="name">الاسم </label>
            <input type="text" class="form-control" ng-class="(createPermission.errors.name != null) ? 'is-invalid' : ''" id="name" ng-model="permission.name" ng-change="createPermission.errors.name = null" placeholder="الاسم .." required>
            <div ng-show="createPermission.errors.name != null" class="invalid-feedback">{{ createPermission.errors.name[0] }}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="description_ar">الوصف العربي</label>
            <input type="text" class="form-control" ng-class="(createPermission.errors.description_ar != null) ? 'is-invalid' : ''" id="description_ar" ng-model="permission.description_ar" ng-change="createPermission.errors.description_ar = null" placeholder="الوصف  العربي.." required>
            <div ng-show="createPermission.errors.description_ar != null" class="invalid-feedback">{{ createPermission.errors.description_ar[0] }}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="description_en">الوصف الانكليزي</label>
            <input type="text" class="form-control" ng-class="(createPermission.errors.description_en != null) ? 'is-invalid' : ''" id="description_en" ng-model="permission.description_en" ng-change="createPermission.errors.description_en = null" placeholder="الوصف الانكليزي .." required>
            <div ng-show="createPermission.errors.description_en != null" class="invalid-feedback">{{ createPermission.errors.description_en[0] }}</div>
        </div>
    </div>
    <div class="col-12">
        <submit-button form="myForm" icon="fe fe-plus">اضافة</submit-button>
    </div>
</form>
