<page-header title="صلاحية جديدة" pretitle="الصلاحيات"></page-header>
<form class="row" name="myForm" request="createPermission">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="name">الاسم </label>
            <input type="text" class="form-control" ng-class="(createPermission.errors.name != null) ? 'is-invalid' : ''" id="name" ng-model="permission.name" ng-change="createPermission.errors.name = null" placeholder="الاسم .." required>
            <div ng-show="createPermission.errors.name != null" class="invalid-feedback">{{ createPermission.errors.name[0] }}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="title._ar">الوصف العربي</label>
            <input type="text" class="form-control" ng-class="(createPermission.errors['title.ar'] != null) ? 'is-invalid' : ''" id="title_ar" ng-model="permission.title.ar" ng-change="createPermission.errors['title.ar'] = null" placeholder="الوصف  العربي.." required>
            <div ng-show="createPermission.errors['title.ar'] != null" class="invalid-feedback">{{ createPermission.errors['title.ar'][0] }}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="title_en">الوصف الانكليزي</label>
            <input dir="ltr" type="text" class="form-control" ng-class="(createPermission.errors['title.en'] != null) ? 'is-invalid' : ''" id="title_en" ng-model="permission.title.en" ng-change="createPermission.errors['title.en'] = null" placeholder="الوصف الانكليزي .." required>
            <div ng-show="createPermission.errors['title.en'] != null" class="invalid-feedback">{{ createPermission.errors['title.en'][0] }}</div>
        </div>
    </div>
    <div class="col-12">
        <submit-button form="myForm" icon="fe fe-plus">اضافة</submit-button>
    </div>
</form>
