<include-header />

<form class="row" name="updatePlaceForm" request="updatePlace">
    
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="name_ar">اسم المكان العربي</label>
            <input id="name_ar" class="form-control" type="text" ng-model="place.name.ar" placeholder="الاسم العربي.." ng-error="updatePlace.errors['name.ar']" required/>
        </div>
    </div>
    
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="name_en">اسم المكان الإنكليزي</label>
            <input dir="ltr" id="name_en" class="form-control" type="text" ng-model="place.name.en" placeholder="الاسم الإنكليزي.." ng-error="updatePlace.errors['name.en']" required/>
        </div>
    </div>
    
    <div class="col-12">
        <submit-button form="updatePlaceForm" icon="fe fe-edit">تعديل</submit-button>
    </div>
</form>
