<include-header />

<form class="row" name="updateSponsorShipsForm" request="updateSponsorShips">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="name">اسم المستفيد</label>
            <input
                type="text"
                class="form-control"
                ng-class="(updateSponsorShips.errors.beneficiary_name != null) ? 'is-invalid' : ''"
                id="beneficiary_name"
                ng-model="object.beneficiary_name"
                ng-change="updateSponsorShips.errors.beneficiary_name = null"
                placeholder="الاسم.."
                required
            />
            <div
                ng-show="updateSponsorShips.errors.beneficiary_name != null"
                class="invalid-feedback"
            >
                {{ updateSponsorShips.errors.beneficiary_name[0] }}
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="name">تاريخ ميلاد المستفيد</label>
            <input
                type="date"
                class="form-control"
                ng-class="(updateSponsorShips.errors.beneficiary_birthdate != null) ? 'is-invalid' : ''"
                id="beneficiary_birthdate"
                ng-model="object.beneficiary_birthdate"
                ng-change="updateSponsorShips.errors.beneficiary_birthdate = null"
                placeholder="تاريخ الميلاد.."
                required
            />
            <div
                ng-show="updateSponsorShips.errors.beneficiary_birthdate != null"
                class="invalid-feedback"
            >
                {{ updateSponsorShips.errors.beneficiary_birthdate[0] }}
            </div>
        </div>
    </div>



    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="name">الدولة</label>
            <select
                class="form-control"
                ng-model="object.country_id"
                ng-class="(updateSponsorShips.errors.country_id != null) ? 'is-invalid' : ''"
                id="country_id"
                ng-change="updateSponsorShips.errors.country_id = null"
                ng-options="country.id as country.name for country in countries"
                placeholder="يرجى اختيار دولة.."
                required
            ></select>
            <div
                ng-show="updateSponsorShips.errors.country_id != null"
                class="invalid-feedback"
            >
                {{ updateSponsorShips.errors.country_id[0] }}
            </div>
        </div>
    </div>


     <div class="col-12 col-md-6">
         <div class="form-group">
             <label for="sponsored">تم كفالتها</label>
             <select class="form-control" ng-model="object.sponsored"
                 ng-class="(updateSponsorShips.errors.sponsored != null) ? 'is-invalid' : ''" id="sponsored"
                 ng-change="updateSponsorShips.errors.target.sponsored = null" required>
                 <option ng-value="true">نعم</option>
                 <option ng-value="false">لا</option>
             </select>
             <div ng-show="updateSponsorShips.errors.sponsored != null" class="invalid-feedback">
                 {{ updateSponsorShips.errors.sponsored[0] }}</div>
         </div>
     </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="beneficiaries_count">عدد المستفيدين</label>
            <input type="number" class="form-control"
                ng-class="(updateSponsorShips.errors.beneficiaries_count != null) ? 'is-invalid' : ''" id="beneficiaries_count"
                ng-model="object.target['beneficiaries_count']" ng-change="updateSponsorShips.errors.beneficiaries_count = null"
                placeholder="عدد المستفيدين.." required>
            <div ng-show="updateSponsorShips.errors.beneficiaries_count != null" class="invalid-feedback">
                {{ updateSponsorShips.errors.beneficiaries_count[0] }}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="required">المبلغ المطلوب شهريا</label>
            <input type="number" class="form-control"
                ng-class="(updateSponsorShips.errors.required != null) ? 'is-invalid' : ''" id="required"
                ng-model="object.target['required']" ng-change="updateSponsorShips.errors.required = null"
                placeholder="عدد المستفيدين.." required>
            <div ng-show="updateSponsorShips.errors.required != null" class="invalid-feedback">
                {{ updateSponsorShips.errors.required[0] }}</div>
        </div>
    </div>


      <div class="col-12 col-md-6">
          <div class="form-group">
              <label for="archived">مؤرشفة</label>
              <select class="form-control" ng-model="object.target.archived"
                  ng-class="(updateSponsorShips.errors.archived != null) ? 'is-invalid' : ''" id="archived"
                  ng-change="updateSponsorShips.errors.target.archived = null" required>
                  <option ng-value="true">نعم</option>
                  <option ng-value="false">لا</option>
              </select>
              <div ng-show="updateSponsorShips.errors.archived != null" class="invalid-feedback">
                  {{ updateSponsorShips.errors.archived[0] }}</div>
          </div>
      </div>
      <div class="col-12 col-md-6">
          <div class="form-group">
              <label for="documented">موثقة</label>
              <select class="form-control" ng-model="object.target.documented"
                  ng-class="(updateSponsorShips.errors.documented != null) ? 'is-invalid' : ''" id="documented"
                  ng-change="updateSponsorShips.errors.target.documented = null" required>
                  <option ng-value="true">نعم</option>
                  <option ng-value="false">لا</option>
              </select>
              <div ng-show="updateSponsorShips.errors.documented != null" class="invalid-feedback">
                  {{ updateSponsorShips.errors.documented[0] }}</div>
          </div>
      </div>
      <div class="col-12 col-md-6">
          <div class="form-group">
              <label for="visible">ظاهرة</label>
              <select class="form-control" ng-model="object.target.visible"
                  ng-class="(updateSponsorShips.errors.visible != null) ? 'is-invalid' : ''" id="visible"
                  ng-change="updateSponsorShips.errors.target.visible = null" required>
                  <option ng-value="true">نعم</option>
                  <option ng-value="false">لا</option>
              </select>
              <div ng-show="updateSponsorShips.errors.visible != null" class="invalid-feedback">
                  {{ updateSponsorShips.errors.visible[0] }}</div>
          </div>
      </div>



    <div class="col-12">
        <submit-button form="updateSponsorShipsForm" icon="fe fe-edit">تعديل</submit-button>
    </div>
</form>
