<include-header />

<div class="row">
    <div class="col-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-header-title">معلومات الكفالة</h4>
            </div>

            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">الاسم</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ object.beneficiary_name }}</h4>
                    </div>
                </div>

                <hr />
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">تاريخ الميلاد</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ object.beneficiary_birthdate }}</h4>
                    </div>
                </div>
                <hr />
                <div class="row align-items-center" ng-if="object.category.name">
                    <div class="col">
                        <h4 class="mb-0 text-muted">الصنف</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ object.category.name }}</h4>
                    </div>
                </div>
                 <div ng-if="object.category.name">
                     <hr />
                 </div>
                <div class="row align-items-center" ng-if="object.section.name">
                    <div class="col">
                        <h4 class="mb-0 text-muted">القسم</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ object.section.name }}</h4>
                    </div>
                </div>
                <div ng-if="object.section.name">
                    <hr />
                </div>

                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">الدولة</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ object.country.name }}</h4>
                    </div>
                </div>
                <hr />
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">عدد المستفيدين</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ object.target.beneficiaries_count }}</h4>
                    </div>
                </div>
                <hr />
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">المبلغ المطلوب شهريا</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ object.target.required }}</h4>
                    </div>
                </div>
                <hr />
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">مؤرشفة</h4>
                    </div>
                    <div class="col-auto">
                         <h4 ng-if="object.target.archived">نعم</h4>
                         <h4 ng-if="!object.target.archived">لا</h4>
                    </div>
                </div>
                <hr />
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">ظاهرة</h4>
                    </div>
                    <div class="col-auto">
                         <h4 ng-if="object.target.visible">نعم</h4>
                         <h4 ng-if="!object.target.visible">لا</h4>
                    </div>
                </div>
                <hr />
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">موثقة</h4>
                    </div>
                    <div class="col-auto">
                         <h4 ng-if="object.target.documented">نعم</h4>
                         <h4 ng-if="!object.target.documented">لا</h4>
                    </div>
                </div>
                <hr />
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">تم كفالتها</h4>
                    </div>
                    <div class="col-auto">
                        <h4 ng-if="object.sponsored">نعم</h4>
                        <h4 ng-if="!object.sponsored">لا</h4>
                    </div>
                </div>
                <hr>
                 <div class="row align-items-center" ng-show="object.places[0]">
                     <div class="col">
                         <h4 class="mb-0 text-muted">الأماكن</h4>
                     </div>
                     <div class="col-auto" ng-repeat="place in object.places">
                         <h4>{{ place.name }}</h4>
                     </div>
                 </div>

                <div ng-show="object.places[0]">
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>
