<include-header />

<div class="row m-2">
  <div class="col-6">
    نسبة الإكتمال : {{ 100 - object.percentage_to_complete }} %
  </div>
  <div class="col-6 text-left">
    <button
      href="#"
      ng-click="showSponsorModal('add')"
      class="btn btn-primary"
      ng-disabled="object.percentage_to_complete  <= 0  "
    >
    <!-- TODO || object.sponsored -->
    
      <i class="fe fe-plus"></i>&nbsp;إضافة كفيل
    </button>
  </div>
</div>

<datatable datalist="sponsors">
  <table>
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">اسم الكفيل</th>
        <th class="text-center">النسبة</th>
        <th class="text-center">الحالة</th>
        <th class="text-center">خيارات</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="sponsor in sponsors.data">
        <td class="align-middle text-center">{{ sponsor.id }}</td>
        <td class="align-middle text-center">{{ sponsor.donor.name }}</td>
        <td class="align-middle text-center">{{ sponsor.percentage }} %</td>
        <td class="align-middle text-center">
          <span class="badge badge-soft-success" ng-if="sponsor.active">
            <i class="fe fe-check"></i>
          </span>
          <span class="badge badge-soft-danger" ng-if="!sponsor.active">
            <i class="fe fe-x"></i
          ></span>
        </td>
        <td class="align-middle text-center h2">
          <dropdown>
            <a
              href="#"
              ng-click="showSponsorModal('edit', sponsor)"
              class="dropdown-item"
            >
              <i class="fe fe-edit-2"></i>&nbsp;تعديل
            </a>
          </dropdown>
        </td>
      </tr>
    </tbody>
  </table>
</datatable>

<div class="card">
  <!-- Create Update Modal -->
  <modal id="sponsor-modal">
    <modal-title>
      <span ng-show="currentSponsorModalAction == 'add'"
        ><i class="fe fe-plus-circle"></i>&nbsp; اضافة كفيل جديد</span
      >
      <span ng-show="currentSponsorModalAction == 'edit'"
        ><i class="fe fe-edit"></i>&nbsp; تعديل الكفيل {{ sponsor.id }}</span
      >
    </modal-title>

    <modal-body>
      <form
        name="listSponsorshipSponsoresForm"
        request="createUpdateSponsorshipSponsor"
        model="sponsor"
      >
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group" ng-if="currentSponsorModalAction == 'add'">
              <label for="donor_id">اسم الكفيل</label>
              <select2
                model="sponsor.donor_id"
                ajax-url="donors/search"
                error-model="createUpdateSponsorshipSponsor.errors.donor_id"
              >
              </select2>
            </div>
            <div class="form-group" ng-if="currentSponsorModalAction == 'edit'">
              <label for="donor_id">اسم الكفيل</label>
              <input
                type="text"
                class="form-control"
                ng-class="(updateSponsorShipsSponsor.errors.percentage != null) ? 'is-invalid' : ''"
                ng-model="sponsor.donor.name"
                ng-disabled="true"
              />
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="percentage">نسبة المساهمة</label>
              <input
                id="percentage"
                class="form-control"
                type="number"
                ng-class="(createUpdateSponsorshipSponsor.errors.percentage != null) ? 'is-invalid' : ''"
                ng-model="sponsor.percentage"
                ng-change="createUpdateSponsorshipSponsor.errors.percentage = null"
                max="{{getMaxRangeOnUpdate(sponsor)}}"
                ng-error="createUpdateSponsorshipSponsor.errors.percentage"
                min="0"
                required
              />
            </div>
          </div>
        </div>

        <submit-button
          ng-show="currentSponsorModalAction == 'add'"
          form="listSponsorshipSponsoresForm"
          icon="fe fe-plus"
          >اضافة</submit-button
        >
        <submit-button
          ng-show="currentSponsorModalAction == 'edit'"
          form="listSponsorshipSponsoresForm"
          icon="fe fe-edit"
          >تعديل</submit-button
        >
      </form>
    </modal-body>
  </modal>
</div>
