<page-header title="إضافة جديد" pretitle="أماكن العمل السابقة"></page-header>

<form class="row" name="userWorkExperienceForm" request="createUserWorkExperience">

    <!--employer-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="employer">جهة العمل</label>
            <input type="text" class="form-control" ng-class="(createUserWorkExperience.errors.employer != null) ? 'is-invalid' : ''" id="employer" ng-model="userWorkExperience.employer" ng-change="createUserWorkExperience.errors.employer = null" placeholder="جهة العمل .." required>
            <div ng-show="createUserWorkExperience.errors.employer != null" class="invalid-feedback">{{ createUserWorkExperience.errors.employer[0] }}</div>
        </div>
    </div>

    <!--job title-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="job_title">المسمى الوظيفي</label>
            <input type="text" class="form-control" ng-class="(createUserWorkExperience.errors.job_title != null) ? 'is-invalid' : ''" id="job_title" ng-model="userWorkExperience.job_title" ng-change="createUserWorkExperience.errors.job_title = null" placeholder="المسمى الوظيفي .." required>
            <div ng-show="createUserWorkExperience.errors.job_title != null" class="invalid-feedback">{{ createUserWorkExperience.errors.job_title[0] }}</div>
        </div>
    </div>

    <!--start date-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="start_date">تاريخ البداية</label>
            <input date-picker class="form-control" ng-class="(createUserWorkExperience.errors.start_date != null) ? 'is-invalid' : ''" id="start_date" ng-model="userWorkExperience.start_date" ng-change="createUserWorkExperience.errors.start_date = null" placeholder="تاريخ البداية .." required>
            <div ng-show="createUserWorkExperience.errors.start_date != null" class="invalid-feedback">
                {{ createUserWorkExperience.errors.start_date[0] }}
            </div>
        </div>
    </div>

    <!--end date-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="end_date">تاريخ النهاية</label>
            <input date-picker class="form-control" ng-class="(createUserWorkExperience.errors.end_date != null) ? 'is-invalid' : ''" id="end_date" ng-model="userWorkExperience.end_date" ng-change="createUserWorkExperience.errors.end_date = null" placeholder="تاريخ النهاية .." required>
            <div ng-show="createUserWorkExperience.errors.end_date != null" class="invalid-feedback">
                {{ createUserWorkExperience.errors.end_date[0] }}
            </div>
        </div>
    </div>

    <div class="col-12">
        <submit-button form="userWorkExperienceForm" icon="fe fe-plus">اضافة</submit-button>
    </div>
</form>
