<include-header />
<datatable datalist="activityLogs">
    <table>
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">بواسطة</th>
                <th class="text-center">الوصف</th>
                <th class="text-center">التاريخ</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="act in activityLogs.data">
                <td class="align-middle text-center">{{ act.id }}</td>
                <td class="align-middle text-center">{{ act.actor.name }}</td>
                <td class="align-middle text-center">{{ act.description }}</td>
                <td class="align-middle text-center">{{ act.created_at }}</td>
            </tr>
        </tbody>
    </table>
</datatable>
