<include-header />
<div class="row m-2">
    <div class="col-6"></div>
    <div class="col-6 text-left">
        <button href="#" ng-click="showModal()" class="btn btn-primary"><i class="fe fe-plus"></i>&nbsp;إضافة دور</button>
    </div>
</div>
<datatable datalist="roles">
    <table>
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">الاسم</th>
                <th class="text-center">الوصف العربي</th>
                <th class="text-center">خيارات</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="d in roles.data">
                <td class="align-middle text-center">{{ d.id }}</td>
                <td class="align-middle text-center">{{ d.name }}</td>
                <td class="align-middle text-center">{{ d.description_ar }}</td>
                <td class="align-middle text-center h2">
                    <dropdown>
                        <dropdown-item href="#" ng-click="unassignRole(d.id)"><i class="fe fe-x"></i> إلغاء الإسناد</dropdown-item>
                    </dropdown>
                </td>
            </tr>
        </tbody>
    </table>
</datatable>
<!-- Create Update Modal -->
<modal id="role-modal">
    <modal-title>
        <span><i class="fe fe-plus-circle"></i>&nbsp; إضافة أدوار</span>
    </modal-title>
    <modal-body>
        <form name="assignRoleForm" request="assignRoles" model="selectedPermission">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="roles_ids">الدور</label>
                        <select2 model="selectedRoles.roles_ids" ajax-url="roles/search?user_id={{userId}}" error-model="assignRoles.errors.roles_ids" multiple="true"> </select2>
                    </div>
                </div>
            </div>
            <submit-button form="assignRoleForm" icon="fe fe-plus">اضافة</submit-button>
        </form>
    </modal-body>
</modal>
