//
// RTL Overrides =====================================
//

.breadcrumb-item {
  + .breadcrumb-item {
    padding-left: 0;
    padding-right: $breadcrumb-item-padding-x;
    &::before {
      content: "\e92f";
      float: right;
      padding-right: 0;
      padding-left: $breadcrumb-item-padding-x;
    }
  }
}
