//
// tooltip.scss
// Extended from Bootstrap
//


//
// RTL Bootstrap Overrides =======================
//

.bs-tooltip-end {
  .tooltip-arrow {
    left: auto;
    right: 0;

    &::before {
      right: auto;
      left: -1px;
      border-width: ($tooltip-arrow-width / 2) 0 ($tooltip-arrow-width / 2) $tooltip-arrow-height;
      border-right-color: unset;
      border-left-color: $tooltip-arrow-color;
    }
  }
}

.bs-tooltip-start {
  .tooltip-arrow {
    right: auto;
    left: 0;

    &::before {
      left: auto;
      right: -1px;
      border-width: ($tooltip-arrow-width / 2) $tooltip-arrow-height ($tooltip-arrow-width / 2) 0;
      border-left-color: unset;
      border-right-color: $tooltip-arrow-color;
    }
  }
}