<include-header />

<div class="header">
    <div class="header-body">
        <h1 class="header-title h3 font-weight-bold">
            معلومات المنشور
        </h1>
    </div>
</div>

<div class="row">

    <div class="col-12 col-lg-6">

        <table>
            <tr>
                <td class="text-muted py-3">العنوان</td>
                <td class="py-3 pr-3">{{ socialMediaPost.description  }}</td>
            </tr>
            <tr>
                <td class="text-muted py-3">المحتوى العربي</td>
                <td class="py-3 pr-3" dir="ltr">{{  socialMediaPost.body.ar.value }}</td>
            </tr>
            <tr>
                <td class="text-muted py-3">تم مراجعته لغويا</td>
                <td class="py-3 pr-3" dir="ltr">
                    <h4 ng-if="socialMediaPost.body.ar.proofread" class="text-success">نعم</h4>
                    <h4 ng-if="!socialMediaPost.body.ar.proofread" class="text-danger">لا</h4>
                </td>
            </tr>
            
            <tr>
                <td class="text-muted py-3">تم النشر</td>
                <td class="py-3 pr-3" dir="ltr">
                    <h4 ng-if="socialMediaPost.body.ar.ready_to_publish" class="text-success">نعم</h4>
                    <h4 ng-if="!socialMediaPost.body.ar.ready_to_publish" class="text-danger">لا</h4>
                </td>
            </tr>
        </table>

    </div>

    <div class="col-12 col-lg-6">

        <table>
            
            <tr>
                <td class="text-muted py-3">المحتوى الانكليزي</td>
                <td class="py-3 pr-3" dir="ltr">{{  socialMediaPost.body.en.value  }}</td>
            </tr>
            <tr>
                <td class="text-muted py-3">تم مراجعته لغويا</td>
                <td class="py-3 pr-3" dir="ltr">
                    <h4 ng-if="socialMediaPost.body.en.proofread" class="text-success">نعم</h4>
                    <h4 ng-if="!socialMediaPost.body.en.proofread" class="text-danger">لا</h4>
                </td>
            </tr>
            <tr>
                <td class="text-muted py-3">تم النشر </td>
                <td class="py-3 pr-3" dir="ltr">
                    <h4 ng-if="socialMediaPost.body.en.ready_to_publish" class="text-success">نعم</h4>
                        <h4 ng-if="!socialMediaPost.body.en.ready_to_publish" class="text-danger">لا</h4>
                </td>
            </tr>
            
            <tr>
                <td class="text-muted py-3">تاريخ الأرشفة </td>
                <td class="py-3 pr-3"><span ng-bind="socialMediaPost.archived_at | date:'yyyy-MM-dd hh:mm:ss'" dir="ltr"></span></td>
            </tr>
            <tr>
                <td class="text-muted py-3">تاريخ الاضافة</td>
                <td class="py-3 pr-3"><span ng-bind="socialMediaPost.created_at | date:'yyyy-MM-dd hh:mm:ss'" dir="ltr"></span></td>
            </tr>
            <tr>
                <td class="text-muted py-3">تاريخ اخر تعديل</td>
                <td class="py-3 pr-3"><span ng-bind="socialMediaPost.updated_at | date:'yyyy-MM-dd hh:mm:ss'" dir="ltr"></span></td>
            </tr>
        </table>

    </div>

</div>
