<page-header title="حالة جديدة" pretitle="الحالات"></page-header>

<form class="row" name="createCaseForm" request="createCase">
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="beneficiary_name">اسم المستفيد</label>
      <input
        type="text"
        class="form-control"
        ng-class="(createCase.errors.beneficiary_name != null) ? 'is-invalid' : ''"
        id="beneficiary_name"
        ng-model="object.beneficiary_name"
        ng-change="createCase.errors.beneficiary_name = null"
        placeholder="الاسم.."
        required
        ng-error="createCase.errors.name"
      />
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="beneficiaries_count">عدد المستفيدين</label>
      <input
        type="number"
        class="form-control"
        ng-class="(createCase.errors.beneficiaries_count != null) ? 'is-invalid' : ''"
        id="beneficiaries_count"
        ng-model="object.target['beneficiaries_count']"
        ng-change="createCase.errors.beneficiaries_count = null"
        required
        min="0"
        ng-error="createCase.errors.beneficiaries_count"
      />
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="country_id">الدولة</label>
      <select
        class="form-control"
        ng-model="object.country_id"
        ng-class="(createCase.errors.country_id != null) ? 'is-invalid' : ''"
        id="country_id"
        ng-change="createCase.errors.country_id = null"
        ng-options="country.id as country.name for country in countries"
        placeholder="يرجى اختيار دولة.."
        required
        ng-error="createCase.errors.country_id"
        ng-init="object.country_id = countries[0].id;"
      ></select>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="status">الحالة</label>
      <select
        class="form-control"
        ng-model="object.status"
        ng-class="(createCase.errors.status != null) ? 'is-invalid' : ''"
        id="status"
        ng-change="createCase.errors.status = null"
        ng-options="status.id as status.name for status in statuses"
        required
        ng-error="createCase.errors.status"
      ></select>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="visible">ظاهرة</label>
      <select
        class="form-control"
        ng-model="object.target.visible"
        ng-class="(createCase.errors.visible != null) ? 'is-invalid' : ''"
        id="visible"
        ng-change="createCase.errors.target.visible = null"
        required
        ng-error="createCase.errors.visible"
      >
        <option ng-value="true">نعم</option>
        <option ng-value="false">لا</option>
      </select>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="required">المبلغ المطلوب</label>
      <input
        type="number"
        class="form-control"
        ng-class="(createCase.errors.required != null) ? 'is-invalid' : ''"
        id="required"
        ng-model="object.target['required']"
        ng-change="createCase.errors.required = null"
        placeholder="الاسم.."
        required
        min="0"
        ng-error="createCase.errors.required"
      />
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="category_id">الصنف</label>
      <select
        class="form-control"
        ng-model="object.target.category_id"
        ng-class="(createCase.errors.category_id != null) ? 'is-invalid' : ''"
        id="category_id"
        ng-change="createCase.errors.category_id = null"
        ng-options="category.id as category.name for category in categories"
        placeholder="يرجى اختيار صنف.."
        ng-error="createCase.errors.category_id"
        ng-init="object.target.category_id = categories[0].id;"
        required
      ></select>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="place_id">المكان</label>
      <select2
        model="object.place_id"
        ajax-url="places/search"
        error-model="createCase.errors.place_id"
        required
      ></select2>
    </div>
  </div>

  <div class="col-12">
    <submit-button form="createCaseForm" icon="fe fe-plus">اضافة</submit-button>
  </div>
</form>
