<page-header title="متبرع جديد" pretitle="المتبرعين"></page-header>

<form class="row" name="myForm" request="createDonor">


    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="name">الاسم</label>
            <input type="text" class="form-control" ng-class="(createDonor.errors.name != null) ? 'is-invalid' : ''" id="name" ng-model="donor.name" ng-change="createDonor.errors.name = null" placeholder="الاسم .." required>
            <div ng-show="createDonor.errors.name != null" class="invalid-feedback">{{ createDonor.errors.name[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="email">البريد الالكتروني</label>
            <input type="email" class="form-control" ng-class="(createDonor.errors.email != null) ? 'is-invalid' : ''" id="email" ng-model="donor.email" ng-change="createDonor.errors.email = null" placeholder="البريد الالكتروني .." autofocus="off" autocomplete="off" required>
            <div ng-show="createDonor.errors.email != null" class="invalid-feedback">{{ createDonor.errors.email[0] }}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="password">كلمة المرور</label>
            <input type="password" class="form-control" ng-class="(createDonor.errors.password != null) ? 'is-invalid' : ''" id="password" ng-model="donor.password" ng-change="createDonor.errors.password = null" placeholder="كلمة المرور .." autofocus="off" autocomplete="off" required>
            <div ng-show="createDonor.errors.password != null" class="invalid-feedback">{{ createDonor.errors.email[0] }}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="phone">رقم الهاتف</label>
            <input type="text" class="form-control" ng-class="(createDonor.errors.phone != null) ? 'is-invalid' : ''" id="phone" ng-model="donor.phone" ng-change="createDonor.errors.phone = null" placeholder="رقم الهاتف" autofocus="off" autocomplete="off" required>
            <div ng-show="createDonor.errors.phone != null" class="invalid-feedback">{{ createDonor.errors.phone[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="swish_number">رقم السويش</label>
            <input type="text" class="form-control" ng-class="(createDonor.errors.swish_number != null) ? 'is-invalid' : ''" id="swish_number" ng-model="donor.swish_number" ng-change="createDonor.errors.swish_number = null" placeholder="Swish number" autofocus="off" autocomplete="off">
            <div ng-show="createDonor.errors.swish_number != null" class="invalid-feedback">{{ createDonor.errors.swish_number[0] }}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="whatsapp_number">رقم الواتس اب</label>
            <input type="text" class="form-control" ng-class="(createDonor.errors.whatsapp_number != null) ? 'is-invalid' : ''" id="whatsapp_number" ng-model="donor.whatsapp_number" ng-change="createDonor.errors.whatsapp_number = null" placeholder="Whatsapp number" autofocus="off" autocomplete="off">
            <div ng-show="createDonor.errors.whatsapp_number != null" class="invalid-feedback">{{ createDonor.errors.whatsapp_number[0] }}</div>
        </div>
    </div>
    <div class="col-12">
        <submit-button ng-if="$auth.can('donors.add')" form="myForm" icon="fe fe-plus">اضافة</submit-button>
    </div>
</form>
