<page-header title="قائمة المتبرعين" pretitle="المتبرعين">
    <a href="{{ $r('donors.add') }}" class="btn btn-primary" ng-if="$auth.can('donors.create')"> <i class="fe fe-plus"></i>&nbsp; متبرع جديد </a>
</page-header>
<datatable datalist="donors">
    <table>
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">الاسم</th>
                <th class="text-center">البريد الالكتروني</th>
                <th class="text-center">الهاتف</th>
                <th class="text-center">خيارات</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="d in donors.data">
                <td class="align-middle text-center">{{ d.id }}</td>
                <td class="align-middle text-center">{{ d.name }}</td>
                <td class="align-middle text-center">{{ d.email }}</td>
                <td class="align-middle text-center">{{ d.phone }}</td>
                <td class="align-middle text-center h2">
                    <dropdown>
                        <dropdown-item href="{{ $r('donors.overview', {id: d.id}) }}"><i class="fe fe-eye"></i> نظرة عامة</dropdown-item>
                        <dropdown-item ng-if="$auth.can('donors.update')" href="{{ $r('donors.edit', {id: d.id}) }}"><i class="fe fe-edit-2"></i> تعديل</dropdown-item>
                        <dropdown-item ng-if="$auth.can('donors.view')" href="{{ $r('donors.logs', {id: d.id}) }}"><i class="fe fe-calendar"></i> السجلات</dropdown-item>
                    </dropdown>
                </td>
            </tr>
        </tbody>
    </table>
</datatable>
