<page-header title="حملة جديدة" pretitle="الحملات"></page-header>

<form class="row" name="createCampaignForm" request="createCampaign">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="name">اسم الحملة</label>
            <input type="text" class="form-control"
                ng-class="(createCampaign.errors.name != null) ? 'is-invalid' : ''" id="name"
                ng-model="object.name" ng-change="createCampaign.errors.name = null"
                placeholder="الاسم.." required>
            <div ng-show="createCampaign.errors.name != null" class="invalid-feedback">
                {{ createCampaign.errors.name[0] }}</div>
        </div>
    </div>

    <div class="col-12">
        <submit-button form="createCampaignForm" icon="fe fe-plus">اضافة</submit-button>
    </div>

</form>
