<page-header title="حملة جديدة" pretitle="الحملات"></page-header>
<form class="row" name="createCampaignForm" request="createCampaign">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="name">اسم الحملة</label>
            <input type="text" class="form-control"
                ng-class="(createCampaign.errors.name != null) ? 'is-invalid' : ''" id="name"
                ng-model="object.name" ng-change="createCampaign.errors.name = null"
                placeholder="الاسم.." required>
            <div ng-show="createCampaign.errors.name != null" class="invalid-feedback">
                {{ createCampaign.errors.name[0] }}</div>
        </div>
    </div>
      <div class="col-12 col-md-6">
          <div class="form-group">
              <label for="name">عدد المستفيدين</label>
              <input type="number" class="form-control"
                  ng-class="(createCampaign.errors.beneficiaries_count != null) ? 'is-invalid' : ''"
                  id="beneficiaries_count" ng-model="object.target['beneficiaries_count']"
                  ng-change="createCampaign.errors.beneficiaries_count = null" required min="0">
              <div ng-show="createCampaign.errors.beneficiaries_count != null" class="invalid-feedback">
                  {{ createCampaign.errors.beneficiaries_count[0] }}</div>
          </div>
      </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label for="visible">ظاهرة</label>
                <select class="form-control" ng-model="object.target.visible"
                    ng-class="(createCampaign.errors.visible != null) ? 'is-invalid' : ''" id="visible"
                    ng-change="createCampaign.errors.target.visible = null" required>
                    <option ng-value="true">نعم</option>
                    <option ng-value="false">لا</option>
                </select>
                <div ng-show="createCampaign.errors.country_id != null" class="invalid-feedback">
                    {{ createCampaign.errors.country_id[0] }}</div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="form-group">
                <label for="name">المبلغ المطلوب</label>
                <input type="number" class="form-control"
                    ng-class="(createCampaign.errors.required != null) ? 'is-invalid' : ''" id="required"
                    ng-model="object.target['required']" ng-change="createCampaign.errors.required = null"
                    placeholder="الاسم.." required min="0">
                <div ng-show="createCampaign.errors.required != null" class="invalid-feedback">
                    {{ createCampaign.errors.required[0] }}</div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label for="section_id">القسم</label>
                <select class="form-control" ng-model="object.target.section_id"
                    ng-class="(createCampaign.errors.section_id != null) ? 'is-invalid' : ''" id="section_id"
                    ng-change="createCampaign.errors.section_id = null"
                    ng-options="section.id as section.name for section in sections"
                    placeholder="يرجى اختيار قسم..">
                </select>
                <div ng-show="createCampaign.errors.section_id != null" class="invalid-feedback">
                    {{ createCampaign.errors.section_id[0] }}</div>
            </div>
        </div>
 <div class="col-12 col-md-6">
          <div class="form-group">
              <label for="place">المكان</label>
              <select class="form-control" ng-model="object.places[0]"
                  ng-class="(createCampaign.errors.places[0] != null) ? 'is-invalid' : ''" id="places[0]"
                  ng-change="createCampaign.errors.places[0] = null"
                  ng-options="place.id as place.name for place in places" placeholder="يرجى اختيار مكان.."
                  required>
              </select>
              <div ng-show="createCampaign.errors.places[0] != null" class="invalid-feedback">
                  {{ createCampaign.errors.places[0][0] }}</div>
          </div>
      </div>
    <div class="col-12">
        <submit-button form="createCampaignForm" icon="fe fe-plus">اضافة</submit-button>
    </div>

</form>
