<page-header title="نشاط جديدة" pretitle="النشاطات"></page-header>
<form class="row" name="myForm" request="createActivity">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="name">الاسم </label>
            <input type="text" class="form-control" ng-class="(createActivity.errors.name != null) ? 'is-invalid' : ''" id="name" ng-model="activity.name" ng-change="createActivity.errors.name = null" placeholder="اسم النشاط .." required>
            <div ng-show="createActivity.errors.name != null" class="invalid-feedback">{{ createActivity.errors.name[0] }}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="body_ar">الوصف العربي</label>
            <input type="text" class="form-control" ng-class="(createActivity.errors.body_ar != null) ? 'is-invalid' : ''" id="body_ar" ng-model="activity.body_ar" ng-change="createActivity.errors.body_ar = null" placeholder="الوصف  العربي.." required>
            <div ng-show="createActivity.errors.body_ar != null" class="invalid-feedback">{{ createActivity.errors.body_ar[0] }}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="body_en">الوصف الانكليزي</label>
            <input type="text" class="form-control" ng-class="(createActivity.errors.body_en != null) ? 'is-invalid' : ''" id="body_en" ng-model="activity.body_en" ng-change="createActivity.errors.body_en = null" placeholder="الوصف الانكليزي .." required>
            <div ng-show="createActivity.errors.body_en != null" class="invalid-feedback">{{ createActivity.errors.body_en[0] }}</div>
        </div>
    </div>
    <div class="col-12">
        <submit-button form="myForm" icon="fe fe-plus">اضافة</submit-button>
    </div>
</form>
