<include-header/>

<div class="header">
    <div class="header-body">
        <h1 class="header-title h3 font-weight-bold">
            معلومات السلفة
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6">
        <table>
            <tr>
                <td class="text-muted py-3">صاحب السلفة</td>
                <td class="py-3 pr-3">{{ advancePaymentRequest.user.name }}</td>
            </tr>
            <tr>
                <td class="text-muted py-3">مقدار السلفة</td>
                <td class="py-3 pr-3">{{ advancePaymentRequest.amount }}</td>
            </tr>
            <tr>
                <td class="text-muted py-3">تاريخ استلاف السلفة</td>
                <td class="py-3 pr-3">{{ advancePaymentRequest.receiving_date }}</td>
            </tr>
            <tr>
                <td class="text-muted py-3">حالة السلفة</td>
                <td class="py-3 pr-3">{{ advancePaymentRequest.status }}</td>
            </tr>
            <tr>
                <td class="text-muted py-3">نسبة السلفة الى الراتب الأساسي</td>
                <td class="py-3 pr-3">{{ advancePaymentRequest.percentage_to_salary }}</td>
            </tr>
            <tr>
                <td class="text-muted py-3">تفاصيل السلفة</td>
                <td class="py-3 pr-3">{{ advancePaymentRequest.details }}</td>
            </tr>
        </table>
    </div>
    <div class="col-12 col-lg-6">
        <table>
            <tr>
                <td class="text-muted py-3">تاريخ الاضافة</td>
                <td class="py-3 pr-3"><td class="py-3 pr-3"><span ng-bind="advancePaymentRequest.created_at | date:'yyyy-MM-dd hh:mm:ss'" dir="ltr"></span></td></td>
            </tr>
            <tr>
                <td class="text-muted py-3">تاريخ اخر تعديل</td>
                <td class="py-3 pr-3"><td class="py-3 pr-3"><span ng-bind="advancePaymentRequest.updated_at | date:'yyyy-MM-dd hh:mm:ss'" dir="ltr"></span></td></td>
            </tr>
        </table>
    </div>
</div>

<hr>

