<page-header title="عضو جديد" pretitle="الأعضاء"></page-header>

<form class="row" name="createMemberForm" request="createMember">

    <!--first name ar-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="first_name_ar">الإسم باللغة العربية</label>
            <input id="first_name_ar" class="form-control" type="text" ng-model="member.first_name.ar" placeholder="الإسم باللغة العربية.." ng-error="createMember.errors.first_name.ar" required>
        </div>
    </div>

    <!--first name en-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="first_name_en">الإسم باللغة الإنكليزية</label>
            <input id="first_name_en" class="form-control" type="text" ng-model="member.first_name.en" placeholder="الإسم باللغة الإنكليزية.." ng-error="createMember.errors.first_name.en" required>
        </div>
    </div>

    <!--last name ar-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="last_name_ar">اللقب باللغة العربية</label>
            <input id="last_name_ar" class="form-control" type="text" ng-model="member.last_name.ar" placeholder="اللقب باللغة العربية.." ng-error="createMember.errors.last_name.ar" required>
        </div>
    </div>

    <!--last name en-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="last_name_en">اللقب باللغة الإنكليزية</label>
            <input id="last_name_en" class="form-control" type="text" ng-model="member.last_name.en" placeholder="اللقب باللغة الإنكليزية.." ng-error="createMember.errors.last_name.en" required>
        </div>
    </div>

    <!--father name ar-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="father_name_ar">اسم الأب باللغة العربية</label>
            <input id="father_name_ar" class="form-control" type="text" ng-model="member.father_name.ar" placeholder="اسم الأب باللغة العربية.." ng-error="createMember.errors.father_name.ar" required>
        </div>
    </div>

    <!--father name en-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="father_name_en">اسم الأب باللغة الإنكليزية</label>
            <input id="father_name_en" class="form-control" type="text" ng-model="member.father_name.en" placeholder="اسم الأب باللغة الإنكليزية.." ng-error="createMember.errors.father_name.en" required>
        </div>
    </div>

    <!--mother name ar-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="mother_name_ar">اسم الأم باللغة العربية</label>
            <input id="mother_name_ar" class="form-control" type="text" ng-model="member.mother_name.ar" placeholder="اسم الأم باللغة العربية.." ng-error="createMember.errors.mother_name.ar" required>
        </div>
    </div>

    <!--mother name en-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="mother_name_en">اسم الأم باللغة الإنكليزية</label>
            <input id="mother_name_en" class="form-control" type="text" ng-model="member.mother_name.en" placeholder="اسم الأم باللغة الإنكليزية.." ng-error="createMember.errors.mother_name.en" required>
        </div>
    </div>

    <!--email-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="email">البريد الالكتروني</label>
            <input type="email" class="form-control" ng-class="(createMember.errors.email != null) ? 'is-invalid' : ''" id="email" ng-model="member.email" ng-change="createMember.errors.email = null" placeholder="البريد الالكتروني .." autofocus="off" autocomplete="off" required>
            <!--<div ng-show="createMember.errors.email != null" class="invalid-feedback">{{ createMember.errors.email[0] }}</div>-->
        </div>
    </div>

    <!--birth date-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="birth_date">تاريخ الميلاد</label>
            <input id="birth_date" class="form-control" date-picker ng-model="member.birth_date" placeholder="تاريخ الميلاد.." ng-error="createMember.errors.birth_date" required>
        </div>
    </div>

    <!--nationality code-->
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="nationality_code">الجنسية</label>
            <input id="nationality_code" class="form-control" type="text" ng-model="member.nationality_code" placeholder="الجنسية.." ng-error="createMember.errors.nationality_code" required>
        </div>
    </div>

    <!--&lt;!&ndash;employment level&ndash;&gt;
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="employment_level">المستوى الوظيفي</label>
            <select class="custom-select" ng-class="(createMember.errors.employment_level != null) ? 'is-invalid' : ''" id="employment_level" ng-model="member.employment_level" ng-change="memberAction(member.employment_level)">
                <option value="ceo">مدير تنفيذي</option>
                <option value="manager">مدير قسم</option>
                <option value="coordinator">منسق</option>
                <option value="senior_officer">مسؤول قسم</option>
                <option value="officer">مسؤول</option>
                <option value="assistant">مساعد</option>
                <option value="volunteer">متطوع</option>
            </select>
            &lt;!&ndash;<div ng-show="createMember.errors.employment_level != null" class="invalid-feedback">{{ createMember.errors.employment_level[0] }}</div>&ndash;&gt;
        </div>
    </div>-->

    <!--&lt;!&ndash;employment degree&ndash;&gt;
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="employment_degree">الدرجة</label>
            <select class="custom-select" ng-class="(createMember.errors.employment_degree != null) ? 'is-invalid' : ''" id="employment_degree" ng-model="member.employment_degree">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <div ng-show="createMember.errors.employment_degree != null" class="invalid-feedback">{{ createMember.errors.employment_degree[0] }}</div>
        </div>
    </div>-->

    <!--&lt;!&ndash;document type&ndash;&gt;
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="document_type">نوع الوثيقة</label>
            <input type="text" class="form-control" ng-class="(createMember.errors.document_type != null) ? 'is-invalid' : ''" id="document_type" ng-model="member.document_type" ng-change="createMember.errors.document_type = null" placeholder="نوع الوثيقة .." required>
            &lt;!&ndash;<div ng-show="createMember.errors.document_type != null" class="invalid-feedback">{{ createMember.errors.document_type[0] }}</div>&ndash;&gt;
        </div>
    </div>-->

    <!--&lt;!&ndash;document number&ndash;&gt;
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="document_number">رقم الوثيقة</label>
            <input type="text" class="form-control" ng-class="(createMember.errors.document_number != null) ? 'is-invalid' : ''" id="document_number" ng-model="member.document_number" ng-change="createMember.errors.document_number = null" placeholder="نوع الوثيقة .." required>
            &lt;!&ndash;<div ng-show="createMember.errors.document_number != null" class="invalid-feedback">{{ createMember.errors.document_number[0] }}</div>&ndash;&gt;
        </div>
    </div>-->

    <!--&lt;!&ndash;document issuance date&ndash;&gt;
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="document_issuance_date">تاريخ اصدار الوثيقة</label>
            <input date-picker class="form-control" ng-class="(createMember.errors.document_issuance_date != null) ? 'is-invalid' : ''" id="document_issuance_date" ng-model="member.document_issuance_date" placeholder="تاريخ اصدار الوثيقة .." required>
            &lt;!&ndash;<div ng-show="createMember.errors.document_issuance_date != null" class="invalid-feedback">{{ createMember.errors.document_issuance_date[0] }}</div>&ndash;&gt;
        </div>
    </div>-->

    <!--&lt;!&ndash;document expiration date&ndash;&gt;
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="document_expiration_date">تاريخ انتهاء الوثيقة</label>
            <input date-picker class="form-control" ng-class="(createMember.errors.document_expiration_date != null) ? 'is-invalid' : ''" id="document_expiration_date" ng-model="member.document_expiration_date" placeholder="تاريخ انتهاء الوثيقة .." required>
            &lt;!&ndash;<div ng-show="createMember.errors.document_expiration_date != null" class="invalid-feedback">{{ createMember.errors.document_expiration_date[0] }}</div>&ndash;&gt;
        </div>
    </div>-->

    <div class="col-12">
        <submit-button form="createMemberForm" icon="fe fe-plus">اضافة</submit-button>
    </div>
</form>
