<include-header />

<form class="row" name="myForm" request="updateCase">
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="beneficiary_name">اسم المستفيد</label>
      <input
        id="beneficiary_name"
        class="form-control"
        type="text"
        ng-model="object.beneficiary_name"
        ng-class="(updateCase.errors.beneficiary_name != null) ? 'is-invalid' : ''"
        ng-change="updateCase.errors.beneficiary_name = null"
        ng-error="updateCase.errors.beneficiary_name"
        required
      />
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="beneficiaries_count">عدد المستفيدين</label>
      <input
        id="beneficiaries_count"
        class="form-control"
        type="number"
        ng-model="object.target['beneficiaries_count']"
        ng-class="(updateCase.errors['target.beneficiaries_count'] != null) ? 'is-invalid' : ''"
        ng-change="updateCase.errors['target.beneficiaries_count']= null"
        ng-error="updateCase.errors.target.beneficiaries_count"
        required
      />
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="country_id">الدولة</label>
      <select
        id="country_id"
        class="form-control"
        ng-model="object.country_id"
        ng-class="(updateCase.errors.country_id != null) ? 'is-invalid' : ''"
        ng-change="updateCase.errors.country_id = null"
        ng-options="country.id as country.name for country in countries"
        required
        ng-error="updateCase.errors.country_id"
      ></select>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="archived">مؤرشفة</label>
      <select
        id="archived"
        class="form-control"
        ng-model="object.target.archived"
        ng-class="(updateCase.errors['target.archived'] != null) ? 'is-invalid' : ''"
        ng-change="upsdateCase.errors['target.archived'] = null"
        ng-error="updateCase.errors.target.archived"
        required
      >
        <option ng-value="true">نعم</option>
        <option ng-value="false">لا</option>
      </select>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="documented">موثقة</label>
      <select
        id="documented"
        class="form-control"
        ng-model="object.target.documented"
        ng-class="(updateCase.errors['target.documented'] != null) ? 'is-invalid' : ''"
        ng-change="updateCase.errors['target.documented'] = null"
        ng-error="updateCase.errors.target.documented"
        required
      >
        <option ng-value="true">نعم</option>
        <option ng-value="false">لا</option>
      </select>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="visible">ظاهرة</label>
      <select
        id="visible"
        class="form-control"
        ng-model="object.target.visible"
        ng-class="(updateCase.errors['target.visible'] != null) ? 'is-invalid' : ''"
        ng-change="updateCase.errors['target.visible'] = null"
        ng-error="updateCase.errors.target.visible"
        required
      >
        <option ng-value="true">نعم</option>
        <option ng-value="false">لا</option>
      </select>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="status">الحالة</label>
      <select
        id="status"
        class="form-control"
        ng-model="object.status"
        ng-class="(updateCase.errors.status != null) ? 'is-invalid' : ''"
        ng-change="updateCase.errors.status = null"
        ng-options="status.id as status.name for status in statuses"
        ng-error="updateCase.errors.status"
        required
      ></select>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="place_id">المكان</label>
      <select2
        model="object.place_id"
        ajax-url="places/search"
        error-model="updateCase.errors.place_id"
        required
      >
        <option selected ng-repeat="p in object.places" value="{{p.id}}">
          {{p.text}}
        </option>
      </select2>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="place_id">المشرفون</label>
      <select2
        model="object.admins_ids"
        ajax-url="users/search"
        error-model="updateCase.errors.admins_ids"
        required
        multiple
      >
        <option selected ng-repeat="p in object.admins" value="{{p.id}}">
          {{p.name}}
        </option>
      </select2>
    </div>
  </div>

  <div class="col-12">
    <submit-button form="myForm" icon="fe fe-edit">تعديل</submit-button>
  </div>
</form>
