<page-header title="الحالة  {{ $routeParams.id }}" pretitle="الحالات"></page-header>

<page-nav>
  <page-nav-item route="cases.overview" params="{id: $routeParams.id}"
    >نظرة عامة</page-nav-item
  >
  <page-nav-item route="cases.edit" params="{id: $routeParams.id}"
    >تعديل المعلومات</page-nav-item
  >
  <page-nav-item route="cases.contents" params="{id: $routeParams.id}"
    >المحتوى </page-nav-item
  >
  <page-nav-item route="cases.statuses" params="{id: $routeParams.id}"
    >تحديث الحالة </page-nav-item
  >
  <page-nav-item route="cases.notes" params="{id: $routeParams.id}"
    >الملاحظات </page-nav-item
  >
  <page-nav-item route="cases.cards" params="{id: $routeParams.id}"
    >البيانات </page-nav-item
  >
  <page-nav-item route="cases.attachments" params="{id: $routeParams.id}"
    >المرفقات </page-nav-item
  >
  <!-- <page-nav-item route="cases.admins" params="{id: $routeParams.id}"
    >المشرفون</page-nav-item
  > -->
</page-nav>
