<include-header />

<div class="row">
    <div class="col-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-header-title">معلومات الحالة</h4>
            </div>
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">الاسم</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ case.beneficiary_name }}</h4>
                    </div>
                </div>
                <hr />
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">الدولة</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ case.country.name }}</h4>
                    </div>
                </div>
                <hr />
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">المكان</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ case.place.name }}</h4>
                    </div>
                </div>
                <hr />
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">المبلغ المطلوب</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ case.target.required }}</h4>
                    </div>
                </div>
                <hr />
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">الصنف</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ case.target.category.name }}</h4>
                    </div>
                </div>
                <hr />
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">عدد المستفيدين</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ case.target.beneficiaries_count }}</h4>
                    </div>
                </div>
                <hr />
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">تمت أرشفتها</h4>
                    </div>
                    <div class="col-auto">
                        <h4 ng-if="case.target.archived">نعم</h4>
                        <h4 ng-if="!case.target.archived">لا</h4>
                    </div>
                </div>
                <hr />
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">تم توثيقها</h4>
                    </div>
                    <div class="col-auto">
                        <h4 ng-if="case.target.documented">نعم</h4>
                        <h4 ng-if="!case.target.documented">لا</h4>
                    </div>
                </div>
                <hr />
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">مخفية</h4>
                    </div>
                    <div class="col-auto">
                        <h4 ng-if="case.target.hidden">نعم</h4>
                        <h4 ng-if="!case.target.hidden">لا</h4>
                    </div>
                </div>
                <hr />
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">الحالة</h4>
                    </div>
                    <div class="col-auto">
                        <h4 ng-if="case.status == 'spent'">تم صرفها</h4>
                        <h4 ng-if="case.status == 'funded'">مؤمنة</h4>
                        <h4 ng-if="case.status == 'unfunded'">غير مؤمنة</h4>
                        <h4 ng-if="case.status == 'canceled'">ملغاة</h4>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>
