<page-header title="قائمة المهام" pretitle="المهام">
    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalFilters"><i
            class="fe fe-plus me-1"></i>اضافة فلتر</a>
</page-header>

<div class="row">
    <div class="col-12">

        <!-- Filters Area -->
        <div class="card card-sm mb-3">
            <div class="card-body">
                <div class="filters">
                    <span class="badge bg-primary-soft me-1">فلتر حسب التاريخ <span class="btn-close"></span></span>
                    <a href="#" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                        data-bs-target="#modalFilters"><i class="fe fe-plus me-1"></i>اضافة فلتر</a>
                </div>
            </div>
        </div>
        <!-- End Filters Area -->

        <!-- Category -->
        <div class="kanban-category tasks">
            <!-- Card -->
            <div class="kanban-item">
                <div class="card card-sm mb-3">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-12 col-sm">

                                <!-- Body -->
                                <a href="tasks/1" class="title mb-3 mb-sm-0">
                                    قم بإنشاء ملاحظات الإصدار للصفحات الجديدة حتى يكون العملاء على دراية بها.
                                </a>

                            </div>
                            <div class="col col-sm-auto">

                                <!-- Time -->
                                <p class="card-text small text-muted mb-0 d-flex align-items-center">
                                    <span class="d-flex me-3"><i class="fe fe-clock me-1"></i>9.نيسان</span>
                                </p>

                            </div>
                            <div class="col-auto col-sm-auto">

                                <!-- Avatar group -->
                                <div class="avatar-group">
                                    <a href="#!" class="avatar avatar-xs" data-bs-toggle="tooltip" title="Ab Hadley">
                                        <img src="https://dashkit.goodthemes.co/assets/img/avatars/profiles/avatar-2.jpg"
                                            class="avatar-img rounded-circle" alt="...">
                                    </a>
                                </div>

                            </div>
                        </div> <!-- / .row -->
                    </div>
                </div>
            </div>

            <!-- Card -->
            <div class="kanban-item">
                <div class="card card-sm mb-3">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-12 col-sm">

                                <!-- Body -->
                                <a href="tasks/1" class="title mb-3 mb-sm-0">
                                    قم بإنهاء تصميم قوائم ومقالات المدونة ، بما في ذلك الوسائط المختلطة
                                </a>

                            </div>
                            <div class="col col-sm-auto">

                                <!-- Time -->
                                <p class="card-text small text-muted mb-0 d-flex align-items-center">
                                    <span class="d-flex me-3"><i class="fe fe-message-circle me-1"></i> 32</span>
                                    <span class="d-flex me-3"><i class="fe fe-clock me-1"></i>9.نيسان</span>
                                </p>

                            </div>
                            <div class="col-auto col-sm-auto">

                                <!-- Avatar group -->
                                <div class="avatar-group">
                                    <a href="#" class="avatar avatar-xs" data-bs-toggle="tooltip" title="Ab Hadley">
                                        <img src="https://dashkit.goodthemes.co/assets/img/avatars/profiles/avatar-2.jpg"
                                            class="avatar-img rounded-circle" alt="...">
                                    </a>
                                    <a href="#" class="avatar avatar-xs" data-bs-toggle="tooltip" title="Adolfo Hess">
                                        <img src="https://dashkit.goodthemes.co/assets/img/avatars/profiles/avatar-3.jpg"
                                            class="avatar-img rounded-circle" alt="...">
                                    </a>
                                    <a href="#" class="avatar avatar-xs" data-bs-toggle="tooltip"
                                        title="Daniela Dewitt">
                                        <img src="https://dashkit.goodthemes.co/assets/img/avatars/profiles/avatar-4.jpg"
                                            class="avatar-img rounded-circle" alt="...">
                                    </a>
                                </div>

                            </div>
                        </div> <!-- / .row -->
                    </div>
                </div>
            </div>

            <!-- Card -->
            <div class="kanban-item">
                <div class="card card-sm mb-3">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-12 col-sm">
                                <a href="tasks/1" class="title mb-3 mb-sm-0">
                                    امسح جميع تحذيرات الإيقاف لحزم NPM القديمة
                                </a>
                            </div>
                            <div class="col col-sm-auto">
                                <span class="badge bg-success-soft me-2">تمت المراجعة</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Card -->
                <div class="kanban-item">
                    <div class="card card-sm mb-3">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-12 col-sm">

                                    <!-- Body -->
                                    <a href="tasks/1" class="title mb-3 mb-sm-0">
                                        راجع جميع تغييرات المسافة البادئة للتأكد من أنها ستحل جميع مشكلات العملاء
                                    </a>

                                </div>
                                <div class="col col-sm-auto">

                                    <!-- Time -->
                                    <p class="card-text small text-muted mb-0 d-flex align-items-center">
                                        <span class="d-flex me-3"><i class="fe fe-message-circle me-1"></i> 32</span>
                                        <span class="d-flex me-3"><i class="fe fe-clock me-1"></i>9.نيسان</span>
                                    </p>

                                </div>
                                <div class="col-auto col-sm-auto">

                                    <!-- Avatar group -->
                                    <div class="avatar-group">
                                        <a href="#" class="avatar avatar-xs" data-bs-toggle="tooltip"
                                            title="Miyah Miles">
                                            <img src="https://dashkit.goodthemes.co/assets/img/avatars/profiles/avatar-5.jpg"
                                                class="avatar-img rounded-circle" alt="...">
                                        </a>
                                    </div>

                                </div>
                            </div> <!-- / .row -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add -->
            <div class="kanban-add">
                <div class="card card-sm card-flush mb-0">
                    <div class="card-body">

                        <!-- Link -->
                        <a class="kanban-add-link" href="#!">+ إضافة مهمة</a>

                        <!-- Form -->
                        <form class="kanban-add-form d-none">
                            <div class="row align-items-center">
                                <div class="col-12 col-md">

                                    <!-- Input -->
                                    <input type="text" class="form-control form-control-flush form-control-auto"
                                        placeholder="عنوان المهمة">

                                </div>
                                <div class="col-6 col-md-auto d-flex align-items-center">

                                    <!-- Icon -->
                                    <span class="text-muted small me-2">
                                        <i class="fe fe-clock"></i>
                                    </span>

                                    <!-- Input -->
                                    <input type="text" class="form-control form-control-sm form-control-flush form-control-auto
                                    text-muted" data-flatpickr data-options='{"dateFormat": "M j"}'
                                        placeholder="لايوجد تاريخ استحقاق">

                                </div>
                                <div class="col-6 col-md-auto">

                                    <!-- Buttons -->
                                    <button class="btn btn-sm btn-white" type="reset">
                                        الغاء
                                    </button>
                                    <button class="btn btn-sm btn-primary" type="submit">
                                        إضافة
                                    </button>

                                </div>
                            </div> <!-- / .row -->
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>