<include-header />

<form class="row" name="eventContentsForm" request="createUpdateEventContents">
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="title-ar">العنوان باللغة العربية</label>
      <input
        id="title-ar"
        class="form-control"
        type="text"
        ng-model="contents.title.ar"
        ng-class="(createUpdateEventContents.errors['title.ar'] != null) ? 'is-invalid' : ''"
        ng-change="createUpdateEventContents.errors['title.ar'] = null"
        ng-error="createUpdateEventContents.errors.title.ar"
      />
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="details-ar">التفاصيل باللغة العربية</label>
      <textarea
        id="details-ar"
        class="form-control"
        type="text"
        ng-model="contents.details.ar"
        ng-class="(createUpdateEventContents.errors['details.ar'] != null) ? 'is-invalid' : ''"
        ng-change="createUpdateEventContents.errors['details.ar'] = null"
        ng-error="createUpdateEventContents.errors.details.ar"
      ></textarea>
    </div>
  </div>

  <div class="col-12">
    <submit-button form="eventContentsForm" icon="fe fe-edit">تعديل</submit-button>
  </div>
</form>
