<include-header />
<form class="row" name="updateEventForm" request="updateEvent">
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="date">تاريخ المناسبة</label>
      <input
        type="date"
        class="form-control"
        ng-class="(updateEvent.errors.date != null) ? 'is-invalid' : ''"
        id="date"
        ng-model="object.date"
        ng-change="updateEvent.errors.date = null"
        ng-error="updateEvent.errors.date"
        required
      />
    </div>
  </div>
<!-- 
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="required">المبلغ المطلوب</label>
      <input
        type="number"
        class="form-control"
        ng-class="(updateEvent.errors['target.required'] != null) ? 'is-invalid' : ''"
        id="required"
        ng-model="object.target['required']"
        ng-change="updateEvent.errors['target.required'] = null"
        ng-error="updateEvent.errors.target.required"
        required
      />
    </div>
  </div> -->

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="youtube_video_url">رابط الفيديو يوتيوب</label>
      <input
        type="text"
        class="form-control"
        ng-class="(updateEvent.errors.object.youtube_video_url != null) ? 'is-invalid' : ''"
        id="object.youtube_video_url"
        ng-model="object.youtube_video_url"
        ng-change="updateEvent.errors.object.youtube_video_url = null"
        placeholder="رابط الفيديو على يوتيوب"
        ng-error="updateEvent.errors.youtube_video_url"
      />
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="implemented">تم تنفيذه</label>
      <select
        class="form-control"
        ng-model="object.implemented"
        ng-class="(updateEvent.errors.implemented != null) ? 'is-invalid' : ''"
        id="implemented"
        ng-change="updateEvent.errors.implemented = null"
        ng-error="updateEvent.errors.implemmented"
        required
      >
        <option ng-value="true">نعم</option>
        <option ng-value="false">لا</option>
      </select>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="implementation_date">تاريخ تنفيذ المناسبة</label>
      <input
        type="date"
        class="form-control"
        ng-class="(updateEvent.errors.implementation_date != null) ? 'is-invalid' : ''"
        id="implementation_date"
        ng-model="object.implementation_date"
        ng-change="updateEvent.errors.implementation_date = null"
        ng-disabled="!object.implemented"
        ng-error="updateEvent.errors.implementation_date"
      />
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="public_visibility">متاح للعامة</label>
      <select
        class="form-control"
        ng-model="object.public_visibility"
        ng-class="(updateEvent.errors.public_visibility != null) ? 'is-invalid' : ''"
        id="public_visibility"
        ng-change="updateEvent.errors.public_visibility = null"
        ng-error="updateEvent.errors.public_visibility"
        required
      >
        <option ng-value="true">نعم</option>
        <option ng-value="false">لا</option>
      </select>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="verified">مؤكد</label>
      <select
        class="form-control"
        ng-model="object.verified"
        ng-class="(updateEvent.errors.verified != null) ? 'is-invalid' : ''"
        id="verified"
        ng-change="updateEvent.errors.verified = null"
        ng-error="updateEvent.errors.verified"
        required
      >
        <option ng-value="true">نعم</option>
        <option ng-value="false">لا</option>
      </select>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="required">المبلغ المطلوب</label>
      <input
        type="number"
        class="form-control"
        ng-class="(updateEvent.errors['target.required'] != null) ? 'is-invalid' : ''"
        id="required"
        ng-model="object.target['required']"
        ng-change="updateEvent.errors['target.required'] = null"
        ng-error="updateEvent.errors.target.required"
        min="1"
        required
      />
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="visible">ظاهر</label>
      <select
        class="form-control"
        ng-model="object.target.visible"
        ng-class="(updateEvent.errors['target.visible'] != null) ? 'is-invalid' : ''"
        id="visible"
        ng-change="updateEvent.errors['target.visible'] = null"
        ng-error="updateEvent.errors.target.visible"
        required
      >
        <option ng-value="true">نعم</option>
        <option ng-value="false">لا</option>
      </select>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="beneficiaries_count">عدد المستفيدين</label>
      <input
        type="number"
        class="form-control"
        ng-class="(updateEvent.errors['target.beneficiaries_count'] != null) ? 'is-invalid' : ''"
        id="beneficiaries_count"
        ng-model="object.target['beneficiaries_count']"
        ng-change="updateEvent.errors['target.beneficiaries_count'] = null"
        ng-error="updateEvent.errors.target.beneficiaries_count"
        required
        min="1"
      />
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="archived">مؤرشفة</label>
      <select
        class="form-control"
        ng-model="object.target.archived"
        ng-class="(updateEvent.errors['target.archived'] != null) ? 'is-invalid' : ''"
        id="archived"
        ng-change="updateEvent.errors['target.archived'] = null"
        ng-error="updateEvent.errors.target.archived"
        required
      >
        <option ng-value="true">نعم</option>
        <option ng-value="false">لا</option>
      </select>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="documented">موثقة</label>
      <select
        class="form-control"
        ng-model="object.target.documented"
        ng-class="(updateEvent.errors['target.documented'] != null) ? 'is-invalid' : ''"
        id="documented"
        ng-change="updateEvent.errors['target.documented'] = null"
        ng-error="updateEvent.errors.target.documented"
        required
      >
        <option ng-value="true">نعم</option>
        <option ng-value="false">لا</option>
      </select>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="places_ids">المكان</label>
      <select2
        model="object.places_ids"
        ajax-url="places/search"
        multiple
        required
        error-model="updateEvent.errors.places_ids"
      >
        <option selected ng-repeat="p in object.places" value="{{p.id}}">
          {{p.text}}
        </option>
      </select2>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="donor_id">المتبرع</label>
      <select2 model="object.donor_id" ajax-url="donors/search" required
        error-model="updateEvent.errors.donor_id" >
        <option selected value="{{object.donor.id}}">
          {{object.donor.text}}
        </option>
      </select2>
    </div>
  </div>

  <div class="col-12">
    <submit-button form="updateEventForm" icon="fe fe-edit"
      >تعديل</submit-button
    >
  </div>
</form>
