<ul class="navbar-nav">

    <li class="nav-item">
        <a id="home-nav" class="nav-link" href="سشيسشيسشيسي">
            <i class="fe fe-home"></i> البداية
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="javascript:;" data-toggle="collapse" data-target="#volunteers-navs" role="button" aria-expanded="false">
            <i class="fe fe-users"></i> المتطوعين
        </a>
        <div class="collapse" id="volunteers-navs">
            <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                    <a href="{{ $r('volunteers.add') }}" class="nav-link">
                        متطوع جديد
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ $r('volunteers') }}" class="nav-link">
                        قائمة المتطوعين
                    </a>
                </li>
            </ul>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="javascript:;" data-toggle="collapse" data-target="#users-navs" role="button" aria-expanded="false">
            <i class="fe fe-users"></i> المستخدمون
        </a>
        <div class="collapse" id="users-navs">
            <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                    <a href="{{ $r('users.add') }}" class="nav-link">
                        مستخدم جديد
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ $r('users') }}" class="nav-link">
                        قائمة المستخدمين
                    </a>
                </li>
            </ul>
        </div>
    </li>
    
</ul>