<ul class="navbar-nav">

    <li class="nav-item">
        <a id="home-nav" class="nav-link" href="{{ $r('home') }}">
            <i class="fe fe-home"></i> البداية
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="javascript:;" data-toggle="collapse" data-target="#users-navs" role="button" aria-expanded="false">
            <i class="fe fe-users"></i> المستخدمون
        </a>
        <div class="collapse" id="users-navs">
            <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                    <a href="{{ $r('users.add') }}" class="nav-link">
                        مستخدم جديد
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ $r('users') }}" class="nav-link">
                        قائمة المستخدمين
                    </a>
                </li>
            </ul>
        </div>
    </li>
   
    <li class="nav-item">
        <a class="nav-link" href="javascript:;" data-toggle="collapse" data-target="#cases-navs" role="button" aria-expanded="false">
            <i class="fe fe-command"></i>الحالات
        </a>
        <div class="collapse" id="cases-navs">
            <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                    <a href="{{ $r('cases.add') }}" class="nav-link">
                        حالة جديدة
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ $r('cases') }}" class="nav-link">
                        قائمة الحالات
                    </a>
                </li>
            </ul>
        </div>
    </li>
  
    <li class="nav-item">
        <a class="nav-link" href="javascript:;" data-toggle="collapse" data-target="#campaign-navs" role="button" aria-expanded="false">
            <i class="fe fe-volume-1"></i>الحملات 
        </a>
        <div class="collapse" id="campaign-navs">
            <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                    <a href="{{ $r('campaigns.add') }}" class="nav-link">
                        حملة جديدة
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ $r('campaigns') }}" class="nav-link">
                        قائمة الحملات
                    </a>
                </li>
            </ul>
        </div>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" href="javascript:;" data-toggle="collapse" data-target="#sponsorships-navs" role="button" aria-expanded="false">
            <i class="fe fe-dollar-sign"></i>الكفالات 
        </a>
        <div class="collapse" id="sponsorships-navs">
            <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                    <a href="{{ $r('sponsorships.add') }}" class="nav-link">
                        كفالة جديدة
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ $r('sponsorships') }}" class="nav-link">
                        قائمة الكفالات
                    </a>
                </li>
            </ul>
        </div>
    </li>
  
    <li class="nav-item">
        <a class="nav-link" href="javascript:;" data-toggle="collapse" data-target="#students-navs" role="button" aria-expanded="false">
            <i class="fe fe-book"></i>الطلاب 
        </a>
        <div class="collapse" id="students-navs">
            <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                    <a href="{{ $r('students.add') }}" class="nav-link">
                       طالب جديد
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ $r('students') }}" class="nav-link">
                        قائمة الطلاب
                    </a>
                </li>
            </ul>
        </div>
    </li>
  
    <li class="nav-item">
        <a class="nav-link" href="javascript:;" data-toggle="collapse" data-target="#events-navs" role="button" aria-expanded="false">
            <i class="fe fe-radio"></i>الأحداث 
        </a>
        <div class="collapse" id="events-navs">
            <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                    <a href="{{ $r('events.add') }}" class="nav-link">
                       حدث جديد
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ $r('events') }}" class="nav-link">
                        قائمة الأحداث
                    </a>
                </li>
            </ul>
        </div>
    </li>
   
    <li class="nav-item">
        <a class="nav-link" href="javascript:;" data-toggle="collapse" data-target="#fundraisers-navs" role="button" aria-expanded="false">
            <i class="fe fe-shopping-bag"></i>حملات جمع التبرعات 
        </a>
        <div class="collapse" id="fundraisers-navs">
            <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                    <a href="{{ $r('fundraisers.add') }}" class="nav-link">
                       حملة جديد
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ $r('fundraisers') }}" class="nav-link">
                        قائمة حملات جمع التبرعات
                    </a>
                </li>
            </ul>
        </div>
    </li>
    
</ul>