<include-header />

<div class="row">
    <div class="col-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-header-title">معلومات الطالب</h4>
            </div>

            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">الاسم</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ object.name }}</h4>
                    </div>
                </div>

                <hr />
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">الدولة</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ object.country.name }}</h4>
                    </div>
                </div>
                <hr />
               
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">عدد الفصول</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ object.semesters_count }}</h4>
                    </div>
                </div>
                <hr />
               
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">الفصل الحالي</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ object.current_semester }}</h4>
                    </div>
                </div>
                <hr />
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">المبلغ المطلوب</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ object.target.required }}</h4>
                    </div>
                </div>
                <hr />
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">الحالة</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{object.status}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
