<include-header />
<button
  href="#"
  ng-click="showSponsorModal('add')"
  class="btn btn-primary"
  ng-disabled="object.percentage_to_complete  <= 0"
>
  <i class="fe fe-plus"></i>&nbsp;إضافة كفيل
</button>


<div class="text-center h4 mt-4 mb-4">العدد الكلي : {{ sponsors.length }}</div>
<div class="text-center h4 mt-4 mb-4">
  نسبة الإكتمال : {{ 100 - object.percentage_to_complete }} %
</div>
<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <div class="input-group input-group-flush input-group-merge">
          <input
            type="search"
            ng-model="search"
            class="form-control form-control-prepended search"
            placeholder="اكتب كلمة للبحث ثم اضغط Enter  ..."
          />
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fe fe-search"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-auto">
        <!-- Button -->
        <button
          class="btn btn-sm btn-white"
          type="button"
          data-toggle="tooltip"
          data-placement="top"
          title="خيارات الفلترة والعرض"
        >
          <i class="fe fe-sliders"></i>
        </button>

        <button
          class="btn btn-sm btn-white"
          type="button"
          data-toggle="tooltip"
          data-placement="top"
          title="تصدير القائمة الى ملف CSV"
        >
          <i class="fe fe-download"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-sm card-table">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">اسم الكفيل</th>
          <th class="text-center">النسبة</th>
          <th class="text-center">الحالة</th>
          <th class="text-center">خيارات</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="sponsorships.length == 0">
          <td colspan="10" class="text-center">
            <div class="pt-3 pb-2 h4" ng-show="sponsors.length == 0">
              لا يوجد أية عناصر في هذه القائمة
            </div>
          </td>
        </tr>
        <tr ng-repeat="item in sponsors | filter : search">
          <td class="align-middle text-center">{{ item.id }}</td>
          <td class="align-middle text-center">{{ item.donor.name }}</td>
          <td class="align-middle text-center">{{ item.percentage }} %</td>
          <td class="align-middle text-center">
            <span class="badge badge-soft-success" ng-if="item.active">
              <i class="fe fe-check"></i>
            </span>
            <span class="badge badge-soft-danger" ng-if="!item.active">
              <i class="fe fe-x"></i
            ></span>
          </td>
          <td class="align-middle text-center h2">
            <div class="dropdown">
              <a
                href="javascript:;"
                class="color-black mr-2"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                ><i class="fe fe-more-vertical"></i
              ></a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a
                  class="dropdown-item"
                  href="{{ $r('sponsorships.overview', {id: item.id}) }}"
                  ><i class="fe fe-eye"></i> نظرة عامة</a
                >

                                <a
                  href="#"
                  ng-click="showSponsorModal('edit', item)"
                  class="dropdown-item"
                >
                  <i class="fe fe-edit-2"></i>&nbsp;تعديل
                </a>

              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>



    <!-- Create Update Modal -->
  <modal id="sponsor-modal">
    <modal-title>
      <span ng-show="currentSponsorModalAction == 'add'"
        ><i class="fe fe-plus-circle"></i>&nbsp; اضافة كفيل جديد</span
      >
      <span ng-show="currentSponsorModalAction == 'edit'"
        ><i class="fe fe-edit"></i>&nbsp; تعديل الكفيل {{ sponsor.id }}</span
      >
    </modal-title>

    <modal-body>
      <form
        name="listStudentSponsoresForm"
        request="createUpdateStudentSponsor"
        model="sponsor"
      >
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group" ng-if="currentSponsorModalAction == 'add'">
              <label for="donor_id">اسم الكفيل</label>
              <select2
                model="sponsor.donor_id"
                ajax-url="donors/search"
                error-model="createUpdateStudentSponsor.errors.donor_id"
              >
              </select2>
            </div>
            <div class="form-group" ng-if="currentSponsorModalAction == 'edit'">
              <label for="donor_id">اسم الكفيل</label>
              <input
                type="text"
                class="form-control"
                ng-class="(updateSponsorShipsSponsor.errors.percentage != null) ? 'is-invalid' : ''"
                ng-model="sponsor.donor.name"
                ng-disabled="true"
              />
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-group">
              <label for="percentage">نسبة المساهمة</label>
              <input
                id="percentage"
                class="form-control"
                type="number"
                ng-class="(createUpdateStudentSponsor.errors.percentage != null) ? 'is-invalid' : ''"
                ng-model="sponsor.percentage"
                ng-change="createUpdateStudentSponsor.errors.percentage = null"
                max="{{getMaxRangeOnUpdate(sponsor)}}"
                ng-error="createUpdateStudentSponsor.errors.percentage"
                min="0"
                required
              />
            </div>
          </div>
        </div>

        <submit-button
          ng-show="currentSponsorModalAction == 'add'"
          form="listStudentSponsoresForm"
          icon="fe fe-plus"
          >اضافة</submit-button
        >
        <submit-button
          ng-show="currentSponsorModalAction == 'edit'"
          form="listStudentSponsoresForm"
          icon="fe fe-edit"
          >تعديل</submit-button
        >
      </form>
    </modal-body>
  </modal>



</div>
