<include-header/>

<form class="row" name="myForm" request="updateDonor">

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="name">الاسم</label>
            <input type="text" class="form-control" ng-class="(updateDonor.errors.name != null) ? 'is-invalid' : ''" id="name" ng-model="donor.name" ng-change="updateDonor.errors.name = null" placeholder="الاسم .." required>
            <div ng-show="updateDonor.errors.name != null" class="invalid-feedback">{{ updateDonor.errors.name[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="email">البريد الالكتروني</label>
            <input type="email" class="form-control" ng-class="(updateDonor.errors.email != null) ? 'is-invalid' : ''" id="email" ng-model="donor.email" ng-change="updateDonor.errors.email = null" placeholder="البريد الالكتروني .." autofocus="off" autocomplete="off" required>
            <div ng-show="updateDonor.errors.email != null" class="invalid-feedback">{{ updateDonor.errors.email[0] }}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="password">كلمة المرور</label>
            <input type="password" class="form-control" ng-class="(updateDonor.errors.password != null) ? 'is-invalid' : ''" id="password" ng-model="donor.password" ng-change="updateDonor.errors.password = null" placeholder="كلمة المرور .." autofocus="off" autocomplete="off">
            <div ng-show="updateDonor.errors.password != null" class="invalid-feedback">{{ updateDonor.errors.email[0] }}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="phone">رقم الهاتف</label>
            <input type="text" class="form-control" ng-class="(updateDonor.errors.phone != null) ? 'is-invalid' : ''" id="phone" ng-model="donor.phone" ng-change="updateDonor.errors.phone = null" placeholder="رقم الهاتف" autofocus="off" autocomplete="off" required>
            <div ng-show="updateDonor.errors.phone != null" class="invalid-feedback">{{ updateDonor.errors.phone[0] }}</div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="swish_number">swish number</label>
            <input type="text" class="form-control" ng-class="(updateDonor.errors.swish_number != null) ? 'is-invalid' : ''" id="swish_number" ng-model="donor.swish_number" ng-change="updateDonor.errors.swish_number = null" placeholder="Swish number" autofocus="off" autocomplete="off" required>
            <div ng-show="updateDonor.errors.swish_number != null" class="invalid-feedback">{{ updateDonor.errors.swish_number[0] }}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="whatsapp_number">Whatsapp number</label>
            <input type="text" class="form-control" ng-class="(updateDonor.errors.whatsapp_number != null) ? 'is-invalid' : ''" id="whatsapp_number" ng-model="donor.whatsapp_number" ng-change="updateDonor.errors.whatsapp_number = null" placeholder="Whatsapp number" autofocus="off" autocomplete="off" required>
            <div ng-show="updateDonor.errors.whatsapp_number != null" class="invalid-feedback">{{ updateDonor.errors.whatsapp_number[0] }}</div>
        </div>
    </div>
    <div class="col-12">
        <submit-button form="myForm" icon="fe fe-edit">تعديل</submit-button>
    </div>

</form>
