<include-header/>
  
<div class="header">
    <div class="header-body">
        <h1 class="header-title h3 font-weight-bold">
            معلومات المتبرع
        </h1>
    </div>
</div>

<div class="row" ng-if="$auth.canAny(['donors.create' , 'donors.update'])">

    <div class="col-12 col-lg-6">

        <table>
            <tr>
                <td class="text-muted py-3">الاسم</td>
                <td class="py-3 pr-3">{{ donor.name }}</td>
            </tr>
            <tr>
                <td class="text-muted py-3">البريد الالكتروني</td>
                <td class="py-3 pr-3" dir="ltr">{{ donor.email }}</td>
            </tr>
            <tr>
                <td class="text-muted py-3">رقم الهاتف</td>
                <td class="py-3 pr-3" dir="ltr">{{ donor.phone }}</td>
            </tr>
            
            <tr>
                <td class="text-muted py-3">رقم السويش</td>
                <td class="py-3 pr-3" dir="ltr">{{ donor.swish_number }}</td>
            </tr>
        </table>

    </div>

    <div class="col-12 col-lg-6">

        <table>
            
            <tr>
                <td class="text-muted py-3">رقم الواتس اب</td>
                <td class="py-3 pr-3" dir="ltr">{{ donor.whatsapp_number }}</td>
            </tr>
            
            <tr>
                <td class="text-muted py-3">تاريخ الاضافة</td>
                <td class="py-3 pr-3"><span ng-bind="donor.created_at | date:'yyyy-MM-dd hh:mm:ss'" dir="ltr"></span></td>
            </tr>
            <tr>
                <td class="text-muted py-3">تاريخ اخر تعديل</td>
                <td class="py-3 pr-3"><span ng-bind="donor.updated_at | date:'yyyy-MM-dd hh:mm:ss'" dir="ltr"></span></td>
            </tr>
        </table>

    </div>

</div>

<hr>

