<include-header/>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-header-title">
                    معلومات المتبرع
                </h4>
            </div>

            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">الاسم</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ donor.name }}</h4>
                    </div>
                </div>

                <hr>

                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">البريد الالكتروني</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ donor.email }}</h4>
                    </div>
                </div>

                <hr>

                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">رقم الهاتف</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ donor.phone }}</h4>
                    </div>
                </div>

                <hr>

                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">Whatsapp number</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ donor.whatsapp_number }}</h4>
                    </div>
                </div>

                <hr>

                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">Swish number</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ donor.swish_number }}</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
