<page-header title="ناشر جديد" pretitle="الناشرين"></page-header>

<form class="row" name="createPublisherForm" request="createPublisher">
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="name">الاسم</label>
      <input
        id="name"
        class="form-control"
        ng-model="publisher.contents.name.ar"
        ng-class="(createPublisher.errors['contents.ar.name'] != null) ? 'is-invalid' : ''"
        ng-change="createPublisher.errors['contents.ar.name'] = null"
        ng-error="createPublisher.errors.contents.ar.name"
        required
      />
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="ar-description">الوصف باللغة العربية</label>
      <textarea
        id="ar-description"
        class="form-control"
        type="text"
        ng-model="publisher.contents.description.ar"
        ng-class="(createPublisher.errors['contents.description.ar'] != null) ? 'is-invalid' : ''"
        ng-change="createPublisher.errors['contents.description.ar'] = null"
        placeholder="الجواب.."
        ng-error="createPublisher.errors.contents.description.ar"
        required
      ></textarea>
    </div>
  </div>

  <div class="col-12">
    <submit-button form="createPublisherForm" icon="fe fe-plus"
      >اضافة</submit-button
    >
  </div>
</form>
