<include-header />

<div class="header">
    <div class="header-body pt-2 pb-4">
        <h1 class="header-title h3 font-weight-bold">
            معلومات المنشور
        </h1>
    </div>
</div>

<div class="row">
    
    <div class="col-12 col-lg-6">
        <table>
            <tr>
                <td class="text-muted py-3">العنوان</td>
                <td class="py-3 pr-3">{{socialMediaPost.description}}</td>
            </tr>
            <tr>
                <td class="text-muted py-3">تاريخ الاضافة</td>
                <td class="py-3 pr-3"><span ng-bind="socialMediaPost.created_at | date:'yyyy-MM-dd hh:mm:ss'" dir="ltr"></span></td>
            </tr>
        </table>
    </div>
    
    <div class="col-12 col-lg-6">
        <table>
            <tr>
                <td class="text-muted py-3">تاريخ اخر تعديل</td>
                <td class="py-3 pr-3 text-right"><span ng-bind="socialMediaPost.updated_at | date:'yyyy-MM-dd hh:mm:ss'" dir="ltr"></span></td>
            </tr>
        </table>
    </div>
</div>

<hr>

<div class="header">
    <div class="header-body pt-2 pb-4">
        <h1 class="header-title h3 font-weight-bold">
            المحتوى العربي
            <span class="badge badge-soft-warning" ng-if="socialMediaPost.body.ar && !socialMediaPost.body.ar.proofread">لم يتم تدقيقه</span>
            <span class="badge badge-soft-success" ng-if="socialMediaPost.body.ar && socialMediaPost.body.ar.proofread">تم تدقيقه</span>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table>
            <tr>
                <td class="text-muted py-3">تم مراجعته لغويا</td>
                <td class="py-3 pr-3" ng-if="socialMediaPost.body.ar.proofread" class="text-success">نعم</td>
                <td class="py-3 pr-3" ng-if="!socialMediaPost.body.ar.proofread" class="text-danger">لا</td>
            </tr>
        </table>
        <table>
            <tr>
                <td class="text-muted py-3">نص المنشور</td>
            </tr>
            <tr>
                <td class="py-3 pr-3">{{ socialMediaPost.body.ar.value}}</td>
            </tr>
        </table>
    </div>
</div>

<hr>

<div class="header mb-4">
    <div class="header-body pt-2 pb-4">
        <div class="row align-items-end">
            <div class="col">
                <h1 class="header-title h3 font-weight-bold">
                    المحتوى الانجليزي 
                    <span class="badge badge-soft-danger" ng-if="!socialMediaPost.body.en.value">بدون نص</span>
                    <span class="badge badge-soft-warning" ng-if="socialMediaPost.body.en && !socialMediaPost.body.en.proofread">لم يتم تدقيقه</span>
                    <span class="badge badge-soft-success" ng-if="socialMediaPost.body.en && socialMediaPost.body.en.proofread">تمت الترجمة</span>
                </h1>
            </div>
        
            <div class="col-auto h2 mb-0">
                <dropdown>
                    <dropdown-item href="#" ng-click="showUpdateSocialMediaContentModal('en' , 'body');"><i class="fe fe-edit"></i> تعديل الترجمة</dropdown-item>
                    <dropdown-item href="#"><i class="fe fe-check"></i> تعيين كتم تدقيقها</dropdown-item>
                </dropdown>
            </div>
        </div>
    </div>
</div>

<div class="row">
    
    <div class="col-12 col-lg-6">
        <table>
            <tr>
                <td class="text-muted py-3">نوع الترجمة</td>
                <td class="py-3 pr-3" ng-if="socialMediaPost.body.en.auto_generated">ترجمة آلية</td>
                <td class="py-3 pr-3" ng-if="!socialMediaPost.body.en.auto_generated">ترجمة يدوية</td>
            </tr>
        </table>
    </div>
    
    <div class="col-12 col-lg-6">
        <table>
            <tr>
                <td class="text-muted py-3">التدقيق اللغوي</td>
                <td class="py-3 pr-3" ng-if="socialMediaPost.body.en.proofread" class="text-success">تم تدقيقه</td>
                <td class="py-3 pr-3" ng-if="!socialMediaPost.body.en.proofread" class="text-danger">لم يتم تدقيقه بعد</td>
            </tr>
        </table>
    </div>
    

    
    <div class="col-12">
        <table>
            <tr>
                <td class="text-muted py-3">نص المنشور</td>
            </tr>
            <tr>
                <td class="py-3 pr-3" ng-if="!socialMediaPost.body.en.value"><span class="badge badge-secondary-soft">لا يوجد نص بعد</span></td>
                <td class="py-3 pr-3" ng-if="socialMediaPost.body.en.value">{{ socialMediaPost.body.en.value}}</td>
            </tr>
        </table>
    </div>
</div>

<hr>

<modal id="edit-modal">
    <modal-title>
        <i class="fe fe-plus-circle"></i>&nbsp; تعديل المعلومات
    </modal-title>
    
    <modal-body>
        <form name="updateForm" request="updateSocialMediaPostRequest" id="myForm">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="value">محتوى المنشور</label>
                        <textarea id="value" class="form-control" type="text" ng-model="updateableSocialMediaPostContent.value"></textarea>
                    </div>
                </div>
            </div>

            <submit-button form="updateForm" icon="fe fe-edit">تعديل</submit-button>
        </form>
    </modal-body>
</modal>