<include-header />

<div class="header">
    <div class="header-body">
        <h1 class="header-title h3 font-weight-bold">
            معلومات المنشور
        </h1>
    </div>
</div>

<div class="row">
    
    <div class="col-12 col-lg-6">
        <table>
            <tr>
                <td class="text-muted py-3">العنوان</td>
                <td class="py-3 pr-3">{{socialMediaPost.description}}</td>
            </tr>
            <tr>
                <td class="text-muted py-3">تاريخ الاضافة</td>
                <td class="py-3 pr-3"><span ng-bind="socialMediaPost.created_at | date:'yyyy-MM-dd hh:mm:ss'" dir="ltr"></span></td>
            </tr>
        </table>
    </div>
    
    <div class="col-12 col-lg-6">
        <table>
            <tr>
                <td class="text-muted py-3">تاريخ اخر تعديل</td>
                <td class="py-3 pr-3 text-right"><span ng-bind="socialMediaPost.updated_at | date:'yyyy-MM-dd hh:mm:ss'" dir="ltr"></span></td>
            </tr>
        </table>
    </div>
</div>

<hr>

<div class="header">
    <div class="header-body">
        <h1 class="header-title h3 font-weight-bold">
            المحتوى العربي
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table>
            <tr>
                <td class="text-muted py-3">تم مراجعته لغويا</td>
                <td class="py-3 pr-3" ng-if="socialMediaPost.body.ar.proofread" class="text-success">نعم</td>
                <td class="py-3 pr-3" ng-if="!socialMediaPost.body.ar.proofread" class="text-danger">لا</td>
            </tr>
        </table>
        <table>
            <tr>
                <td class="text-muted py-3">المحتوى العربي</td>
            </tr>
            <tr>
                <td class="py-3 pr-3">{{ socialMediaPost.body.ar.value}}</td>
            </tr>
        </table>
    </div>
</div>

<hr>

<div class="header">
    <div class="header-body">
        <h1 class="header-title h3 font-weight-bold">
            المحتوى الانجليزي <span class="h4 font-weight-bold">(<a href="#" ng-click="showUpdateSocialMediaContentModal('en' , 'body');">تعديل</a>)</span>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table>
            <tr>
                <td class="text-muted py-3">المحتوى الانكليزي</td>
                <td ng-if="socialMediaPost.body.en.value" class="py-3 pr-3">{{ socialMediaPost.body.en.value}}</td>
                <td ng-if="!socialMediaPost.body.en.value" class="py-3 pr-3 text-danger">لا يوجد بعد</td>
            </tr>
            <tr>
                <td class="text-muted py-3">تم مراجعته لغويا</td>
                <td class="py-3 pr-3" ng-if="socialMediaPost.body.en.proofread" class="text-success">نعم</td>
                <td class="py-3 pr-3" ng-if="!socialMediaPost.body.en.proofread" class="text-danger">لا</td>
            </tr>
        </table>
    </div>
</div>

<hr>

<modal id="edit-modal">
    <modal-title>
        <span><i class="fe fe-plus-circle"></i>&nbsp; تعديل المعلومات</span>
    </modal-title>
    
    <modal-body>
        <form name="updateForm" request="updateSocialMediaPostRequest" id="myForm">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="value">محتوى المنشور</label>
                        <textarea id="vale" class="form-control" type="text" ng-model="updateableSocialMediaPostContent.value"></textarea>
                        <!-- <tiny-editor id="body" dir="rtl" model="selectedValue" placeholder="ادخل محتوى المنشور باللغة العربية...">{{selectedValue}} </tiny-editor> -->
                    </div>
                </div>
            </div>

            <submit-button form="updateForm" icon="fe fe-plus">تعديل</submit-button>
        </form>
    </modal-body>
</modal>