<include-header />

<div class="row">
    <div class="col-12 col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-header-title">معلومات المنشور</h4>
            </div>
            <div class="card-body">

                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">العنوان</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ socialMediaPost.description }}</h4>
                    </div>
                </div>
                <hr />


                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">المحتوى العربي</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ socialMediaPost.body.ar.value }}</h4>
                    </div>
                </div>
                <hr />
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">تم مراجعته لغويا</h4>
                    </div>
                    <div class="col-auto">
                        <h4 ng-if="socialMediaPost.body.ar.proofread" class="text-success">نعم</h4>
                        <h4 ng-if="!socialMediaPost.body.ar.proofread" class="text-danger">لا</h4>
                    </div>
                </div>
                <hr />
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">تم النشر </h4>
                    </div>
                    <div class="col-auto">
                        <h4 ng-if="socialMediaPost.body.ar.ready_to_publish" class="text-success">نعم</h4>
                        <h4 ng-if="!socialMediaPost.body.ar.ready_to_publish" class="text-danger">لا</h4>
                    </div>
                </div>
                <hr />
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">المحتوى الانكليزي</h4>
                    </div>
                    <div class="col-auto">
                        <h4>{{ socialMediaPost.body.en.value }}</h4>
                    </div>
                </div>
                <hr />
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">تم مراجعته لغويا</h4>
                    </div>
                    <div class="col-auto">
                        <h4 ng-if="socialMediaPost.body.en.proofread" class="text-success">نعم</h4>
                        <h4 ng-if="!socialMediaPost.body.en.proofread" class="text-danger">لا</h4>
                    </div>
                </div>
                <hr />
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 text-muted">تم النشر </h4>
                    </div>
                    <div class="col-auto">
                        <h4 ng-if="socialMediaPost.body.en.ready_to_publish" class="text-success">نعم</h4>
                        <h4 ng-if="!socialMediaPost.body.en.ready_to_publish" class="text-danger">لا</h4>
                    </div>
                </div>
                <hr />
            </div>
            
        </div>
    </div>
</div>
