<page-header title="تفاصيل المهمة" pretitle="تفاصيل المهمة"></page-header>

<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-header">

                <!-- Title -->
                <h4 class="card-header-title">
                    ما هو "لوريم إيبسوم" ؟
                </h4>

            </div>
            <div class="card-body">
                <p class="mb-0">
                    لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على هذا النص، بل انه حتى صار مستخدماً وبشكله الأصلي في الطباعة والتنضيد الإلكتروني. انتشر بشكل كبير في ستينيّات هذا القرن مع إصدار رقائق "ليتراسيت" (Letraset) البلاستيكية تحوي مقاطع من هذا النص، وعاد لينتشر مرة أخرى مؤخراَ مع ظهور برامج النشر الإلكتروني مثل "ألدوس بايج مايكر" (Aldus PageMaker) والتي حوت أيضاً على نسخ من نص لوريم إيبسوم.
                </p>
            </div>
        </div>

        <!-- Card -->
        <div class="card">
            <div class="card-header">

                <!-- Title -->
                <h4 class="card-header-title">
                    آخر الأنشطة
                </h4>

            </div>
            <div class="card-body">
                <div class="list-group list-group-flush list-group-activity my-n3">
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-auto">

                                <!-- Avatar -->
                                <div class="avatar avatar-sm">
                                    <div class="avatar-title fs-lg bg-dark-soft rounded-circle text-dark">
                                        <i class="fe fe-circle"></i>
                                    </div>
                                </div>

                            </div>
                            <div class="col ms-n2">

                                <!-- Heading -->
                                <h5 class="mb-2">
                                    بداية المهمة
                                </h5>

                                <!-- Text -->
                                <p class="small text-gray-700 mb-0">
                                    عمرو حاجوز
                                </p>

                                <!-- Time -->
                                <small class="text-muted">
                                    منذ ساعتين
                                </small>

                            </div>
                        </div> <!-- / .row -->
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-auto">

                                <!-- Avatar -->
                                <div class="avatar avatar-sm">
                                    <img class="avatar-img rounded-circle"
                                        src="https://images.ctfassets.net/lh3zuq09vnm2/yBDals8aU8RWtb0xLnPkI/19b391bda8f43e16e64d40b55561e5cd/How_tracking_user_behavior_on_your_website_can_improve_customer_experience.png"
                                        alt="...">
                                </div>

                            </div>
                            <div class="col ms-n2">

                                <!-- Heading -->
                                <h5 class="mb-2">
                                    يرجى رفع ملفات التصميم الى المشروع
                                </h5>

                                <!-- Text -->
                                <p class="small text-gray-700 mb-0">
                                    أيهم حزوري
                                </p>

                                <!-- Time -->
                                <small class="text-muted">
                                    منذ 10 دقائق
                                </small>

                            </div>
                        </div> <!-- / .row -->
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-auto">

                                <!-- Avatar -->
                                <div class="avatar avatar-sm">
                                    <div class="avatar-title fs-lg bg-primary-soft rounded-circle text-primary">
                                        <i class="fe fe-edit-2"></i>
                                    </div>
                                </div>

                            </div>
                            <div class="col ms-n2">

                                <!-- Heading -->
                                <h5 class="mb-1">
                                    تم تعديل العنوان الى <b>تصميم موقع ملهم</b>
                                </h5>

                                <!-- Text -->
                                <p class="small text-gray-700 mb-0">
                                    عمرو حاجوز
                                </p>

                                <!-- Time -->
                                <small class="text-muted">
                                    2m ago
                                </small>

                            </div>
                        </div> <!-- / .row -->
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">

                        <!-- Avatar -->
                        <div class="avatar avatar-sm">
                            <img class="avatar-img rounded-circle" src="https://images.ctfassets.net/lh3zuq09vnm2/yBDals8aU8RWtb0xLnPkI/19b391bda8f43e16e64d40b55561e5cd/How_tracking_user_behavior_on_your_website_can_improve_customer_experience.png"
                                alt="...">
                        </div>

                    </div>
                    <div class="col ms-n2">

                        <!-- Form -->
                        <form class="mt-1">
                            <textarea class="form-control form-control-flush" data-autosize="" rows="1"
                                placeholder="اضافة تعليق"
                                style="overflow: hidden; overflow-wrap: break-word;"></textarea>
                        </form>

                    </div>
                    <div class="col-auto align-self-end">

                        <!-- Icons -->
                        <div class="d-flex align-items-center text-muted mb-2">
                            <a href="#!" class="text-reset me-3">
                                <i class="fe fe-camera"></i>
                            </a>
                            <a href="#!" class="text-reset me-3">
                                <i class="fe fe-paperclip"></i>
                            </a>
                            <a href="#!" class="text-reset">
                                <i class="fe fe-mic"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>