<page-header title="قائمة الحالات" pretitle="قسم النشر">
</page-header>

<datatable datalist="cases">
    <table>
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">العنوان </th>
                <th class="text-center">الحالة </th>
                <th class="text-center">تعيين كتم تدقيقها </th>
                <th class="text-center">تم النشر </th>
                <th class="text-center">خيارات</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="case in cases.data">
                <td class="align-middle text-center">{{ case.id }}</td>
                <td class="align-middle text-center" ng-if="case.title.ar.value">{{ case.title.ar.value }}</td>
                <td class="align-middle text-center" ng-if="!case.title.ar.value">
                    <span class="badge badge-danger">
                        لايوجد عنوان بعد
                    </span>
                </td>
                <td class="align-middle text-center">
                    <span class="badge" style="background-color:orange"  ng-if="case.status =='unfunded'"><i class="fe fe-x"></i>لم يتم تأميينها</span>
                    <span class="badge badge-soft-success" ng-if="case.status =='funded'"><i class="fe fe-check"></i>تم تأمينها</span>
                    <span class="badge badge-soft-danger" ng-if="case.status =='canceled'"><i class="fe fe-x"></i>ملغاة</span>
                    <span class="badge badge-soft-secondary" ng-if="case.status =='spent'"><i class="fe fe-check"></i>تم صرفها</span>
                </td>
                <td class="align-middle text-center">{{ !canProofread(case) ? "تعم" : "لا"}}</td>
                <td class="align-middle text-center">{{ case.published_at ? "تعم" : "لا"}}</td>
                <td class="align-middle text-center h2">
                    <dropdown>
                        <dropdown-item href="{{ $r('publishing.cases.overview', {id: case.id}) }}"><i class="fe fe-eye"></i> نظرة عامة</dropdown-item>
                        <dropdown-item href="{{ $r('publishing.cases.edit', {id: case.id}) }}"><i class="fe fe-edit-2"></i> تعديل</dropdown-item>
                        <dropdown-item href="#" ng-show="canProofread(case)" ng-click="proofreadCaseRequest(case.id)"><i class="fe fe-terminal"></i>  تعيين كتم تدقيقها</dropdown-item>
                        <dropdown-item href="#" ng-show="(!case.published_at) && (case.title && case.description && case.details)" ng-click="publishCaseRequest(case.id)"><i class="fe fe-share"></i> نشر</dropdown-item>
                    </dropdown>
                </td>
            </tr>
        </tbody>
    </table>
</datatable>
