<page-header title="طالب جديد" pretitle="الطلاب"></page-header>
<form class="row" name="createStudentForm" request="createStudent">
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="name">اسم الطالب</label>
      <input
        type="text"
        class="form-control"
        ng-class="(createStudent.errors.name != null) ? 'is-invalid' : ''"
        id="name"
        ng-model="object.name"
        ng-change="createStudent.errors.name = null"
        placeholder="الاسم.."
        ng-error="createStudent.errors.name"
        required
      />
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="country_id">الدولة</label>
      <select
        class="form-control"
        ng-model="object.country_id"
        ng-class="(createStudent.errors.country_id != null) ? 'is-invalid' : ''"
        id="country_id"
        ng-change="createStudent.errors.country_id = null"
        ng-options="country.id as country.name for country in countries"
        ng-init="object.country_id = countries[0].id"
        ng-error="createStudent.errors.country_id"
        required
      ></select>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="semesters_count">عدد الفصول</label>
      <select
        id="semesters_count"
        class="form-control"
        ng-model="object.semesters_count"
        ng-class="(createStudent.errors.semesters_count != null) ? 'is-invalid' : ''"
        ng-change="handleChangeSemesterCount()"
        ng-error="createStudent.errors.semesters_count"
        min="1"
        required
      >
        <option ng-repeat="semester in semesters" ng-value="semester">
          {{ semester }}
        </option>
      </select>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="current_semester">الفصل الحالي</label>
      <select
        id="current_semester"
        class="form-control"
        ng-model="object.current_semester"
        ng-class="(createStudent.errors.current_semester != null) ? 'is-invalid' : ''"
        ng-change="createStudent.errors.current_semester = null"
        ng-error="createStudent.errors.current_semester"
        required
      >
        <option ng-repeat="n in availableSemester track by $index" ng-value="n">
          {{ n}}
        </option>
      </select>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="required">المبلغ المطلوب لكل فصل</label>
      <input
        id="required"
        class="form-control"
        type="number"
        ng-class="(createStudent.errors['target.required'] != null) ? 'is-invalid' : ''"
        ng-model="object.target['required']"
        ng-change="createStudent.errors['target.required'] = null"
        ng-error="createStudent.errors.target.required"
        min="1"
        required
      />
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="visible">ظاهرة</label>
      <select
        id="visible"
        class="form-control"
        ng-model="object.target.visible"
        ng-class="(createStudent.errors['target.visible'] != null) ? 'is-invalid' : ''"
        ng-change="createStudent.errors['target.visible'] = null"
        ng-error="createStudent.errors.target.visible"
        required
      >
        <option ng-value="true">نعم</option>
        <option ng-value="false">لا</option>
      </select>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="name">المكان</label>
      <select2
        model="object.place_id"
        ajax-url="places/search"
        error-model="createStudent.errors.place_id"
        required
      ></select2>
    </div>
  </div>

   <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="admins_ids">المشرفون</label>
      <select2
        model="object.admins_ids"
        ajax-url="users/search"
        error-model="createStudent.errors.admins_ids"
        multiple
      ></select2>
    </div>
  </div>

  <div class="col-12">
    <submit-button form="createStudentForm" icon="fe fe-plus"
      >اضافة</submit-button
    >
  </div>
</form>
