<include-header/>
<div class="row">
    <div class="col-12 col-lg-6">
        <table>
            <tr>
                <td class="text-muted py-3">الاسم العربي</td>
                <td class="py-3 pr-3">{{ section.name.ar }}</td>
            </tr>
            <tr>
                <td class="text-muted py-3">الاسم الانكليزي</td>
                <td class="py-3 pr-3">{{ section.name.en }}</td>
            </tr>
        </table>
    </div>
    <div class="col-12 col-lg-6">
        <table>
            <tr>
                <td class="text-muted py-3">القسم الأب</td>
                <td class="py-3 pr-3">{{ section.parent.name }}</td>
            </tr>
        </table>
    </div>
</div>
<hr>

