<page-header title="قائمة القروض" pretitle="القروض">
    <a href="{{ $r('loan_requests.add') }}" class="btn btn-primary">
        <i class="fe fe-plus"></i>&nbsp;جديد
    </a>
</page-header>

<datatable datalist="loanRequests">
    <table>
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">الموظف</th>
                <th class="text-center">مقدار القرض</th>
                <th class="text-center">خيارات</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="x in loanRequests.data">
                <td class="align-middle text-center">{{ x.id }}</td>
                <td class="align-middle text-center">{{ x.user.first_name.ar }}</td>
                <td class="align-middle text-center">{{ x.amount }}</td>
                <td class="align-middle text-center h2">
                    <dropdown>
                        <dropdown-item href="{{ $r('loan_requests.overview', {id: x.id}) }}"><i class="fe fe-eye"></i> نظرة عامة</dropdown-item>
                        <dropdown-item href="{{ $r('loan_requests.edit', {id: x.id}) }}"><i class="fe fe-edit-2"></i> تعديل</dropdown-item>
                        <dropdown-item href="#" ng-click="deleteLoanRequestController(x.id)"><i class="fe fe-delete"></i> حذف</dropdown-item>
                    </dropdown>
                </td>
            </tr>
        </tbody>
    </table>
</datatable>
