<page-header title="قائمة الأماكن" pretitle="الأماكن">
    <a href="{{ $r('places.add') }}" class="btn btn-primary">
      <i class="fe fe-plus"></i>&nbsp; مكان جديد
    </a>
  </page-header>
  
  <datatable datalist="places">
    <table>
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">الاسم العربي</th>
          <th class="text-center">الاسم العربي الكامل</th>
          <th class="text-center">خيارات</th>
        </tr>
      </thead>
  
      <tbody>
        <tr ng-repeat="place in places.data">
          <td class="align-middle text-center">{{ place.id }}</td>
          <td class="align-middle text-center">{{ place.name.ar }}</td>
          <td class="align-middle text-center">{{ place.fullname.ar }}</td>
          <td class="align-middle text-center h2">
            <dropdown>
              <dropdown-item href="{{ $r('places.overview', {id: place.id}) }}"><i class="fe fe-eye"></i> نظرة عامة</dropdown-item>
              <dropdown-item href="{{ $r('places.edit', {id: place.id}) }}"><i class="fe fe-edit-2"></i> تعديل</dropdown-item>
            </dropdown>
          </td>
        </tr>
      </tbody>
    </table>
  </datatable>