<include-header />
<form class="row" name="updateFundraiserForm" request="updateFundraiser">
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="public_visibility">متاح للعامة</label>
      <select
        id="public_visibility"
        class="form-control"
        ng-model="object.public_visibility"
        ng-class="(updateFundraiser.errors.public_visibility != null) ? 'is-invalid' : ''"
        ng-change="updateFundraiser.errors.public_visibility = null"
        ng-error="updateFundraiser.errors.public_visibility"
        required
      >
        <option ng-value="true">نعم</option>
        <option ng-value="false">لا</option>
      </select>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="verified">مؤكد</label>
      <select
        id="verified"
        class="form-control"
        ng-model="object.verified"
        ng-class="(updateFundraiser.errors.verified != null) ? 'is-invalid' : ''"
        ng-change="updateFundraiser.errors.verified = null"
        ng-error="updateFundraiser.errors.verified"
        required
      >
        <option ng-value="true">نعم</option>
        <option ng-value="false">لا</option>
      </select>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="object.target['required']">المبلغ المطلوب</label>
      <input
        id="required"
        type="number"
        class="form-control"
        ng-class="(updateFundraiser.errors['target.required'] != null) ? 'is-invalid' : ''"
        ng-model="object.target['required']"
        ng-change="updateFundraiser.errors['target.required'] = null"
        ng-error="updateFundraiser.errors.target.required"
        min="1"
        required
      />
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="section_id">القسم</label>
      <select
        id="section_id"
        class="form-control"
        ng-model="object.target.section_id"
        ng-class="(updateFundraiser.errors['target.section_id'] != null) ? 'is-invalid' : ''"
        ng-change="updateFundraiser.errors['target.section_id'] = null"
        ng-options="section.id as section.name for section in sections"
        ng-error="updateFundraiser.errors.target.section_id"
        required
      ></select>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="visible">ظاهرة</label>
      <select
        id="visible"
        class="form-control"
        ng-model="object.target.visible"
        ng-class="(updateFundraiser.errors['target.visible'] != null) ? 'is-invalid' : ''"
        ng-change="updateFundraiser.errors.target['target.visible'] = null"
        ng-error="updateFundraiser.errors.target.visible"
        required
      >
        <option ng-value="true">نعم</option>
        <option ng-value="false">لا</option>
      </select>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="archived">مؤرشفة</label>
      <select
        id="archived"
        class="form-control"
        ng-model="object.target.archived"
        ng-class="(updateFundraiser.errors['target.archived'] != null) ? 'is-invalid' : ''"
        ng-change="updateFundraiser.errors['target.archived'] = null"
        ng-error="updateFundraiser.errors.target.archived"
        required
      >
        <option ng-value="true">نعم</option>
        <option ng-value="false">لا</option>
      </select>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="documented">موثقة</label>
      <select
        id="documented"
        class="form-control"
        ng-model="object.target.documented"
        ng-class="(updateFundraiser.errors['target.documented'] != null) ? 'is-invalid' : ''"
        ng-change="updateFundraiser.errors.target['target.documented'] = null"
        ng-error="updateFundraiser.errors.target.documented"
        required
      >
        <option ng-value="true">نعم</option>
        <option ng-value="false">لا</option>
      </select>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="name">المتبرع</label>
      <select2
        model="object.donor_id"
        ajax-url="donors/search"
        error-model="updateFundraiser.errors.donor_id"
        required
      >
        <option selected value="{{object.donor.id}}">
          {{object.donor.text}}
        </option>
      </select2>
    </div>
  </div>
<div class="col-12 col-md-6">
    <div class="form-group">
      <label for="admins_ids">المشرفون</label>
      <select2
        model="object.admins_ids"
        ajax-url="users/search"
        error-model="updateFundraiser.errors.admins_ids"
        multiple
      >
        <option selected ng-repeat="p in object.admins" value="{{p.id}}">
          {{p.name}}
        </option>
      </select2>
    </div>
    </div>
  <div class="col-12">
    <submit-button form="updateFundraiserForm" icon="fe fe-edit"
      >تعديل</submit-button
    >
  </div>
</form>
