<page-header
  title="الحملة {{  $routeParams.id }}"
  pretitle="حملات التبرعات"
></page-header>

<page-nav>
  <page-nav-item route="fundraisers.overview" params="{id:  $routeParams.id}"
    >نظرة عامة</page-nav-item
  >
  <page-nav-item route="fundraisers.edit" params="{id:  $routeParams.id}"
    >تعديل المعلومات</page-nav-item
  >
  <page-nav-item route="fundraisers.contents" params="{id:  $routeParams.id}"
    >المحتوى</page-nav-item
  >
    <page-nav-item route="fundraisers.statuses" params="{id: $routeParams.id}"
    >تحديث الحالة </page-nav-item
  >
  <page-nav-item route="fundraisers.notes" params="{id: $routeParams.id}">الملاحظات </page-nav-item>
</page-nav>
