<include-header />
<div class="row m-2">
  <div class="col-6"></div>
  <div class="col-6 text-left">
    <button href="#" ng-click="showModal('add')" class="btn btn-primary">
      <i class="fe fe-plus"></i>&nbsp;إضافة حالة
    </button>
  </div>
</div>

<datatable datalist="statuses">
  <table>
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">الحالة بالعربي</th>
        <th class="text-center">الحالة بالأجتبي</th>
        <th class="text-center">خيارات</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="s in statuses.data">
        <td class="align-middle text-center">{{ s.id }}</td>
        <td class="align-middle text-center">{{ s.contents.status.ar }}</td>
        <td class="align-middle text-center">{{ s.contents.status.en }}</td>
        <td class="align-middle text-center h2">
          <dropdown>
            <dropdown-item href="javascript:;" ng-click="showModal( 'edit' , s)"
              ><i class="fe fe-edit-2"></i> تعديل</dropdown-item
            >
          </dropdown>
        </td>
      </tr>
    </tbody>
  </table>
</datatable>
<div class="card">
  <!-- Create Modal -->
  <modal id="status-modal">
    <modal-title>
      <span>
        <div ng-show="currentModalAction == 'add'">
          <i class="fe fe-plus-circle"></i>&nbsp; اضافة حالة جديدة
        </div>
        <div ng-show="currentModalAction == 'edit'">
           <i class="fe fe-edit"></i>&nbsp; تعديل تحديث الحالة {{ status.id }}
        </div>
      </span>
    </modal-title>
    <!-- create -->
    <div ng-if="currentModalAction == 'add'">
      <modal-body>
        <form
          name="createFundraiserStatusesForm"
          request="createUpdateStatusContent"
          model="status"
          id="myForm"
        >
          <div class="row">
            <div class="col-12 col-md-6" ng-show="currentModalAction == 'add'">
              <div class="form-group">
                <label for="value">الحالة </label>
                <input
                  id="value"
                  type="text"
                  class="form-control"
                  ng-class="(createUpdateStatusContent.errors.value != null) ? 'is-invalid' : ''"
                  ng-model="status.value"
                  ng-error="createUpdateStatusContent.errors.value"
                />
              </div>
            </div>
          </div>

          <submit-button
            ng-show="currentModalAction == 'add'"
            form="createFundraiserStatusesForm"
            icon="fe fe-plus"
            >اضافة</submit-button
          >
        </form>
      </modal-body>
    </div>

    <!-- update -->

    <div ng-if="currentModalAction == 'edit'">
      <modal-body>
        <div class="row">
          <div class="col-12 col-md-12" ng-if="currentModalAction == 'edit'">
            <content-card
              content-model="contents.status"
              content-title="الحالة"
              content-name="status"
            >
              <form
                name="createUpdateStatusContentForm"
                request="createUpdateStatusContent"
                model="statusContent"
                id="updateForm"
              >
                <div>
                  <div class="form-group">
                    <label for="keyword-content" class="locale-label"
                      >عربي</label
                    >
                    <textarea
                      id="keyword-content"
                      class="form-control"
                      type="text"
                      ng-model="statusContent.value"
                      ng-error="createUpdateStatusContent.errors.value"
                      required
                    ></textarea>
                  </div>
                </div>
                <div class="col-12">
                  <submit-button
                    form="createUpdateStatusContentForm"
                    icon="fe fe-edit"
                    >تعديل</submit-button
                  >
                </div>
              </form>
            </content-card>
          </div>
        </div>
      </modal-body>
    </div>
  </modal>
</div>
