<page-header title="كفالة جديدة" pretitle="الكفالات"></page-header>

<form class="row" name="createSponsorShipsForm" request="createSponsorShips">
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="beneficiary_name">اسم المستفيد</label>
      <input
        id="beneficiary_name"
        class="form-control"
        type="text"
        ng-model="object.beneficiary_name"
        ng-class="(createSponsorShips.errors.beneficiary_name != null) ? 'is-invalid' : ''"
        ng-change="createSponsorShips.errors.beneficiary_name = null"
        placeholder="الاسم.."
        ng-error="createSponsorShips.errors.beneficiary_name"
        required
      />
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="beneficiary_birthdate">تاريخ ميلاد المستفيد</label>
      <input
        id="beneficiary_birthdate"
        class="form-control"
        type="date"
        ng-model="object.beneficiary_birthdate"
        ng-class="(createSponsorShips.errors.beneficiary_birthdate != null) ? 'is-invalid' : ''"
        ng-change="createSponsorShips.errors.beneficiary_birthdate = null"
        ng-error="createSponsorShips.errors.beneficiary_birthdate"
        required
      />
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="country_id">الدولة</label>
      <select
        id="country_id"
        ng-model="object.country_id"
        class="form-control"
        ng-class="(createSponsorShips.errors.country_id != null) ? 'is-invalid' : ''"
        ng-change="createSponsorShips.errors.country_id = null"
        ng-options="country.id as country.name for country in countries"
        ng-init="object.country_id = countries[0].id"
        ng-error="createSponsorShips.errors.country_id"
        required
      ></select>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="beneficiaries_count">عدد المستفيدين</label>
      <input
        id="beneficiaries_count"
        class="form-control"
        type="number"
        ng-model="object.target['beneficiaries_count']"
        ng-class="(createSponsorShips.errors['target.beneficiaries_count'] != null) ? 'is-invalid' : ''"
        ng-change="createSponsorShips.errors['target.beneficiaries_count'] = null"
        ng-error="createSponsorShips.errors.target.beneficiaries_count"
        min="1"
        required
      />
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="required">المبلغ المطلوب شهريا</label>
      <input
        id="required"
        type="number"
        class="form-control"
        ng-model="object.target['required']"
        ng-class="(createSponsorShips.errors['target.required'] != null) ? 'is-invalid' : ''"
        ng-change="createSponsorShips.errors['target.required'] = null"
        ng-error="createSponsorShips.errors.target.required"
        min="1"
        required
      />
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="category_id">الصنف</label>
      <select
        id="category_id"
        class="form-control"
        ng-model="object.target.category_id"
        ng-options="category.id as category.name for category in categories"
        ng-class="(createSponsorShips.errors['target.category_id'] != null) ? 'is-invalid' : ''"
        ng-change="createSponsorShips.errors['target.category_id']= null"
        ng-error="createSponsorShips.errors.target.category_id"
        ng-init="object.target.category_id = categories[0].id"
        required
      ></select>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="visible">ظاهرة</label>
      <select
        id="visible"
        class="form-control"
        ng-model="object.target.visible"
        ng-class="(createSponsorShips.errors['target.visible'] != null) ? 'is-invalid' : ''"
        ng-change="createSponsorShips.errors['target.visible'] = null"
        ng-error="createSponsorShips.errors.target.visible"
        required
      >
        <option ng-value="true">نعم</option>
        <option ng-value="false">لا</option>
      </select>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="place_id">المكان</label>
      <select2
        model="object.place_id"
        ajax-url="places/search"
        error-model="createSponsorShips.errors.place_id"
        required
      ></select2>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="admins_ids">المشرفون</label>
      <select2
        model="object.admins_ids"
        ajax-url="users/search"
        error-model="createSponsorShips.errors.admins_ids"
        multiple
      ></select2>
    </div>
  </div>
  <div class="col-12">
    <submit-button form="createSponsorShipsForm" icon="fe fe-plus"
      >اضافة</submit-button
    >
  </div>
</form>
