<page-header title="قائمة الكفالات" pretitle="الكفالات">
  <a href="{{ $r('sponsorships.add') }}" class="btn btn-primary">
    <i class="fe fe-plus"></i>&nbsp; كفالة جديدة
  </a>
</page-header>

<datatable datalist="sponsorships">
  <table>
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">اسم المستفيد</th>
        <th class="text-center">تم كفالتها</th>
        <th class="text-center">خيارات</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="sponsorship in sponsorships.data">
        <td class="align-middle text-center">{{ sponsorship.id }}</td>
        <td class="align-middle text-center">
          {{ sponsorship.beneficiary_name }}
        </td>
        <td class="align-middle text-center">{{ sponsorship.sponsored }}</td>
        <td class="align-middle text-center">
          <span class="badge badge-soft-danger" ng-if="!sponsorship.sponsored"
            ><i class="fe fe-x"></i>غير مكفولة</span
          >
          <span class="badge badge-soft-success" ng-if="sponsorship.sponsored"
            ><i class="fe fe-check"></i>تم كفالتها</span
          >
        </td>
        <td class="align-middle text-center h2">
          <dropdown>
            <dropdown-item
              href="{{ $r('sponsorships.overview', {id: sponsorship.id}) }}"
              ><i class="fe fe-eye"></i> نظرة عامة</dropdown-item
            >
            <dropdown-item
              href="{{ $r('sponsorships.edit', {id: sponsorship.id}) }}"
              ><i class="fe fe-edit-2"></i> تعديل</dropdown-item
            >
            <dropdown-item
              href="{{ $r('sponsorships.sponsors', {id: sponsorship.id}) }}"
              ><i class="fe fe-align-center"></i> الكفلاء</dropdown-item
            >
          </dropdown>
        </td>
      </tr>
    </tbody>
  </table>
</datatable>
