<page-header title="إشعار جديدة" pretitle="الإشعارات"></page-header>
<form class="row" name="myForm" request="createNotification">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="name">الاسم </label>
            <input dir="ltr" type="text" class="form-control" ng-class="(createNotification.errors.name != null) ? 'is-invalid' : ''" id="name" ng-model="notification.name" ng-change="createNotification.errors.name = null" placeholder="اسم الإشعار .." required>
            <div ng-show="createNotification.errors.name != null" class="invalid-feedback">{{ createNotification.errors.name[0] }}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="body_ar">الوصف العربي</label>
            <input type="text" class="form-control" ng-class="(createNotification.errors.body_ar != null) ? 'is-invalid' : ''" id="body_ar" ng-model="notification.body.ar" ng-change="createNotification.errors.body.ar = null" placeholder="الوصف  العربي.." required>
            <div ng-show="createNotification.errors.body.ar != null" class="invalid-feedback">{{ createNotification.errors.body.ar[0] }}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="body_en">الوصف الانكليزي</label>
            <input  dir="ltr" type="text" class="form-control" ng-class="(createNotification.errors.body.en != null) ? 'is-invalid' : ''" id="body_en" ng-model="notification.body.en" ng-change="createNotification.errors.body.en = null" placeholder="الوصف الانكليزي .." required>
            <div ng-show="createNotification.errors.body.en != null" class="invalid-feedback">{{ createNotification.errors.body.en[0] }}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="path">الرابط </label>
            <input dir="ltr" type="text" class="form-control" ng-class="(createNotification.errors.path != null) ? 'is-invalid' : ''" id="path" ng-model="notification.path" ng-change="createNotification.errors.path = null" placeholder=" الرابط التشعبي عند الضغط على الإشعار ..">
            <div ng-show="createNotification.errors.path != null" class="invalid-feedback">{{ createNotification.errors.path[0] }}</div>
        </div>
    </div>
    <div class="col-12">
        <submit-button form="myForm" icon="fe fe-plus">اضافة</submit-button>
    </div>
</form>
