<page-header title="قائمة الأحداث" pretitle="الأحداث">
    <a href="{{ $r('events.add') }}" class="btn btn-primary"> <i class="fe fe-plus"></i>&nbsp; حدث جديد </a>
</page-header>
<datatable datalist="events">
    <table>
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">الاسم</th>
                <th class="text-center">الوصف العربي</th>
                <th class="text-center">الوصف الإنكليزي</th>
                <th class="text-center">خيارات</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ev in events.data">
                <td class="align-middle text-center">{{ ev.id }}</td>
                <td class="align-middle text-center">{{ ev.name }}</td>
                <td class="align-middle text-center">{{ ev.body_ar }}</td>
                <td class="align-middle text-center">{{ ev.body_en }}</td>
                <td class="align-middle text-center h2">
                    <dropdown>
                        <dropdown-item href="{{ $r('events.overview', {id: ev.id}) }}"><i class="fe fe-eye"></i> نظرة عامة</dropdown-item>
                        <dropdown-item href="{{ $r('events.edit', {id: ev.id}) }}"><i class="fe fe-edit-2"></i> تعديل</dropdown-item>
                    </dropdown>
                </td>
            </tr>
        </tbody>
    </table>
</datatable>
