<page-header title="قائمة الأقسام" pretitle="الأقسام">
    <a href="{{ $r('sections.add') }}" class="btn btn-primary" ng-if="$auth.can('sections.create')"> <i class="fe fe-plus"></i>&nbsp; قسم جديد </a>
</page-header>
<datatable datalist="sections">
    <table>
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">الاسم العربي</th>
                <th class="text-center">الاسم الإنكليزي</th>
                <th class="text-center">القسم الأب</th>
                <th class="text-center">خيارات</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="s in sections.data">
                <td class="align-middle text-center">{{ s.id }}</td>
                <td class="align-middle text-center">{{ s.name.ar }}</td>
                <td class="align-middle text-center">{{ s.name.en }}</td>
                <td class="align-middle text-center">{{ s.parent.name.ar}}</td>
                <td class="align-middle text-center h2">
                    <dropdown>
                        <dropdown-item href="{{ $r('sections.overview', {id: s.id}) }}"><i class="fe fe-eye"></i> نظرة عامة</dropdown-item>
                        <dropdown-item ng-if="$auth.can('sections.update')" href="{{ $r('sections.edit', {id: s.id}) }}"><i class="fe fe-edit-2"></i> تعديل</dropdown-item>
                    </dropdown>
                </td>
            </tr>
        </tbody>
    </table>
</datatable>
