<include-header/>
<form class="row" name="myForm" request="updatePermission">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="name">الاسم الانكليزي</label>
            <input type="text" class="form-control" ng-class="(updatePermission.errors.name != null) ? 'is-invalid' : ''" id="name" ng-model="permission.name" ng-change="updatePermission.errors.name = null" placeholder="الاسم الانكليزي.." required>
            <div ng-show="updatePermission.errors.name != null" class="invalid-feedback">{{ updatePermission.errors.name[0] }}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="title.ar">الوصف العربي</label>
            <input type="text" class="form-control" ng-class="(updatePermission.errors['title.ar'] != null) ? 'is-invalid' : ''" id="title_ar" ng-model="permission.title.ar" ng-change="updatePermission.errors['title.ar'] = null" placeholder="الوصف العربي .." required>
            <div ng-show="updatePermission.errors['title.ar'] != null" class="invalid-feedback">{{ updatePermission.errors['title.ar'][0] }}</div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="title_en">الوصف الإنكليزي</label>
            <input type="text" class="form-control" ng-class="(updatePermission.errors['title.en'] != null) ? 'is-invalid' : ''" id="title_en" ng-model="permission.title.en" ng-change="updatePermission.errors['title.en'] = null" placeholder="الوصف الإنكليزي .." required>
            <div ng-show="updatePermission.errors['title.en'] != null" class="invalid-feedback">{{ updatePermission.errors['title.en'][0] }}</div>
        </div>
    </div>
    <div class="col-12">
        <submit-button form="myForm" icon="fe fe-edit">تعديل</submit-button>
    </div>

</form>
