<include-header/>





<div class="row">
    <div class="col-12 col-lg-6">

        <table>
            <tr>
                <td class="text-muted py-3">الاسم</td>
                <td class="py-3 pr-3">{{ permission.name }}</td>
            </tr>
            <tr>
                <td class="text-muted py-3">الوصف العربي</td>
                <td class="py-3 pr-3">{{ permission.description_ar }}</td>
            </tr>
            <tr>
                <td class="text-muted py-3">الوصف الانكليزي</td>
                <td class="py-3 pr-3">{{ permission.description_en }}</td>
            </tr>
        </table>

    </div>

    
</div>






<hr>

