<page-header
  title="إضافة حملة جمع تبرعات جديدة"
  pretitle="حملات جمع التبرعات"
></page-header>
<form class="row" name="createFundraiserForm" request="createFundraiser">
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="public_visibility">متاح للعامة</label>
      <select
        id="public_visibility"
        class="form-control"
        ng-model="object.public_visibility"
        ng-class="(createFundraiser.errors.public_visibility != null) ? 'is-invalid' : ''"
        ng-change="createFundraiser.errors.public_visibility = null"
        ng-error="createFundraiser.errors.public_visibility"
        required
      >
        <option ng-value="true">نعم</option>
        <option ng-value="false">لا</option>
      </select>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="verified">مؤكد</label>
      <select
        id="verified"
        class="form-control"
        ng-model="object.verified"
        ng-class="(createFundraiser.errors.verified != null) ? 'is-invalid' : ''"
        ng-change="createFundraiser.errors.verified = null"
        ng-error="createFundraiser.errors.verified"
        required
      >
        <option ng-value="true">نعم</option>
        <option ng-value="false">لا</option>
      </select>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="required">المبلغ المطلوب</label>
      <input
        id="required"
        type="number"
        class="form-control"
        ng-class="(createFundraiser.errors['target.required'] != null) ? 'is-invalid' : ''"
        ng-model="object.target['required']"
        ng-change="createFundraiser.errors['target.required'] = null"
        ng-error="createFundraiser.errors.target.required"
        required
      />
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="section_id">القسم</label>
      <select
        id="section_id"
        class="form-control"
        ng-model="object.target.section_id"
        ng-class="(createFundraiser.errors['target.section_id'] != null) ? 'is-invalid' : ''"
        ng-change="createFundraiser.errors['target.section_id'] = null"
        ng-options="section.id as section.name for section in sections"
        ng-error="createFundraiser.errors.target.section_id"
        ng-init="object.target.section_id = sections[0].id"
        required
      ></select>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="visible">ظاهرة</label>
      <select
        id="visible"
        class="form-control"
        ng-model="object.target.visible"
        ng-class="(createFundraiser.errors['target.visible'] != null) ? 'is-invalid' : ''"
        ng-change="createFundraiser.errors['target.visible'] = null"
        ng-error="createFundraiser.errors.target.visible"
        required
      >
        <option ng-value="true">نعم</option>
        <option ng-value="false">لا</option>
      </select>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="form-group">
      <label for="name">المتبرع</label>
      <select2
        model="object.donor_id"
        ajax-url="donors/search"
        required
        error-model="createFundraiser.errors.donor_id"
      ></select2>
    </div>
  </div>

  <div class="col-12">
    <submit-button form="createFundraiserForm" icon="fe fe-plus"
      >اضافة</submit-button
    >
  </div>
</form>
