<page-header title="قائمة حملات حمع التبرعات" pretitle="حملات جمع التبرعات">
    <a href="{{ $r('fundraisers.add') }}" class="btn btn-primary">
        <i class="fe fe-plus"></i>&nbsp; حملة جمع تبرعات جديدة
    </a>
</page-header>
<div class="text-center h4 mt-4 mb-4">العدد الكلي : {{ fundraisers.length }}</div>
<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <div class="input-group input-group-flush input-group-merge">
                    <input type="search" ng-model="search" class="form-control form-control-prepended search"
                        placeholder="اكتب كلمة للبحث ثم اضغط Enter  ..." />
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="fe fe-search"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-auto">
                <!-- Button -->
                <button class="btn btn-sm btn-white" type="button" data-toggle="tooltip" data-placement="top"
                    title="خيارات الفلترة والعرض">
                    <i class="fe fe-sliders"></i>
                </button>

                <button class="btn btn-sm btn-white" type="button" data-toggle="tooltip" data-placement="top"
                    title="تصدير القائمة الى ملف CSV">
                    <i class="fe fe-download"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-sm card-table">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">متاح للعامة</th>
                    <th class="text-center">تم التأكيد</th>
                    <th class="text-center">خيارات</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-show="fundraisers.length == 0">
                    <td colspan="10" class="text-center">
                        <div class="pt-3 pb-2 h4" ng-show="fundraisers.length == 0">
                            لا يوجد أية عناصر في هذه القائمة
                        </div>
                    </td>
                </tr>

                <tr ng-repeat="item in fundraisers | filter : search">
                    <td class="align-middle text-center">{{ item.id }}</td>
                    <!-- public_visibility -->
                    <td class="align-middle text-center">
                        <span class="badge badge-soft-success" ng-if="item.public_visibility">
                            <i class="fe fe-check"></i>
                        </span>
                        <span class="badge badge-soft-danger" ng-if="!item.public_visibility"> <i
                                class="fe fe-x"></i></span>
                    </td>
                    <!-- verified -->
                    <td class="align-middle text-center">
                        <span class="badge badge-soft-success" ng-if="item.verified">
                            <i class="fe fe-check"></i>
                        </span>
                        <span class="badge badge-soft-danger" ng-if="!item.verified"> <i class="fe fe-x"></i></span>
                    </td>

                    <td class="align-middle text-center h2">
                        <div class="dropdown">
                            <a href="javascript:;" class="color-black mr-2" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><i class="fe fe-more-vertical"></i></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"
                                    href="{{ $r('fundraisers.overview', {id: item.id}) }}"><i
                                        class="fe fe-eye"></i> نظرة عامة</a>
                                <a class="dropdown-item"
                                    href="{{ $r('fundraisers.edit', {id: item.id}) }}"><i
                                        class="fe fe-edit-2"></i> تعديل</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
